.lvg-sidebar-overlay {
	z-index: 1990;
}

.lvg-left-sidebar {
	z-index: 2000;
	top: 0;
	left: -250px;
	width: 250px;
	position: absolute;
	background-color: #f5f5f5;
	min-height: 100%;
	-moz-transition: left 0.3s;
	-webkit-transition: left 0.3s;
	-o-transition: left 0.3s;
	transition: left 0.3s;
}

.lvg-left-sidebar-open {
	left: 0px;
}

.lvg-left-sidebar .sidebar {
	margin-bottom: 5px;
	color: #333333;
}

.lvg-left-sidebar .sidebar .sidebar-form input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: transparent !important;
}

.lvg-left-sidebar .sidebar .sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.lvg-left-sidebar .sidebar .sidebar-menu > li {
	margin: 0;
	padding: 0;
}

.lvg-left-sidebar .sidebar .sidebar-menu > li.navigation {
	font-weight: bold;
}

.lvg-left-sidebar .sidebar .sidebar-menu > li.action {
	background-color: #eceff1;
	border-top: 1px solid #cfd8dc;
}

.lvg-left-sidebar .sidebar .sidebar-menu > li > a {
	padding: 12px 5px 12px 15px;
	display: block;
	color: #333333;
}

.lvg-left-sidebar .sidebar .sidebar-menu > li.action > a {
	padding: 6px 5px 6px 15px;
	display: block;
	color: #333333;
}

.lvg-left-sidebar .sidebar .sidebar-menu > li > a > .fa,
.lvg-left-sidebar .sidebar .sidebar-menu > li > a > .glyphicon,
.lvg-left-sidebar .sidebar .sidebar-menu > li > a > .ion {
	width: 20px;
	font-weight: normal;
}

.lvg-left-sidebar .sidebar > .sidebar-menu > li:last-of-type {
	border-bottom: 1px solid #cfd8dc;
}

.lvg-left-sidebar .sidebar > .sidebar-menu > li > a {
	margin-right: 1px;
}

.lvg-left-sidebar .sidebar > .sidebar-menu li > a:hover {
	color: #333333;
}

.lvg-left-sidebar .sidebar > .sidebar-menu li.navigation > a:hover {
	background-color: #eceff1;
}

.lvg-left-sidebar .lvg-left-sidebar .sidebar > .sidebar-menu li.action > a:hover {
	background-color: #cfd8dc;
}

.lvg-left-sidebar .sidebar a:hover {
	text-decoration: none;
}
