<div class="row row-inherit">
    <div class="lvg-card-comment__avatar flex no-grow">
        <lvg-user-avatar user-id="$ctrl.comment.userId"></lvg-user-avatar>
    </div>
    <div class="flex">
        <div class="lvg-card-comment__body flex column">
            <div class="lvg-card-comment__headline row row-inherit start-xs middle-xs">
                <div class="flex no grow">
                    <lvg-user-link class="lvg-card-activity__user" user-id="$ctrl.comment.userId"></lvg-user-link>
                    <span class="lvg-card-activity__time">{{ $ctrl.comment.time | dateIncremental }}</span>
                    <span class="lvg-card-comment__edited" ng-if="$ctrl.comment.updatedCount">{{::('label.edited' | translate)}}</span>
                </div>
                <div class="flex"></div>
                <div class="flex no-grow">
                    <md-button data-lvg-has-permission="UPDATE_CARD_COMMENT" data-owner-id="$ctrl.comment.userId"
                               data-ng-click="$ctrl.commentEdit = $ctrl.comment.content; $ctrl.editComment = true;" ng-hide="$ctrl.editComment"
                               class="lvg-small-icon-button">
                        <md-tooltip><span translate>card.comment.edit.tooltip</span></md-tooltip>
                        <md-icon md-svg-icon="edit"></md-icon>
                    </md-button>
                    <md-button data-lvg-has-permission="DELETE_CARD_COMMENT" data-owner-id="$ctrl.comment.userId"
                               data-ng-click="$ctrl.delete()" class="lvg-small-icon-button">
                        <md-tooltip><span translate>card.comment.delete.tooltip</span></md-tooltip>
                        <md-icon md-svg-icon="delete"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="lvg-card-comment__content" ng-if="!$ctrl.editComment"
                 data-ng-bind-html="$ctrl.comment.content | markdown">
            </div>
            <div class="lvg-card-comment__edit" ng-if="$ctrl.editComment">
                <form data-ng-submit="$ctrl.updateComment($ctrl.commentEdit); $ctrl.editComment = false; $ctrl.commentPreviewMode = false;">
                    <div data-ng-hide="$ctrl.commentPreviewMode">
                        <textarea class="lvg-card-activity__actions-textarea"
                            ng-model="$ctrl.commentEdit" rows="5" lvg-focus-on="$ctrl.editComment"></textarea>
                    </div>
                    <div data-ng-show="$ctrl.commentPreviewMode"
                         data-ng-bind-html="$ctrl.commentEdit | markdown"></div>
                    <div class="lvg-card-comment__actions-button-row">
                        <md-button class="md-primary" type="submit">
                            <span data-translate>button.update</span>
                        </md-button>
                        <md-button data-ng-hide="$ctrl.commentPreviewMode"
                                   data-ng-click="$ctrl.commentPreviewMode = true" type="button">
                            <span data-translate>button.preview</span>
                        </md-button>
                        <md-button data-ng-show="$ctrl.commentPreviewMode"
                                   data-ng-click="$ctrl.commentPreviewMode = false" type="button">
                            <span data-translate>button.closePreview</span>
                        </md-button>
                        <md-button ng-click="$ctrl.editComment = false; $ctrl.commentPreviewMode = false;">
                            <span data-translate>button.cancel</span>
                        </md-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
