.lvg-card-comment__avatar {
    margin-right: 15px;
}

.lvg-card-comment__edited {
    margin-left: 10px;
    color: red;
    text-transform: uppercase
}

.lvg-card-comment__edit-headline {
    height: 30px;
}

.lvg-card-comment__edit-content {
    margin-top: 10px;
}
