<div class="lvg-content lvg-content__row-item">
    <lvg-stats-panel-project ng-if="!$ctrl.$mdMedia('(min-width: 768px)')"
                             data-ng-repeat="ab in $ctrl.profile.activeProjects | filter:{project: {archived: false}}"
                             project="ab.project"
                             hide-menu="true"></lvg-stats-panel-project>
    <div ng-if="$ctrl.$mdMedia('(min-width: 768px)')" class="row row-inherit">
        <div class="col-sm-6 col-xs-12">
            <lvg-stats-panel-project data-ng-repeat="ab in $ctrl.activeProjectsLeft | limitTo: 4"
                                     project="ab.project"
                                     hide-menu="true"
                                     class="lvg-user-dashboard__project">
            </lvg-stats-panel-project>
        </div>
        <div class="col-sm-6 col-xs-12">
            <lvg-stats-panel-project data-ng-repeat="ab in $ctrl.activeProjectsRight | limitTo: 4"
                                     project="ab.project"
                                     hide-menu="true"
                                     class="lvg-user-dashboard__project">
            </lvg-stats-panel-project>
        </div>
    </div>
</div>
