<div class="lvg-navigation-bar lvg-inverted" data-ng-switch="navbarType">
	<div class="navigation-frame"><span data-translate>500.step1</span><i class="fa fa-angle-right"></i><span data-translate>500.step2</span></div>
</div>

<div class="container auto-margin lavagna-container-top-margin">
	<div class="row">
		<div class="col-xs-12">
			<div class="lavagna-panel">
				<div class="head clearfix headonly">
					<div class="title title-bold col-xs-12" data-translate>Ouch...</div>
				</div>
				<div class="body separated">
					<span data-translate>Something went wrong.</span>
				</div>
			</div>
		</div>
	</div>
</div>