<ul class="notification__list" data-ng-if="$ctrl.notifications.length > 0">
    <li class="notification row row-inherit"
        data-ng-repeat="notification in $ctrl.notifications"
        data-ng-class="{
            'notification--success': notification.type === 'success',
            'notification--error': notification.type === 'error',
            'notification--warning': notification.type === 'warning'
        }">
        <span class="notification__text flex">{{ notification.event.key | translate: notification.event.parameters}}</span>
        <md-button data-ng-if="notification.undo"
                   data-ng-click="notification.undoFn(notification)"
                   class="notification__button">
            <span translate>notification.action.undo</span>
        </md-button>
        <md-button data-ng-if="notification.dismissable"
                   data-ng-click="notification.acknowledge()"
                   class="notification__button">
            <span translate>notification.action.dismiss</span>
        </md-button>
    </li>
</ul>
