
lvg-notification #notifications {
    z-index: 9999;
}

lvg-notification .lavagna-notifications {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

lvg-notification .lavagna-notifications ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

lvg-notification .lavagna-notifications ul li.notification {
    margin: 0 0 6px;
    padding: 5px 10px;
    width: 280px;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    opacity: 0.75;
    word-wrap: break-word;
    display: block;
    position: relative;
}

lvg-notification .lavagna-notifications ul li.notification:hover {
    box-shadow: 0 0 12px #999999;
    opacity: 1;
}

lvg-notification .lavagna-notifications ul li.success {
    background: rgba(136, 193, 52, 1);
}

lvg-notification .lavagna-notifications ul li.error {
    background: rgba(189, 54, 47, 1);
}

lvg-notification .lavagna-notifications ul li.warning {
    background: rgba(248, 148, 6, 1);
}

lvg-notification li.notification span.lavagna-notification-text {
    display: inline-block;
    width: 260px;
}

lvg-notification li.notification span.lavagna-notification-text-margin {
    margin-top: 25px;
}

lvg-notification li.notification ul.notification-controls {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
    border-bottom: 1px solid white;
    display: block;
    width: 260px;
}

lvg-notification li.notification ul.notification-controls li {
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 10px;
    padding-bottom: 4px;
    cursor: pointer;
    float: right;
}