<div id="notifications" class="lavagna-notifications" data-ng-if="$ctrl.notifications.length > 0">
	<ul>
		<li class="notification {{notification.type}} clearfix" data-ng-repeat="notification in $ctrl.notifications">
			<ul data-ng-if="notification.dismissable || notification.undo" class="notification-controls">
				<li data-ng-if="notification.dismissable" data-ng-click="notification.acknowledge()" data-translate>partials.fragments.notifications-fragment.dismiss</li>
				<li data-ng-if="notification.undo" data-ng-click="notification.undoFn(notification)" data-translate>partials.fragments.notifications-fragment.undo</li>
			</ul>
			<span class="lavagna-notification-text" data-ng-class="{'lavagna-notification-text-margin': notification.dismissable || notification.undo}">{{ notification.event.key | translate: notification.event.parameters}}</span>
		</li>
	</ul>
</div>
