button.lvg-small-icon-button, a.lvg-small-icon-button {
    margin: 0 6px;
    height: 30px;
    min-height: 30px;
    min-width: 0;
    line-height: 18px;
    padding: 6px;
    width: 30px;
    border-radius: 50%;
}

button.lvg-small-icon-button md-icon, a.lvg-small-icon-button md-icon {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
}
