<div class="col-xs-12">
    <div class="lavagna-panel" data-ng-class="{collapsed : !$ctrl.anonEnabled}">
        <div class="head clearfix headonly">
            <div class="title title-bold col-xs-9" data-translate>partials.admin.manage-anonymous-users-access.title</div>
            <div class="title-addon col-xs-3">
                <ul class="panel-controls">
                    <li class="control-no-action">
                        <md-switch ng-model="$ctrl.anonEnabled" ng-change="$ctrl.anonChange($ctrl.anonEnabled)"></md-switch>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body separated">
            <div>
                <md-switch 
                    ng-model="$ctrl.userHasGlobalRole" 
                    ng-change="$ctrl.globalRoleChange($ctrl.userHasGlobalRole)"></md-switch>
                <div class="lvg-switch-label"><span data-translate>partials.admin.manage-anonymous-users-access.globalAccess</span></div>
            </div>
            <div>
                <md-switch
                    ng-model="$ctrl.userHasSearchPermission"
                    ng-change="$ctrl.searchRoleChange($ctrl.userHasSearchPermission)"></md-switch>
                <div class="lvg-switch-label"><span data-translate>partials.admin.manage-anonymous-users-access.enableSearch</span></div>
            </div>
        </div>
    </div>

    <div class="lavagna-panel">
        <div class="head clearfix headonly">
            <div class="title title-bold col-xs-9" data-translate>partials.admin.configure-login.demo</div>
            <div class="title-addon col-xs-3 lvg-switch-controls">
                <ul class="panel-controls">
                    <li class="control-no-action">
                        <md-switch
                            ng-model="$ctrl.authMethod.DEMO"
                            ng-change="$ctrl.updateActiveProviders()"></md-switch>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="lavagna-panel" data-ng-class="{collapsed : !$ctrl.authMethod.LDAP}">
        <form data-ng-submit="$ctrl.saveLdapConfig($ctrl.ldap)">
            <div class="head clearfix headonly">
                <div class="title title-bold col-xs-9" data-translate>partials.admin.configure-login.ldap</div>
                <div class="title-addon col-xs-3 lvg-switch-controls">
                    <ul class="panel-controls">
                        <li class="control-no-action">
                            <md-switch 
                                ng-model="$ctrl.authMethod.LDAP"
                                ng-change="$ctrl.updateActiveProviders()"></md-switch>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="body separated">
                <div class="form-group">
                    <div class="lvg-form-label" data-translate>partials.admin.configure-login.ldap.serverUrl</div>
                    <input class="form-control" type="text" placeholder="ldap://localhost:10389" data-ng-model="$ctrl.ldap.serverUrl">
                </div>
                <div class="form-group">
                    <div class="lvg-form-label" data-translate>partials.admin.configure-login.ldap.managerDn</div>
                    <input class="form-control" type="text" placeholder="uid=admin,ou=system" data-ng-model="$ctrl.ldap.managerDn">
                </div>
                <div class="form-group">
                    <div class="lvg-form-label" data-translate>partials.admin.configure-login.ldap.managerPassword</div>
                    <input class="form-control" type="password" placeholder="secret" data-ng-model="$ctrl.ldap.managerPassword" autocomplete="off">
                </div>
                <div class="form-group">
                    <div class="lvg-form-label" data-translate>partials.admin.configure-login.ldap.userSearchBase</div>
                    <input class="form-control" type="text" placeholder="ou=system" data-ng-model="$ctrl.ldap.userSearchBase">
                </div>
                <div class="form-group">
                    <div class="lvg-form-label" data-translate>partials.admin.configure-login.ldap.userSearchFilter</div>
                    <input class="form-control" type="text" placeholder="uid={0}" data-ng-model="$ctrl.ldap.userSearchFilter">
                </div>
            </div>
            <div class="footer clearfix">
                <div class="content">
                    <div>
                        <button type="submit" class="lvg-button lvg-button-submit" data-translate>button.save</button>
                        <button type="button" class="lvg-button lvg-button-default"
                                data-ng-click="$ctrl.openLdapConfigModal()"><span data-translate>partials.admin.configure-login.ldap.check</span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="lavagna-panel" data-ng-class="{collapsed : !$ctrl.authMethod.PERSONA}">
        <form data-ng-submit="$ctrl.savePersonaConfig($ctrl.persona)">
            <div class="head clearfix headonly">
                <div class="title title-bold col-xs-9" data-translate>partials.admin.configure-login.persona</div>
                <div class="title-addon col-xs-3 lvg-switch-controls">
                    <ul class="panel-controls">
                        <li class="control-no-action">
                            <md-switch
                                ng-model="$ctrl.authMethod.PERSONA"
                                ng-change="$ctrl.updateActiveProviders()"></md-switch>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="body separated">
                <div class="form-group">
                    <div class="lvg-form-label" data-translate>partials.admin.configure-login.persona.audience</div>
                    <input class="form-control" type="text" data-ng-model="$ctrl.persona.audience">
                </div>

                <p class="help-block" data-translate>partials.admin.configure-login.persona.help</p>
            </div>
            <div class="footer clearfix">
                <div class="content">
                    <div>
                        <button type="submit" class="lvg-button lvg-button-submit" data-translate>button.save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="lavagna-panel" data-ng-class="{collapsed : !$ctrl.authMethod.OAUTH}">
        <form data-ng-submit="$ctrl.saveOauthConfig()">
            <div class="head clearfix headonly">
                <div class="title title-bold col-xs-9" data-translate>partials.admin.configure-login.oauth</div>
                <div class="title-addon col-xs-3 lvg-switch-controls">
                    <ul class="panel-controls">
                        <li class="control-no-action">
                            <md-switch
                                ng-model="$ctrl.authMethod.OAUTH"
                                ng-change="$ctrl.updateActiveProviders()"></md-switch>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="body separated">
                <div class="form-group">
                    <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.baseUrl</div>
                    <input class="form-control" type="text" data-ng-model="$ctrl.oauth.baseUrl">
                </div>
                <div class="lvg-oauth-provider-title" data-translate>partials.admin.configure-login.oauth.preconfigured-online-providers</div>
                <div class="form-group" data-ng-repeat="provider in $ctrl.oauthProviders | filter: {isConfigurableInstance:false}">
                    <div>
                        <md-switch ng-model="$ctrl.oauth[provider.name].present"></md-switch>
                        <div class="lvg-switch-label lvg-oauth-provider"><span data-ng-bind="provider.name"></span></div>
                    </div>
                    <div data-ng-show="$ctrl.oauth[provider.name].present" class="lvg-oauth-provider-panel">
                        <div class="form-group">
                            <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.apiKey</div>
                            <input class="form-control" type="text" data-ng-model="oauth[provider.name].apiKey">
                        </div>
                        <div class="form-group">
                            <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.secret</div>
                            <input class="form-control" type="text" data-ng-model="$ctrl.oauth[provider.name].apiSecret">
                        </div>
                        <div class="form-group">
                            <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.callback</div>
                            <input class="form-control form-selectable" type="text" disabled value="{{$ctrl.oauth.baseUrl}}login/oauth/{{provider.name}}/callback">
                        </div>
                    </div>
                </div>
                <div class="lvg-oauth-provider-title" data-translate>partials.admin.configure-login.oauth.configurable-oauth-providers</div>
                <div class="form-group" data-ng-repeat="provider in $ctrl.oauthProviders | filter: {isConfigurableInstance:true}">
                    <div>
                        <md-switch ng-model="$ctrl.oauth[provider.name].present"></md-switch>
                        <div class="lvg-switch-label lvg-oauth-provider"><span data-ng-bind="provider.name"></span></div>
                    </div>
                    <div data-ng-show="$ctrl.oauth[provider.name].present" class="lvg-oauth-provider-panel">
                        <div class="form-group">
                            <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.base-url</div>
                            <input class="form-control" type="text" data-ng-model="$ctrl.oauth[provider.name].baseUrl">
                        </div>
                        <!--
                        <div class="form-group">
                            <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.profile-url</div>
                            <input class="form-control" type="text" data-ng-model="oauth[provider.name].profileUrl">
                        </div>
                         -->
                        <div class="form-group">
                            <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.apiKey</div>
                            <input class="form-control" type="text" data-ng-model="$ctrl.oauth[provider.name].apiKey">
                        </div>
                        <div class="form-group">
                            <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.secret</div>
                            <input class="form-control" type="text" data-ng-model="$ctrl.oauth[provider.name].apiSecret">
                        </div>
                        <div class="form-group">
                            <div class="lvg-form-label" data-translate>partials.admin.configure-login.oauth.callback</div>
                            <input class="form-control form-selectable" type="text" disabled value="{{$ctrl.oauth.baseUrl}}login/oauth/{{provider.name}}/callback">
                        </div>
                    </div>
                </div>
                <div data-ng-if="($ctrl.oauthProviders | filter: {isConfigurableInstance:true}).length === 0" data-translate>partials.admin.configure-login.oauth.no-providers</div>
            </div>
            <div class="footer clearfix">
                <div class="content">
                    <div>
                        <button type="submit" class="lvg-button lvg-button-submit" data-translate>button.save</button>
                        <a type="button" class="lvg-button lvg-button-submit" data-ng-click="$ctrl.openOauthAddNewModal()">
                            <span data-translate>partials.admin.configure-login.oauth.add-new-provider</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
