<div class="row row-inherit" ng-if="$ctrl.comment === undefined">
    <p class="lvg-card-comment__deleted" translate>card.comment.deleted-comment</p>
</div>
<div class="row row-inherit" ng-if="$ctrl.comment !== undefined">
    <div class="lvg-card-comment__avatar flex no-grow">
        <lvg-user-avatar user-id="$ctrl.comment.userId"></lvg-user-avatar>
    </div>
    <div class="flex">
        <div class="lvg-card-comment__body flex column">
            <div class="lvg-card-comment__headline row row-inherit start-xs middle-xs">
                <div class="lvg-card-comment__user flex">
                    <lvg-user-link user-id="$ctrl.comment.userId"></lvg-user-link>
                </div>
                <div class="flex"></div>
                <div class="flex no-grow">
                    <md-button data-lvg-has-permission="UPDATE_CARD_COMMENT" data-owner-id="$ctrl.comment.userId"
                               data-ng-click="commentEdit = $ctrl.comment.content; editComment = true;" ng-hide="editComment"
                               class="lvg-small-icon-button">
                        <md-tooltip>{{'card.comment.edit.tooltip' | translate}}</md-tooltip>
                        <md-icon md-svg-icon="edit"></md-icon>
                    </md-button>
                    <md-button data-lvg-has-permission="DELETE_CARD_COMMENT" data-owner-id="$ctrl.comment.userId"
                               data-ng-click="$ctrl.delete()" class="lvg-small-icon-button">
                        <md-tooltip>{{'card.comment.delete.tooltip' | translate}}</md-tooltip>
                        <md-icon md-svg-icon="delete"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="lvg-card-comment__content" ng-hide="editComment"
                 data-ng-bind-html="$ctrl.comment.content | markdown">
            </div>
            <div class="lvg-card-comment__edit" ng-show="editComment">
                <form data-ng-submit="$ctrl.updateComment(commentEdit); editComment = false; commentPreviewMode = false;">
                    <div data-ng-hide="commentPreviewMode">
                        <textarea class="lvg-card-activity__actions-textarea"
                            ng-model="commentEdit" rows="5" md-select-on-focus></textarea>
                    </div>
                    <div data-ng-show="commentPreviewMode"
                         data-ng-bind-html="commentEdit | markdown"></div>
                    <div class="lvg-card-comment__actions-button-row">
                        <md-button class="md-primary" type="submit">
                            <span data-translate>button.update</span>
                        </md-button>
                        <md-button data-ng-hide="commentPreviewMode"
                                   data-ng-click="commentPreviewMode = true" type="button">
                            <span data-translate>button.preview</span>
                        </md-button>
                        <md-button data-ng-show="commentPreviewMode"
                                   data-ng-click="commentPreviewMode = false" type="button">
                            <span data-translate>button.closePreview</span>
                        </md-button>
                        <md-button ng-click="editComment = false; commentPreviewMode = false;">
                            <span data-translate>button.cancel</span>
                        </md-button>
                    </div>
                </form>
            </div>
            <div class="lvg-card-comment__footer" ng-hide="editComment">
                {{$ctrl.user | userInitials}}
            </div>
        </div>
    </div>
</div>
