.lvg-card-comment {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 10px;
}

.lvg-card-comment:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.lvg-card-comment__avatar {
    margin-right: 15px;
}
