

<md-toolbar>
   	<div class="md-toolbar-tools">
		<h2>{{::managePermsCtrl.roleName}}</h2>
		<span class="flex"></span>
		<md-button class="md-icon-button" ng-click="managePermsCtrl.cancelWithConfirmation()">
			<md-icon md-font-icon="fa-times" class="fa"></md-icon>
    	</md-button>
    </div>
</md-toolbar>

<md-dialog-content>
	<div class="md-dialog-content">


    <div class="row">
        <div class="col-md-6">
            <div data-ng-if="managePermsCtrl.hasCategory('APPLICATION')">
                <div class="head clearfix"><div class="title" data-translate>partials.fragments.common-manage-roles-modal.applicationPermissions</div></div>
                <div class="body-full">
                    <ul class="lvg-modal-roles">
                        <li class="role" data-ng-repeat="permission in managePermsCtrl.permissionsByCategory | permissionsByCategory:'APPLICATION'"
                            data-ng-init="managePermsCtrl.assignStatus[permission] = {}"
                            data-ng-class="{'role-change' : managePermsCtrl.hasChanged(permission, managePermsCtrl.roleDesc.roleAndPermissions, managePermsCtrl.assignStatus[permission].checked)}">
                            <div class="role-checkbox">
                                <input type="checkbox"
                                       data-ng-init="managePermsCtrl.assignStatus[permission].checked = managePermsCtrl.hasPermission(permission, managePermsCtrl.roleDesc.roleAndPermissions)"
                                       data-ng-model="managePermsCtrl.assignStatus[permission].checked" data-ng-disabled="managePermsCtrl.roleDesc.readOnly" id="{{::permission}}">
                            </div>
                            <div class="role-name"><label for="{{::permission}}">{{::permission}}</label></div>
                    </ul>
                </div>
            </div>
            <div data-ng-if="managePermsCtrl.hasCategory('PROJECT')">
                <div class="head clearfix"><div class="title" data-translate>partials.fragments.common-manage-roles-modal.projectPermissions</div></div>
                <div class="body-full">
                    <ul class="lvg-modal-roles">
                        <li class="role" data-ng-repeat="permission in managePermsCtrl.permissionsByCategory | permissionsByCategory:'PROJECT'"
                            data-ng-init="managePermsCtrl.assignStatus[permission] = {}"
                            data-ng-class="{'role-change' : managePermsCtrl.hasChanged(permission, managePermsCtrl.roleDesc.roleAndPermissions, managePermsCtrl.assignStatus[permission].checked)}">
                            <div class="role-checkbox">
                                <input type="checkbox"
                                       data-ng-init="managePermsCtrl.assignStatus[permission].checked = managePermsCtrl.hasPermission(permission, managePermsCtrl.roleDesc.roleAndPermissions)"
                                       data-ng-model="managePermsCtrl.assignStatus[permission].checked" data-ng-disabled="managePermsCtrl.roleDesc.readOnly" id="{{::permission}}">
                            </div>
                            <div class="role-name"><label for="{{::permission}}">{{::permission}}</label></div>
                    </ul>
                </div>
            </div>
            <div  data-ng-if="managePermsCtrl.hasCategory('BOARD')">
                <div class="head clearfix"><div class="title" data-translate>partials.fragments.common-manage-roles-modal.boardPermissions</div></div>
                <div class="body-full">
                    <ul class="lvg-modal-roles">
                        <li class="role" data-ng-repeat="permission in managePermsCtrl.permissionsByCategory | permissionsByCategory:'BOARD'"
                            data-ng-init="managePermsCtrl.assignStatus[permission] = {}"
                            data-ng-class="{'role-change' : managePermsCtrl.hasChanged(permission, managePermsCtrl.roleDesc.roleAndPermissions, managePermsCtrl.assignStatus[permission].checked)}">
                            <div class="role-checkbox">
                                <input type="checkbox"
                                       data-ng-init="managePermsCtrl.assignStatus[permission].checked = managePermsCtrl.hasPermission(permission, managePermsCtrl.roleDesc.roleAndPermissions)"
                                       data-ng-model="managePermsCtrl.assignStatus[permission].checked" data-ng-disabled="managePermsCtrl.roleDesc.readOnly" id="{{permission}}">
                            </div>
                            <div class="role-name"><label for="{{::permission}}">{{::permission}}</label></div>
                    </ul>
                </div>
            </div>
            <div class="lavagna-card-panel" data-ng-if="managePermsCtrl.hasCategory('COLUMN')">
                <div class="head clearfix"><div class="title" data-translate>partials.fragments.common-manage-roles-modal.columnPermissions</div></div>
                <div class="body-full">
                    <ul class="lvg-modal-roles">
                        <li class="role" data-ng-repeat="permission in managePermsCtrl.permissionsByCategory | permissionsByCategory:'COLUMN'"
                            data-ng-init="managePermsCtrl.assignStatus[permission] = {}"
                            data-ng-class="{'role-change' : managePermsCtrl.hasChanged(permission, managePermsCtrl.roleDesc.roleAndPermissions, managePermsCtrl.assignStatus[permission].checked)}">
                            <div class="role-checkbox">
                                <input type="checkbox"
                                       data-ng-init="managePermsCtrl.assignStatus[permission].checked = managePermsCtrl.hasPermission(permission, managePermsCtrl.roleDesc.roleAndPermissions)"
                                       data-ng-model="managePermsCtrl.assignStatus[permission].checked" data-ng-disabled="managePermsCtrl.roleDesc.readOnly" id="{{::permission}}">
                            </div>
                            <div class="role-name"><label for="{{::permission}}">{{::permission}}</label></div>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div data-ng-if="managePermsCtrl.hasCategory('CARD')">
                <div class="head clearfix"><div class="title" data-translate>partials.fragments.common-manage-roles-modal.cardPermissions</div></div>
                <div class="body-full">
                    <ul class="lvg-modal-roles">
                        <li class="role" data-ng-repeat="permission in managePermsCtrl.permissionsByCategory | permissionsByCategory:'CARD'"
                            data-ng-init="managePermsCtrl.assignStatus[permission] = {}"
                            data-ng-class="{'role-change' : managePermsCtrl.hasChanged(permission, managePermsCtrl.roleDesc.roleAndPermissions, managePermsCtrl.assignStatus[permission].checked)}">
                            <div class="role-checkbox">
                                <input type="checkbox"
                                       data-ng-init="managePermsCtrl.assignStatus[permission].checked = managePermsCtrl.hasPermission(permission, managePermsCtrl.roleDesc.roleAndPermissions)"
                                       data-ng-model="managePermsCtrl.assignStatus[permission].checked" data-ng-disabled="managePermsCtrl.roleDesc.readOnly" id="{{::permission}}">
                            </div>
                            <div class="role-name"><label for="{{::permission}}">{{::permission}}</label></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>



	</div>
</md-dialog-content>

<md-dialog-actions>
	<md-button ng-click="managePermsCtrl.save()" ng-show="!managePermsCtrl.roleDesc.readOnly">
		<span translate>button.save</span>
	</md-button>
   	<md-button ng-click="managePermsCtrl.cancel()">
   		<span translate>button.cancel</span>
   	</md-button>

</md-dialog-actions>
