<div class="flex column">
    <div class="row row-inherit start-xs middle-xs">
        <div class="flex no grow">
            <lvg-user-link class="lvg-activity__user" user-id="$ctrl.event.userId"></lvg-user-link>
            <span class="lvg-activity__time">{{ $ctrl.event.time | dateIncremental }}</span>
        </div>
        <div class="flex"></div>
    </div>
    <div ng-switch="::$ctrl.event.event">
        <div ng-switch-when="CARD_MOVE">
            <lvg-activity-card-move event="$ctrl.event"></lvg-activity-card-move>
        </div>
        <div ng-switch-when="CARD_CREATE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="CARD_ARCHIVE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="CARD_BACKLOG">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="CARD_TRASH">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="CARD_UPDATE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="ACTION_LIST_CREATE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="ACTION_LIST_DELETE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="ACTION_ITEM_CREATE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="ACTION_ITEM_DELETE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="ACTION_ITEM_MOVE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="ACTION_ITEM_CHECK">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="ACTION_ITEM_UNCHECK">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="COMMENT_CREATE">
            <lvg-activity-comment event="$ctrl.event"></lvg-activity-comment>
        </div>
        <div ng-switch-when="COMMENT_UPDATE">
            <lvg-activity-comment event="$ctrl.event"></lvg-activity-comment>
        </div>
        <div ng-switch-when="COMMENT_DELETE">
            <lvg-activity-comment event="$ctrl.event"></lvg-activity-comment>
        </div>
        <div ng-switch-when="FILE_UPLOAD">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="FILE_DELETE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="DESCRIPTION_CREATE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="DESCRIPTION_UPDATE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="LABEL_CREATE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
        <div ng-switch-when="LABEL_DELETE">
            type: {{::$ctrl.event.event}}, date: {{::($ctrl.event.time | dateIncremental)}}, event: {{::($ctrl.event | json)}}
        </div>
    </div>
</div>

