<div data-ng-switch="activity.event">
	<div data-ng-switch-when="CARD_CREATE">
		<span data-translate data-translate-value-name="{{activity.valueString}}">partials.fragments.card-activity-entry-fragment.CARD_CREATE</span> <span data-lvg-activity-column="activity.columnId"></span>
	</div>
	<div data-ng-switch-when="CARD_MOVE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.CARD_MOVE.1</span> <span data-lvg-activity-column="activity.previousColumnId"></span> <span data-translate>partials.fragments.card-activity-entry-fragment.CARD_MOVE.2</span> <span data-lvg-activity-column="activity.columnId"></span>
	</div>
	<div data-ng-switch-when="CARD_UPDATE" data-translate data-translate-value-name="{{activity.valueString}}">partials.fragments.card-activity-entry-fragment.CARD_UPDATE</div>
	
	<div data-ng-switch-when="CARD_ARCHIVE" data-translate>partials.fragments.card-activity-entry-fragment.CARD_ARCHIVE</div>
	
	<div data-ng-switch-when="CARD_BACKLOG" data-translate>partials.fragments.card-activity-entry-fragment.CARD_BACKLOG</div>
	
	<div data-ng-switch-when="CARD_TRASH" data-translate>partials.fragments.card-activity-entry-fragment.CARD_TRASH</div>
	
	<div data-ng-switch-when="ACTION_LIST_CREATE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_LIST_CREATE</span> <span data-lvg-activity-action-list="actionLists[activity.dataId]" data-action-list-id="activity.dataId" data-card-id="card.id"></span>
	</div>
	<div data-ng-switch-when="ACTION_LIST_DELETE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_LIST_DELETE</span> <span data-lvg-activity-action-list="actionLists[activity.dataId]" data-action-list-id="activity.dataId" data-card-id="card.id"></span>
	</div>
	
	<div data-ng-switch-when="ACTION_ITEM_CREATE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_ITEM_CREATE.1</span> 
		<span data-lvg-activity-action-item="actionItemsMap[activity.dataId]" data-action-item-id="activity.dataId" data-card-id="card.id"></span> 
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_ITEM_CREATE.2</span> 
		<span data-lvg-activity-action-list="actionLists[actionItemsMap[activity.dataId].previousDataId]" data-action-list-id="activity.previousDataId" data-card-id="card.id"></span>
	</div>
	<div data-ng-switch-when="ACTION_ITEM_DELETE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_ITEM_DELETE.1</span> 
		<span data-lvg-activity-action-item="actionItemsMap[activity.dataId]" data-action-item-id="activity.dataId" data-card-id="card.id"></span> 
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_ITEM_DELETE.2</span> 
		<span data-lvg-activity-action-list="actionLists[actionItemsMap[activity.dataId].previousDataId]" data-action-list-id="activity.previousDataId" data-card-id="card.id"></span>
	</div>
	<div data-ng-switch-when="ACTION_ITEM_MOVE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_ITEM_MOVE.1</span> 
		<span data-lvg-activity-action-item="actionItemsMap[activity.dataId]" data-action-item-id="activity.dataId" data-card-id="card.id"></span> 
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_ITEM_MOVE.2</span> 
		<span data-lvg-activity-action-list="actionLists[actionItemsMap[activity.dataId].newDataId]" data-action-list-id="activity.newDataId" data-card-id="card.id"></span>
	</div>
	<div data-ng-switch-when="ACTION_ITEM_CHECK">
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_ITEM_CHECK.1</span> 
		<span data-lvg-activity-action-item="actionItemsMap[activity.dataId]" data-action-item-id="activity.dataId" data-card-id="card.id"></span> 
		<span data-translate>partials.fragments.card-activity-entry-fragment.ACTION_ITEM_CHECK.2</span> 
		<span data-lvg-activity-action-list="actionLists[actionItemsMap[activity.dataId].referenceId]" data-action-list-id="activity.previousDataId" data-card-id="card.id"></span>
	</div>
	
	<div data-ng-switch-when="COMMENT_CREATE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.COMMENT_CREATE</span> <span data-lvg-activity-comment="activity"></span>
	</div>
	<div data-ng-switch-when="COMMENT_DELETE" data-translate>partials.fragments.card-activity-entry-fragment.COMMENT_DELETE</div>
	
	<div data-ng-switch-when="COMMENT_UPDATE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.COMMENT_UPDATE</span> <span data-lvg-activity-comment="activity"></span>
	</div>
	
	<div data-ng-switch-when="FILE_UPLOAD">
		<span data-translate>partials.fragments.card-activity-entry-fragment.FILE_UPLOAD</span> <span data-lvg-activity-file="files[activity.dataId]" data-activity="activity"></span>
	</div>
	<div data-ng-switch-when="FILE_DELETE">
		<span data-translate>partials.fragments.card-activity-entry-fragment.FILE_DELETE</span> <span data-lvg-activity-file="files[activity.dataId]" data-activity="activity"></span>
	</div>
	
	<div data-ng-switch-when="DESCRIPTION_CREATE" data-translate>partials.fragments.card-activity-entry-fragment.DESCRIPTION_CREATE</div>
	
	<div data-ng-switch-when="DESCRIPTION_UPDATE" data-translate>partials.fragments.card-activity-entry-fragment.DESCRIPTION_UPDATE</div>
	
	<div data-ng-switch-when="LABEL_CREATE">
		<span data-lvg-activity-label="activity">{{activity.labelName}}</span>
	</div>
	<div data-ng-switch-when="LABEL_DELETE">
		<span data-lvg-activity-label="activity">{{activity.labelName}}</span>
	</div>
</div>


