<span data-ng-switch="activity.event">
<span data-ng-switch-when="LABEL_CREATE" data-ng-switch="activity.labelName">
	<span data-ng-switch-when="MILESTONE">
		 <span data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_CREATE.MILESTONE</span> <lvg-label-val value="activity" project="project"></lvg-label-val>
	</span>
	<span data-ng-switch-when="DUE_DATE">
		 <span data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_CREATE.DUE_DATE</span> <lvg-label-val value="activity" project="project"></lvg-label-val>
	</span>
	<span data-ng-switch-when="ASSIGNED">
		 <span data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_CREATE.ASSIGNED</span> <lvg-label-val value="activity" project="project"></lvg-label-val>
	</span>
	<span data-ng-switch-when="WATCHED_BY" data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_CREATE.WATCHED_BY</span>

	<span data-ng-switch-default>
		 <span data-translate data-translate-value-name="{{activity.labelName}}">partials.fragments.card-activity-label-name-value-fragment.LABEL_CREATE.default</span> <lvg-label-val value="activity"></lvg-label-val>
	</span>
</span>
<span data-ng-switch-when="LABEL_DELETE" data-ng-switch="activity.labelName">
	<span data-ng-switch-when="MILESTONE">
		 <span data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_DELETE.MILESTONE</span> <lvg-label-val value="activity" project="project"></lvg-label-val>
	</span>
	<span data-ng-switch-when="DUE_DATE">
		 <span data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_DELETE.DUE_DATE</span> <lvg-label-val value="activity" project="project"></lvg-label-val>
	</span>
	<span data-ng-switch-when="ASSIGNED">
		 <span data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_DELETE.ASSIGNED.1</span> <lvg-label-val value="activity" project="project"></lvg-label-val>
		 <span data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_DELETE.ASSIGNED.2</span>
	</span>
	<span data-ng-switch-when="WATCHED_BY" data-translate>partials.fragments.card-activity-label-name-value-fragment.LABEL_DELETE.WATCHED_BY</span>

	<span data-ng-switch-default>
		 <span data-translate data-translate-value-name="{{activity.labelName}}">partials.fragments.card-activity-label-name-value-fragment.LABEL_DELETE.default</span> <lvg-label-val value="activity"></lvg-label-val>
	</span>
</span>
</span>
