<ul class="lavagna-board-column-holder" data-ng-style="{width: (290+ 4* 2+ (columns.length* 290+ 4* 2* columns.length))+'px'}" data-ui-sortable="sortableColumnOptions">
	<li class="lavagna-board-column lavagna-sortable-board-column"
		data-ng-controller="ColumnCtrl"
		data-ng-repeat="column in columns track by column.id" 
		data-bindonce
		data-ng-init="columnState[column.id] = {};initializeColumnCtrl(column.id);" 
		data-bo-attr data-bo-attr-data-lvg-column-id="column.id"
		data-lvg-update-column-size>
		<div class="panel-heading" data-ng-style="column.color|columnColor">
			<div class="row lvg-column-handle">
				<div class="col-xs-10">
					<div data-ng-if="!columnState[column.id].editColumnName">
						<span data-ng-click="columnState[column.id].editColumnName=true; columnState[column.id].newColumnName = column.name" data-lvg-has-permission="RENAME_COLUMN" data-ng-bind="column.name" class="lvg-edit"></span>
						<span data-lvg-has-not-permission="RENAME_COLUMN" data-ng-bind="column.name" class="lvg-edit"></span>
					</div>
					<div data-ng-if="columnState[column.id].editColumnName">
						<div class="form-group">
							<input type="text" class="form-control" data-lvg-to-focus="columnState[column.id].editColumnName" data-ng-model="columnState[column.id].newColumnName" data-lvg-on-esc="columnState[column.id].editColumnName">
						</div>
						<div>
							<button class="lvg-button lvg-button-submit" data-ng-click="saveNewColumnName(columnState[column.id].newColumnName, column);columnState[column.id].editColumnName=false"><span data-translate>partials.fragments.columns-fragment.save</span></button>
							<button class="lvg-button lvg-button-default" data-ng-click="columnState[column.id].editColumnName=false"><span data-translate>partials.fragments.columns-fragment.cancel</span></button>
						</div>
					</div>
				</div>
				<div class="col-xs-1">
					<div data-lvg-has-at-least-one-permission="CREATE_CARD,RENAME_COLUMN,MOVE_CARD,MOVE_COLUMN" class="dropdown">
						<div data-dropdown-toggle data-toggle="dropdown"><div class="lavagna-card-caret-container lavagna-not-sortable-board-column"><span class="fa fa-chevron-down"></span><span class="fa fa-chevron-up"></span></div></div>
						<ul class="dropdown-menu lvg-board-column-menu">
							<li data-lvg-has-permission="CREATE_CARD"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="columnState[column.id].addNewCardFromTop = true"><span data-translate>partials.fragments.columns-fragment.addCard</span></button></li>
							<li class="divider lavagna-visibile-in-edit-mode">
							<li class="lavagna-visibile-in-edit-mode" data-lvg-has-permission="MANAGE_LABEL_VALUE"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="selectAllInColumn()" data-translate>partials.fragments.columns-fragment.selectAll</button></li>
							<li class="lavagna-visibile-in-edit-mode" data-lvg-has-permission="MANAGE_LABEL_VALUE"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="unSelectAllInColumn()" data-translate>partials.fragments.columns-fragment.selectNone</button></li>
							<li class="divider" data-lvg-has-all-permissions="CREATE_CARD,RENAME_COLUMN"></li>
							<li class="dropdown-submenu" data-lvg-has-permission="RENAME_COLUMN">
								<button class="lvg-dropdown-button lvg-button-white-bg" data-translate>partials.fragments.columns-fragment.columnStatus</button>
								<ul class="dropdown-menu">
									<li data-ng-repeat="definition in columnsDefinition | addColDefOrder | orderBy:'order'">
										<button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="setColumnDefinition(definition.id, column);"><span data-ng-style="definition.color | color" class="fa fa-square"></span> <span data-ng-bind="definition.value | capitalize"></span></button>
									</li>
								</ul>
							</li>
							<li class="divider" data-lvg-has-all-permissions="RENAME_COLUMN,MOVE_CARD"></li>
							<li data-lvg-has-permission="MOVE_CARD"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="moveAllCardsInColumn(column, cardsInColumn, 'ARCHIVE')" data-translate>partials.fragments.columns-fragment.moveAllToArchive</button></li>
							<li data-lvg-has-permission="MOVE_CARD"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="moveAllCardsInColumn(column, cardsInColumn, 'BACKLOG')" data-translate>partials.fragments.columns-fragment.moveAllToBacklog</button></li>
							<li data-lvg-has-permission="MOVE_CARD"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="moveAllCardsInColumn(column, cardsInColumn, 'TRASH')" data-translate>partials.fragments.columns-fragment.moveAllToTrash</button></li>
							<li class="divider" data-lvg-has-all-permissions="MOVE_CARD,MOVE_COLUMN"></li>
							<li data-lvg-has-permission="MOVE_COLUMN"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="moveColumn(column, 'ARCHIVE')" data-translate>partials.fragments.columns-fragment.moveColumnToArchive</button></li>
							<li data-lvg-has-permission="MOVE_COLUMN"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="moveColumn(column, 'BACKLOG')" data-translate>partials.fragments.columns-fragment.moveColumnToBacklog</button></li>
							<li data-lvg-has-permission="MOVE_COLUMN"><button class="lvg-dropdown-button lvg-button-white-bg" data-ng-click="moveColumn(column, 'TRASH')" data-translate>partials.fragments.columns-fragment.moveColumnToTrash</button></li>
						</ul>
					</div>
				</div>
			</div>
			<div data-ng-if="columnState[column.id].addNewCardFromTop" class="row">
				<div class="col-xs-11">
					<!-- TODO: move in a directive -->
					<form data-ng-submit="createCardFromTop(columnState[column.id].cardToCreateFromTop, column)">
						<div class="form-group">
							<input placeholder="{{'partials.fragments.columns-fragment.cardName.placeholder' | translate}}" data-lvg-to-focus="columnState[column.id].addNewCardFromTop" required="required"
								data-ng-model="columnState[column.id].cardToCreateFromTop.name" class="form-control" data-lvg-on-esc="columnState[column.id].addNewCardFromTop" data-lvg-on-esc-eval="columnState[column.id].cardToCreateFromTop = null"></input>
						</div>
						<div>
							<button type="submit" class="lvg-button lvg-button-submit" data-translate>button.add</button>
							<button type="button" data-ng-click="columnState[column.id].cardToCreateFromTop = null; columnState[column.id].addNewCardFromTop = false" class="lvg-button lvg-button-default"><span data-translate>partials.fragments.columns-fragment.cancel</span></button>
						</div>
					</form>
					<!-- END TODO: move in a directive -->
				</div>
			</div>
		</div>
		<div class="panel-body" data-bindonce="loaded">
			<lvg-spinner data-bo-hide="loaded"></lvg-spinner>
			<ul data-ui-sortable="sortableCardOptions" class="lavagna-board-cards" data-ng-show="loaded"  style="overflow-y:auto;" data-ng-style="{'max-height' : (maxHeight - panelHeadAndFooterSize - 40)+'px'}">
				<li data-bindonce data-ng-repeat="card in cardsInColumn | filter : cardFilter track by card.hash" class="lavagna-board-card" data-bo-attr data-bo-attr-data-lvg-card-id="card.id" data-bo-attr-data-lavagna-card-column-id="card.columnId">
					<lvg-card-fragment data-view="board" data-card="card" 
						data-project="projectName" data-board="boardName" data-selected="selectedCards" data-dependencies="cardFragmentDependencies"></lvg-card-fragment>
				</li>
			</ul>
		</div>
		<div class="panel-footer" data-lvg-has-permission="CREATE_CARD">
			<ul class="board-controls"
				data-ng-hide="columnState[column.id].addNewCard || columnState[column.id].deleteColumn">
				<li class="control-box">
					<span data-ng-click="columnState[column.id].addNewCard = true"
						class="fa fa-plus"></span></li>
			</ul>
			<div data-ng-if="columnState[column.id].addNewCard">
				<form data-ng-submit="createCard(columnState[column.id].cardToCreate, column)">
					<div class="form-group">
						<input placeholder="{{'partials.fragments.columns-fragment.cardName.placeholder' | translate}}" data-lvg-to-focus="columnState[column.id].addNewCard" required="required"
							data-ng-model="columnState[column.id].cardToCreate.name" class="form-control" data-lvg-on-esc="columnState[column.id].addNewCard" data-lvg-on-esc-eval="columnState[column.id].cardToCreate = null"></input>
					</div>
					<div>
						<button type="submit" class="lvg-button lvg-button-submit" data-translate>button.add</button>
						<button type="button" data-ng-click="columnState[column.id].cardToCreate = null; columnState[column.id].addNewCard = false" class="lvg-button lvg-button-default"><span data-translate>partials.fragments.columns-fragment.cancel</span></button>
					</div>
				</form>
			</div>
		</div>
	</li>
	<li class="lavagna-board-column lavagna-not-sortable-board-column panel panel-default" data-lvg-has-permission="CREATE_COLUMN">
		<div class="panel-footer">
			<form data-ng-submit="createColumn(columnToCreate);">
				<div class="form-group">
					<input type="text" id="column" placeholder="{{'partials.fragments.columns-fragment.columnName.placeholder' | translate}}" data-ng-model="columnToCreate.name" class="form-control"
						autocomplete="off" required>
            	</div>
            	<div class="form-group">
					<select class="form-control"
            			data-ng-model="columnToCreate.definition"
            			data-ng-options="definition.id as (definition.value | capitalize) for definition in columnsDefinition | addColDefOrder | orderBy:'order'" required></select>
            	</div>
           		<div>
					<button class="lvg-button lvg-button-submit" data-ng-disabled="columnToCreate.definition == null || columnToCreate.name == null" type="submit" data-translate>partials.fragments.columns-fragment.add</button>
				</div>
			</form>
		</div>
	</li>
</ul>