<div class="modal-header">
	<h3 class="modal-title">
		<span data-ng-bind="title"></span>
	</h3>
</div>
<div class="modal-body">
	<p><span data-ng-bind="operation"></span></p>
</div>
<div class="modal-footer">
	<button data-ng-click="$close()" class="lvg-button lvg-button-default" data-translate>partials.fragments.confirm-modal-fragment.cancel</button>
	<button data-ng-click="confirm()" class="lvg-button lvg-button-submit" data-translate>partials.fragments.confirm-modal-fragment.confirm</button>
</div>