<span data-ng-switch="label.type">
	<span data-ng-switch-when="NULL"></span>
	<span data-ng-switch-when="STRING"><input type="text" class="form-control"	placeholder="{{'partials.fragments.label-pickers.value'|translate}}" data-ng-model="internal.model" data-lvg-on-esc required></span>
	<span data-ng-switch-when="INT"><input type="number" class="form-control" placeholder="{{'partials.fragments.label-pickers.value'|translate}}" data-ng-model="internal.model" data-lvg-on-esc required></span>
	<span data-ng-switch-when="TIMESTAMP"><input type="text" class="form-control" data-lvg-datepicker placeholder="{{'partials.fragments.label-pickers.date'|translate}}" size="12" data-ng-model="internal.model" required></span>
	<span data-ng-switch-when="CARD"><input type="text" class="form-control" placeholder="{{'partials.fragments.label-pickers.card'|translate}}" data-lvg-card-autocomplete="internal.model" data-lvg-on-esc required></span>
	<span data-ng-switch-when="USER"><input type="text" class="form-control" placeholder="{{'partials.fragments.label-pickers.user'|translate}}" data-lvg-user-autocomplete="internal.model" data-lvg-on-esc required></span>
	<span data-ng-switch-when="LIST">
		<select data-ng-if="!inMenu && group === undefined" class="form-control" data-ng-model="internal.model" data-ng-options="l.value for l in listValues" required></select>
		<select data-ng-if="!inMenu && group !== undefined" class="form-control" data-ng-model="internal.model" data-ng-options="l.value group by l.metadata[group] for l in listValues" required></select>
		<div data-ng-if="inMenu" class="dropdown lvg-button-group add-label" data-uib-dropdown>
			<button type="button" data-uib-dropdown-toggle class="lvg-navigation-button lvg-dropdown-toggle">
				<span data-ng-if="internal.model.value !== undefined" data-ng-bind="internal.model.value"></span>
				<span data-ng-if="internal.model.value === undefined" data-translate>partials.fragments.bulk-action-inline.select</span>
				 <i class="fa fa-caret-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li data-ng-repeat="l in listValues"><button class="lvg-dropdown-button lvg-button-dropdown-navigation" data-ng-bind="l.value" data-ng-click="internal.model = l"></button></li>
			</ul>
		</div>
	</span>
</span>