<div class="lvg-left-sidebar" data-ng-class="{'lvg-left-sidebar-open': sidebarOpen}">
	<section class="sidebar">
		<ul id="sidebar" class="sidebar-menu">
			<li class="navigation">
				<a data-ng-href="#"><i class="fa fa-home"></i> <span data-translate>partials.fragments.sidebar.home</span></a>
			</li>
			<li class="navigation" data-lvg-has-permission="UPDATE_PROFILE">
				<a data-ng-href="#/me/"><i class="fa fa-user"></i> <span data-translate>partials.fragments.sidebar.profile</span></a>
			</li>
			<li class="navigation">
				<a data-ng-href="#/about/"><i class="fa fa-info-circle"></i> <span data-translate>partials.fragments.sidebar.about</span></a>
			</li>
			<li class="action" data-lvg-has-permission="ADMINISTRATION">
				<a data-ng-href="#/admin/"><i class="fa fa-cog"></i> <span data-translate>partials.fragments.sidebar.settings</span></a>
			</li>
			<li class="action" data-lvg-is-authenticated>
				<a href="#" data-ng-click="$event.preventDefault();logout()"><i class="fa fa-sign-out"></i> <span data-translate>partials.fragments.sidebar.logout</span></a>
			</li>
		</ul>
	</section>
</div>