<div class="lvg-board-location">
	<div class="dropdown lvg-button-group">
		<button type="button" data-dropdown-toggle
			class="lvg-navigation-button lvg-dropdown-toggle"
			data-toggle="dropdown">
			<span data-translate>partials.board.selection.select</span> <i
				class="fa fa-caret-down"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><button
					class="lvg-dropdown-button lvg-button-dropdown-navigation"
					type="button" data-ng-click="selectAllInPage()" data-translate>partials.fragments.search-result-fragment.selectAllInPage</button></li>
			<li><button
					class="lvg-dropdown-button lvg-button-dropdown-navigation"
					type="button" data-ng-click="deselectAllInPage()" data-translate>partials.fragments.search-result-fragment.deselectAllInPage</button></li>
		</ul>
	</div>
	<div class="dropdown lvg-button-group" data-ng-show="selectCount > 0"  data-ng-init="bulkMode.mode = undefined; bulkMode.message = 'do'">
		<button type="button" data-dropdown-toggle
			class="lvg-navigation-button lvg-dropdown-toggle"
			data-toggle="dropdown">
			<span>{{'partials.board.bulkop.' + bulkMode.message | translate}}</span> <i class="fa fa-caret-down"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'do'; bulkMode.message = 'do'; bulkMode.message = 'do'" data-translate>partials.board.bulkop.cancel</button></li>
			
			<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'assign-to'; bulkMode.message = 'assignTo'" data-translate>partials.board.bulkop.assignTo</button></li>
			<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-assign-to'; bulkMode.message = 'removeAssign'" data-translate>partials.board.bulkop.removeAssign</button></li>
			<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 're-assign-to'; bulkMode.message = 'reassign'" data-translate>partials.board.bulkop.reassign</button></li>
			<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'set-due-date'; bulkMode.message = 'setDueDate'" data-translate>partials.board.bulkop.setDueDate</button></li>
			<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-due-date'; bulkMode.message = 'removeDueDate'" data-translate>partials.board.bulkop.removeDueDate</button></li>
			<li data-ng-if="inProject"><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'set-milestone'; bulkMode.message = 'setMilestone'" data-translate>partials.board.bulkop.setMilestone</button></li>
			<li data-ng-if="inProject"><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-milestone'; bulkMode.message = 'removeMilestone'" data-translate>partials.board.bulkop.removeMilestone</button></li>
			<li data-ng-if="inProject"><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'add-label'; bulkMode.message = 'addLabel'" data-translate>partials.board.bulkop.addLabel</button></li>
			<li data-ng-if="inProject"><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-label'; bulkMode.message = 'removeLabel'" data-translate>partials.board.bulkop.removeLabel</button></li>
		</ul>
		
		<lvg-bulk-action-inline mode="bulkMode.mode" format-bulk-request="collectIdsByProject" after-bulk-completion="triggerSearch"></lvg-bulk-action-inline>
	</div>
</div>