<div class="lvg-navigation-bar lvg-inverted" data-ng-switch="navbarType">
	<div class="navigation-frame" data-ng-transclude></div>
	<div data-ng-switch-when="board-menu" class="menu-frame board-menu-frame">
		<div class="lvg-board-location">
			<button class="lvg-navigation-button lvg-edit-button"
					data-ng-click="boardCtrl.toggledSidebar = true"
					data-ng-hide="boardCtrl.toggledSidebar"
					title="{{'partials.board.showSideLocation' | translate}}">
				<i class="fa fa-folder-o"></i>
			</button>
			<button class="lvg-navigation-button lvg-edit-button edit-active"
                    data-ng-click="boardCtrl.toggledSidebar = false"
                    data-ng-show="boardCtrl.toggledSidebar"
					title="{{'partials.board.hideSideLocation' | translate}}">
				<i class="fa fa-folder-open-o"></i>
			</button>
		</div>
		<div class="lvg-board-edit">
			<div data-lvg-has-permission="MANAGE_LABEL_VALUE" data-ng-hide="boardCtrl.editMode" class="lvg-button-group">
				<button class="lvg-navigation-button lvg-edit-button" data-ng-click="boardCtrl.switchEditMode()" title="{{'partials.board.enableBulkOp' | translate}}"><i class="fa fa-square-o"></i></button>
			</div>
			<div data-lvg-has-permission="MANAGE_LABEL_VALUE" data-ng-show="boardCtrl.editMode" class="lvg-button-group">
				<button class="lvg-navigation-button lvg-edit-button edit-active" data-ng-click="boardCtrl.unSelectAll(); boardCtrl.switchEditMode()" title="{{'partials.board.disableBulkOp' | translate}}"><i class="fa fa-check-square-o"></i></button>
			</div>
			<div data-ng-if="boardCtrl.editMode" data-lvg-has-permission="MANAGE_LABEL_VALUE" class="dropdown lvg-button-group" data-uib-dropdown>
				<button type="button" data-uib-dropdown-toggle class="lvg-navigation-button lvg-dropdown-toggle" data-toggle="dropdown"><span data-translate>partials.board.selection.select</span> <i class="fa fa-caret-down"></i></button>
				<ul class="dropdown-menu" role="menu">
    				<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="boardCtrl.selectAll()" data-translate>partials.board.selection.all</button></li>
    				<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="boardCtrl.unSelectAll()" data-translate>partials.board.selection.none</button></li>
  				</ul>
			</div>
			<div class="dropdown lvg-button-group" data-ng-show="boardCtrl.selectedVisibleCount() > 0" data-ng-init="bulkMode.mode = undefined;bulkMode.message = 'do'" data-uib-dropdown>
				<button type="button" data-uib-dropdown-toggle class="lvg-navigation-button lvg-dropdown-toggle" data-toggle="dropdown"><span>{{'partials.board.bulkop.'+bulkMode.message | translate}}</span> <i class="fa fa-caret-down"></i></button>
				<ul class="dropdown-menu" role="menu">
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'assign-to'; bulkMode.message = 'assignTo'" data-translate>partials.board.bulkop.assignTo</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-assign-to'; bulkMode.message = 'removeAssign'" data-translate>partials.board.bulkop.removeAssign</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 're-assign-to'; bulkMode.message = 'reassign'" data-translate>partials.board.bulkop.reassign</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'set-due-date'; bulkMode.message = 'setDueDate'" data-translate>partials.board.bulkop.setDueDate</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-due-date'; bulkMode.message = 'removeDueDate'" data-translate>partials.board.bulkop.removeDueDate</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'set-milestone'; bulkMode.message = 'setMilestone'" data-translate>partials.board.bulkop.setMilestone</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-milestone'; bulkMode.message = 'removeMilestone'" data-translate>partials.board.bulkop.removeMilestone</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'add-label'; bulkMode.message = 'addLabel'" data-translate>partials.board.bulkop.addLabel</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-label'; bulkMode.message = 'removeLabel'" data-translate>partials.board.bulkop.removeLabel</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-archive'; bulkMode.message = 'moveArchive'" data-translate>partials.board.bulkop.moveArchive</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-backlog'; bulkMode.message = 'moveBacklog'" data-translate>partials.board.bulkop.moveBacklog</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-trash'; bulkMode.message = 'moveTrash'" data-translate>partials.board.bulkop.moveTrash</button></li>
		 		</ul>


		 		<lvg-bulk-action-inline mode="bulkMode.mode" format-bulk-request="boardCtrl.formatBulkRequest" selected-visible-cards-id-by-column-id="boardCtrl.selectedVisibleCardsIdByColumnId"></lvg-bulk-action-inline>

				<button class="lvg-navigation-button" data-ng-show="bulkMode.message != 'do'" type="button" data-ng-click="bulkMode.mode = 'do'; bulkMode.message = 'do'" data-translate>partials.board.bulkop.cancel</button>
			</div>
		</div>
	</div>
	<div data-ng-switch-when="project-settings-menu" class="menu-frame">
		<df-tab-menu menu-control="{{navigationState}}" more-menu-template="<span data-translate>partials.lvg-tab-menu.more</span><i class='fa fa-caret-down'></i>">
			<li menu-item="ProjectManage.project"><a data-ui-sref="ProjectManage.project({projectName: projectResolver.project.shortName})"><span data-translate>partials.project.fragments.nabvar.admin.project</span></a></li>
			<li menu-item="ProjectManage.boards"><a data-ui-sref="ProjectManage.boards({projectName: projectResolver.project.shortName})"><span data-translate>partials.project.fragments.nabvar.admin.boards</span></a></li>
			<li menu-item="ProjectManage.access"><a data-ui-sref="ProjectManage.access({projectName: projectResolver.project.shortName})"><span data-translate>partials.project.fragments.nabvar.admin.anonymousUsersAccess</span></a></li>
			<li menu-item="ProjectManage.roles"><a data-ui-sref="ProjectManage.roles({projectName: projectResolver.project.shortName})"><span data-translate>partials.project.fragments.navbar.admin.roles</span></a></li>
			<li menu-item="ProjectManage.labels"><a data-ui-sref="ProjectManage.labels({projectName: projectResolver.project.shortName})"><span data-translate>partials.project.fragments.navbar.admin.labels</span></a></li>
			<li menu-item="ProjectManage.milestones"><a data-ui-sref="ProjectManage.milestones({projectName: projectResolver.project.shortName})"><span data-translate>partials.project.fragments.navbar.admin.milestones</span></a></li>
			<li menu-item="ProjectManage.status"><a data-ui-sref="ProjectManage.status({projectName: projectResolver.project.shortName})"><span data-translate>partials.project.fragments.navbar.admin.status</span></a></li>
			<li menu-item="ProjectManage.import"><a data-ui-sref="ProjectManage.import({projectName: projectResolver.project.shortName})"><span data-translate>partials.project.fragments.navbar.admin.import</span></a></li>
		</df-tab-menu>
	</div>
	<div data-ng-switch-when="search" class="menu-frame">
		<lvg-search-controls  select-all-in-page="lvgSearch.selectAllInPage"
		                      deselect-all-in-page="lvgSearch.deselectAllInPage"
		                      selected-cards-count="lvgSearch.selectedCardsCount"
		                      in-project="lvgSearch.inProject"
		                      collect-ids-by-project="lvgSearch.collectIdsByProject"
		                      trigger-search="lvgSearch.triggerSearch"></lvg-search-controls>
	</div>
</div>
