<div class="lvg-navigation-bar lvg-inverted" data-ng-switch="navbarType">
	<div class="navigation-frame" data-ng-transclude></div>
	<div data-ng-switch-when="project-menu" class="menu-frame">
		<div class="tab-menu-container">
			<df-tab-menu data-menu-control="{{navigationState}}" data-more-menu-template="<span data-translate>partials.lvg-tab-menu.more</span><i class='fa fa-caret-down'></i>">
				<li menu-item="project"><a data-ng-href="#/{{project.shortName}}/"><span data-translate>partials.project.fragments.navbar.project</span></a></li>
				<li menu-item="projectMilestones"><a data-ng-href="#/{{project.shortName}}/milestones/"><span data-translate>partials.project.fragments.navbar.milestones</span></a></li>
				<li menu-item="projectStatistics"><a data-ng-href="#/{{project.shortName}}/statistics/"><span data-translate>partials.project.fragments.navbar.statistics</span></a></li>
			</df-tab-menu>
		</div>
		<div data-lvg-has-permission="PROJECT_ADMINISTRATION" class="context-menu-container">
			<a type="button" class="lvg-inline-button lvg-nav-context-button" data-ng-href="#/{{project.shortName}}/manage/"><i class="fa fa-cog"></i></a>
		</div>
	</div>
	<div data-ng-switch-when="board-menu" class="menu-frame board-menu-frame">
		<div class="lvg-board-location">
			<button class="lvg-navigation-button lvg-edit-button" data-ng-click="sidebarHandler('ARCHIVE')" data-ng-if="sideBarLocation === undefined || sideBarLocation === 'NONE'"><i class="fa fa-folder-o"></i></button>
			<button class="lvg-navigation-button lvg-edit-button edit-active" data-ng-click="sidebarHandler('NONE')" data-ng-if="sideBarLocation !== undefined && sideBarLocation !== 'NONE'"><i class="fa fa-folder-open-o"></i></button>
		</div>
		<div class="lvg-board-edit">
			<div data-lvg-has-permission="MANAGE_LABEL_VALUE" data-ng-hide="editMode" class="lvg-button-group">
				<button class="lvg-navigation-button lvg-edit-button" data-ng-click="switchEditMode()"><i class="fa fa-square-o"></i></button>
			</div>
			<div data-lvg-has-permission="MANAGE_LABEL_VALUE" data-ng-show="editMode" class="lvg-button-group">
				<button class="lvg-navigation-button lvg-edit-button edit-active" data-ng-click="unSelectAll(); switchEditMode()"><i class="fa fa-check-square-o"></i></button>
			</div>
			<div data-ng-if="editMode" data-lvg-has-permission="MANAGE_LABEL_VALUE" class="dropdown lvg-button-group">
				<button type="button" data-dropdown-toggle class="lvg-navigation-button lvg-dropdown-toggle" data-toggle="dropdown"><span data-translate>partials.board.selection.select</span> <i class="fa fa-caret-down"></i></button>
				<ul class="dropdown-menu" role="menu">
    				<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="selectAll()" data-translate>partials.board.selection.all</button></li>
    				<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="unSelectAll()" data-translate>partials.board.selection.none</button></li>
  				</ul>
			</div>
			<div class="dropdown lvg-button-group" data-ng-show="selectedVisibleCount() > 0" data-ng-init="bulkMode.mode = undefined;bulkMode.message = 'do'">
				<button type="button" data-dropdown-toggle class="lvg-navigation-button lvg-dropdown-toggle" data-toggle="dropdown"><span>{{'partials.board.bulkop.'+bulkMode.message | translate}}</span> <i class="fa fa-caret-down"></i></button>
				<ul class="dropdown-menu" role="menu">
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'do'; bulkMode.message = 'do'" data-translate>partials.board.bulkop.cancel</button></li>
				
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'assign-to'; bulkMode.message = 'assignTo'" data-translate>partials.board.bulkop.assignTo</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-assign-to'; bulkMode.message = 'removeAssign'" data-translate>partials.board.bulkop.removeAssign</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 're-assign-to'; bulkMode.message = 'reassign'" data-translate>partials.board.bulkop.reassign</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'set-due-date'; bulkMode.message = 'setDueDate'" data-translate>partials.board.bulkop.setDueDate</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-due-date'; bulkMode.message = 'removeDueDate'" data-translate>partials.board.bulkop.removeDueDate</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'set-milestone'; bulkMode.message = 'setMilestone'" data-translate>partials.board.bulkop.setMilestone</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-milestone'; bulkMode.message = 'removeMilestone'" data-translate>partials.board.bulkop.removeMilestone</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'add-label'; bulkMode.message = 'addLabel'" data-translate>partials.board.bulkop.addLabel</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-label'; bulkMode.message = 'removeLabel'" data-translate>partials.board.bulkop.removeLabel</button></li>
					
										
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-archive'; bulkMode.message = 'moveArchive'" data-translate>partials.board.bulkop.moveArchive</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-backlog'; bulkMode.message = 'moveBacklog'" data-translate>partials.board.bulkop.moveBacklog</button></li>
					<li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-trash'; bulkMode.message = 'moveTrash'" data-translate>partials.board.bulkop.moveTrash</button></li>
		 		</ul>
		 		
		 		
		 		<lvg-bulk-action-inline mode="bulkMode.mode" format-bulk-request="formatBulkRequest" selected-visible-cards-id-by-column-id="selectedVisibleCardsIdByColumnId"></lvg-bulk-action-inline>
		 		
			</div>
		</div>
	</div>
	<div data-ng-switch-when="project-settings-menu" class="menu-frame">
		<df-tab-menu menu-control="{{navigationState}}" more-menu-template="<span data-translate>partials.lvg-tab-menu.more</span><i class='fa fa-caret-down'></i>">
			<li menu-item="ProjectManage.projectManageHome"><a data-ng-href="#/{{project.shortName}}/manage/"><span data-translate>partials.project.fragments.nabvar.admin.project</span></a></li>
			<li menu-item="ProjectManage.projectManageBoards"><a data-ng-href="#/{{project.shortName}}/manage/boards/"><span data-translate>partials.project.fragments.nabvar.admin.boards</span></a></li>
			<li menu-item="ProjectManage.projectManageAnonymousUsers"><a data-ng-href="#/{{project.shortName}}/manage/anonymous-users-access/"><span data-translate>partials.project.fragments.nabvar.admin.anonymousUsersAccess</span></a></li>
			<li menu-item="ProjectManage.projectRole"><a data-ng-href="#/{{project.shortName}}/manage/roles/"><span data-translate>partials.project.fragments.navbar.admin.roles</span></a></li>
			<li menu-item="ProjectManage.projectManageLabels"><a data-ng-href="#/{{project.shortName}}/manage/labels/"><span data-translate>partials.project.fragments.navbar.admin.labels</span></a></li>
			<li menu-item="ProjectManage.projectManageMilestones"><a data-ng-href="#/{{project.shortName}}/manage/milestones/"><span data-translate>partials.project.fragments.navbar.admin.milestones</span></a></li>
			<li menu-item="ProjectManage.projectManageColumnsStatus"><a data-ng-href="#/{{project.shortName}}/manage/columns-status/"><span data-translate>partials.project.fragments.navbar.admin.columns</span></a></li>
			<li menu-item="ProjectManage.projectImport"><a data-ng-href="#/{{project.shortName}}/manage/import/"><span data-translate>partials.project.fragments.navbar.admin.import</span></a></li>
		</df-tab-menu>
	</div>
	<div data-ng-switch-when="admin-menu" class="menu-frame">
		<df-tab-menu menu-control="{{navigationState}}" more-menu-template="<span data-translate>partials.lvg-tab-menu.more</span><i class='fa fa-caret-down'></i>">
   			<li menu-item="admin.adminShowAllParameters"><a href="#/admin/"><span data-translate>partials.admin.fragments.navbar.admin.adminShowAllParameters</span></a></li>
    		<li menu-item="admin.adminConfigureLogin"><a href="#/admin/configure-login/"><span data-translate>partials.admin.fragments.navbar.admin.adminConfigureLogin</span></a></li>
			<li menu-item="admin.adminManageSmtpConfiguration"><a href="#/admin/manage-smtp-configuration/"><span data-translate>partials.admin.fragments.navbar.admin.adminManageSmtpConfiguration</span></a></li>
			<li menu-item="admin.adminManageUsers"><a href="#/admin/manage-users/"><span data-translate>partials.admin.fragments.navbar.admin.adminManageUsers</span></a></li>
			<li menu-item="admin.adminRole"><a href="#/admin/role/"><span data-translate>partials.admin.fragments.navbar.admin.adminRole</span></a></li>
    		<li menu-item="admin.adminExportImport"><a href="#/admin/export-import/"><span data-translate>partials.admin.fragments.navbar.admin.adminExportImport</span></a></li>
		</df-tab-menu>
	</div>
	<div data-ng-switch-when="search" class="menu-frame">
		<lvg-search-controls></lvg-search-controls>
	</div>
	<div data-ng-switch-when="user" class="menu-frame">
		<df-tab-menu menu-control="{{navigationState}}" more-menu-template="<span data-translate>partials.lvg-tab-menu.more</span><i class='fa fa-caret-down'></i>">
			<li menu-item="user"><a data-ng-href="#/user/{{userProvider}}/{{userUsername}}"><span data-translate>partials.user.tab.profile</span></a></li>
			<li menu-item="user-projects"><a data-ng-href="#/user/{{userProvider}}/{{userUsername}}/projects/"><span data-translate>partials.user.tab.projects</span></a></li>
			<li menu-item="user-activity"><a data-ng-href="#/user/{{userProvider}}/{{userUsername}}/activity/"><span data-translate>partials.user.tab.activity</span></a></li>
			<li menu-item="account"><a href="#/me/" data-ng-show="isCurrentUser"><span data-translate>partials.user.tab.edit-profile</span></a></li>
		</df-tab-menu>
	</div>
	<div data-ng-switch-when="about" class="menu-frame">
		<df-tab-menu menu-control="{{navigationState}}">
			<li menu-item="about"><a data-ng-href="#/about/"><span data-translate>partials.about.license</span></a></li>
			<li menu-item="about-third-party"><a data-ng-href="#/about/third-party/"><span data-translate>partials.about.third-party</span></a></li>
		</df-tab-menu>
	</div>
</div>