<div id="notifications" class="lavagna-notifications" data-ng-if="notifications.length > 0">
	<ul>
		<li class="notification {{notification.type}} clearfix" data-ng-repeat="notification in notifications">
			<ul class="notification-controls">
				<li data-ng-click="notification.acknowledge()" data-translate>partials.fragments.notifications-fragment.dismiss</li>
				<li data-ng-if="notification.undo" data-ng-click="notification.undoFn(notification)" data-translate>partials.fragments.notifications-fragment.undo</li>
			</ul>
			<span class="lavagna-notification-text">{{ notification.event.key | translate: notification.event.parameters}}</span>
		</li>
	</ul>
</div>