<div class="stats-panel-content clearfix">
	<div class="stats-panel-description" data-ng-bind-html="item.description | markdown"></div>
	<div data-ng-if="!item.archived && chartData" class="pull-right item-stats">
		<lvg-chart type="Doughnut" data="chartData" options="chartOptions"></lvg-chart>
	</div>
</div>

<div class="row" data-ng-if="statistics">
	<div class="col-md-12">
		<ul class="statistics-definition">
			<li class="stat"><span data-ng-style="statistics.openTaskColor|color" class="fa fa-tasks"></span>
				<span data-translate>partials.fragments.stats-panel.open</span>
				{{statistics.openTaskCount}}
			</li>
			<li class="stat"><span data-ng-style="statistics.closedTaskColor|color" class="fa fa-tasks"></span>
				<span data-translate>partials.fragments.stats-panel.closed</span>
				{{statistics.closedTaskCount}}
			</li>
			<li class="stat"><span data-ng-style="statistics.backlogTaskColor|color" class="fa fa-tasks"></span>
				<span data-translate>partials.fragments.stats-panel.backlog</span>
				{{statistics.backlogTaskCount}}
			</li>
			<li class="stat"><span data-ng-style="statistics.deferredTaskColor|color" class="fa fa-tasks"></span>
				<span data-translate>partials.fragments.stats-panel.deferred</span>
				{{statistics.deferredTaskCount}}
			</li>
		</ul>
	</div>
</div>