<md-toolbar class="lvg-navbar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" data-ng-click="$ctrl.toggleSidebar()"><md-icon md-svg-icon="menu"></md-icon></md-button>
        <h2>{{::$ctrl.project.shortName}}</h2>
        <div class="flex row row-inherit"><lvg-search-input project="$ctrl.project" data-lvg-has-permission="SEARCH" class="flex"></lvg-search-input></div>
        <md-button class="md-icon-button"
            data-ui-sref="projectManage.project({projectName: $ctrl.project.shortName})"
            data-lvg-has-permission="PROJECT_ADMINISTRATION">
            <md-tooltip>{{::('common.project-settings' | translate)}}</md-tooltip>
            <md-icon md-svg-icon="settings"></md-icon>
        </md-button>
        <lvg-navbar-action-panel login="$ctrl.login()"></lvg-navbar-action-panel>
    </div>
    <md-tabs md-center-tabs md-no-select-click>
        <md-tab data-ui-sref="project.boards({projectName: $ctrl.project.shortName})" md-active="$ctrl.$state.is('project.boards')">
            <md-tab-label>
                <span data-translate>navbar.project.home</span>
            </md-tab-label>
        </md-tab>
        <md-tab data-ui-sref="project.milestones({projectName: $ctrl.project.shortName})" md-active="$ctrl.$state.is('project.milestones') || $ctrl.$state.is('project.milestones.milestone')">
            <md-tab-label>
                <span data-translate>navbar.project.milestones</span>
            </md-tab-label>
        </md-tab>
        <md-tab data-ui-sref="project.statistics({projectName: $ctrl.project.shortName})" md-active="$ctrl.$state.is('project.statistics')">
            <md-tab-label>
                <span data-translate>navbar.project.statistics</span>
            </md-tab-label>
        </md-tab>
        <md-tab data-ui-sref="project.calendar({projectName: $ctrl.project.shortName})" md-active="$ctrl.$state.is('project.calendar')">
            <md-tab-label>
                <span data-translate>navbar.project.calendar</span>
            </md-tab-label>
        </md-tab>
    </md-tabs>
</md-toolbar>


