<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" data-ng-click="$ctrl.toggleSidebar()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h2>{{::$ctrl.project.shortName}}</h2>
        <lvg-search-input project="$ctrl.project" data-lvg-has-permission="SEARCH" flex></lvg-search-input>
        <a class="md-icon-button"
            data-ui-sref="projectManage.project({projectName: $ctrl.project.shortName})"
            data-lvg-has-permission="PROJECT_ADMINISTRATION">
            <md-icon md-svg-icon="settings"></md-icon>
        </a>
        <button class="md-icon-button md-button md-ink-ripple"
                data-lvg-is-authenticated><md-icon md-font-icon="fa-user" class="fa"></md-icon></button>
        <button class="md-raised md-primary md-button md-ink-ripple" data-lvg-is-not-authenticated data-ng-click="$event.preventaDefault(); $ctrl.login()">
            <span data-translate>index.navbar.login</span></button>
    </div>
    <md-tabs md-center-tabs>
        <md-tab data-ui-sref="project.boards({projectName: $ctrl.project.shortName})" md-active="$ctrl.$state.is('project.boards')">
            <md-tab-label>
                <span data-translate>partials.project.fragments.navbar.project</span>
            </md-tab-label>
        </md-tab>
        <md-tab data-ui-sref="project.milestones({projectName: $ctrl.project.shortName})" md-active="$ctrl.$state.is('project.milestones')">
            <md-tab-label>
                <span data-translate>partials.project.fragments.navbar.milestones</span>
            </md-tab-label>
        </md-tab>
        <md-tab data-ui-sref="project.statistics({projectName: $ctrl.project.shortName})" md-active="$ctrl.$state.is('project.statistics')">
            <md-tab-label>
                <span data-translate>partials.project.fragments.navbar.statistics</span>
            </md-tab-label>
        </md-tab>
    </md-tabs>
</md-toolbar>


