{
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script"
    },
    "env": {
        "browser": true
    },
    "globals": {
        "angular": false,
        "Chart": false,
        "inject": false,
        "io_lavagna": false,
        "marked": false,
        "module": false,
        "moment": false,
        "Stomp": false,
        "SockJS": false,
        "Sortable": false,
        "Trello": false
    },
    "plugins": [
        "angular",
        "html"
    ],
    "rules": {
        ////////// Possible Errors //////////

        "no-cond-assign": [2,
            "except-parens"],            // disallow assignment in conditional expressions
        "no-console": 2,               // disallow use of console (off by default in the node environment)
        "no-constant-condition": 2,    // disallow use of constant expressions in conditions
        "no-control-regex": 2,         // disallow control characters in regular expressions
        "no-debugger": 2,              // disallow use of debugger
        "no-dupe-args": 2,             // disallow duplicate arguments in functions
        "no-dupe-keys": 2,             // disallow duplicate keys when creating object literals
        "no-duplicate-case": 2,        // disallow a duplicate case label
        "no-empty-character-class": 2, // disallow the use of empty character classes in regular expressions
        "no-empty": 2,                 // disallow empty statements
        "no-ex-assign": 2,             // disallow assigning to the exception in a catch block
        "no-extra-boolean-cast": 2,    // disallow double-negation boolean casts in a boolean context
        "no-extra-parens": 0,          // disallow unnecessary parentheses (off by default)
        "no-extra-semi": 2,            // disallow unnecessary semicolons
        "no-func-assign": 2,           // disallow overwriting functions written as function declarations
        "no-inner-declarations": 2,    // disallow function or variable declarations in nested blocks
        "no-invalid-regexp": 2,        // disallow invalid regular expression strings in the RegExp constructor
        "no-irregular-whitespace": 2,  // disallow irregular whitespace outside of strings and comments
        "no-negated-in-lhs": 2,        // disallow negation of the left operand of an in expression
        "no-obj-calls": 2,             // disallow the use of object properties of the global object (Math and JSON) as functions
        "no-regex-spaces": 2,          // disallow multiple spaces in a regular expression literal
        "no-sparse-arrays": 2,         // disallow sparse arrays
        "no-unreachable": 2,           // disallow unreachable statements after a return, throw, continue, or break statement
        "use-isnan": 2,                // disallow comparisons with the value NaN
        "valid-jsdoc": 0,              // Ensure JSDoc comments are valid (off by default)
        "valid-typeof": 2,             // Ensure that the results of typeof are compared against a valid string
        "no-unexpected-multiline": 2,  // Avoid code that looks like two expressions but is actually one (off by default)


        ////////// Best Practices //////////

        "accessor-pairs": 1,                // enforces getter/setter pairs in objects (off by default)
        "array-callback-return": 2,         // enforce return statements in callbacks of array methods
        "block-scoped-var": 2,              // treat var statements as if they were block scoped (off by default)
        "complexity": 0,                    // specify the maximum cyclomatic complexity allowed in a program (off by default)
        "consistent-return": 0,             // require return statements to either always or never specify values
        "curly": 2,                         // specify curly brace conventions for all control statements
        "default-case": 0,                  // require default case in switch statements (off by default)
        "dot-location": 0,                  // enforces consistent newlines before or after dots (off by default)
        "dot-notation": 0,                  // encourages use of dot notation whenever possible
        "eqeqeq": 2,                        // require the use of === and !==
        "guard-for-in": 1,                  // make sure for-in loops have an if statement (off by default)
        "no-alert": 2,                      // disallow the use of alert, confirm, and prompt
        "no-case-declarations": 2,          // disallow lexical declarations in case clauses
        "no-caller": 2,                     // disallow use of arguments.caller or arguments.callee
        "no-div-regex": 1,                  // disallow division operators explicitly at beginning of regular expression (off by default)
        "no-else-return": 0,                // disallow else after a return in an if (off by default)
        "no-empty-function": 0,             // disallow empty functions
        "no-empty-pattern": 2,              // disallow empty destructuring patterns
        "no-eq-null": 2,                    // disallow comparisons to null without a type-checking operator (off by default)
        "no-eval": 2,                       // disallow use of eval()
        "no-extend-native": 1,              // disallow adding to native types
        "no-extra-bind": 1,                 // disallow unnecessary function binding
        "no-fallthrough": 2,                // disallow fallthrough of case statements
        "no-floating-decimal": 2,           // disallow the use of leading or trailing decimal points in numeric literals (off by default)
        "no-global-assign": 2,              // disallow assignments to native objects or read-only global variables
        "no-implicit-coercion": 0,          // disallow shorthand type conversions
        "no-implicit-globals": 1,           // disallow variable and function declarations in the global scope
        "no-implied-eval": 2,               // disallow use of eval()-like methods
        "no-invalid-this": 1,               // disallow this keywords outside of classes or class-like objects
        "no-iterator": 2,                   // disallow usage of __iterator__ property
        "no-labels": 2,                     // disallow use of labeled statements
        "no-lone-blocks": 2,                // disallow unnecessary nested blocks
        "no-loop-func": 2,                  // disallow creation of functions within loops
        "no-multi-spaces": 2,               // disallow use of multiple spaces
        "no-multi-str": 2,                  // disallow use of multiline strings
        "no-new-func": 2,                   // disallow use of new operator for Function object
        "no-new-wrappers": 2,               // disallows creating new instances of String, Number, and Boolean
        "no-new": 2,                        // disallow use of new operator when not part of the assignment or comparison
        "no-octal-escape": 2,               // disallow use of octal escape sequences in string literals, such as var foo = "Copyright \251";
        "no-octal": 2,                      // disallow use of octal literals
        "no-param-reassign": 0,             // disallow reassignment of function parameters (off by default)
        "no-proto": 2,                      // disallow usage of __proto__ property
        "no-redeclare": 2,                  // disallow declaring the same variable more then once
        "no-restricted-properties": 2,      // disallow certain properties on certain objects
        "no-return-assign": 2,              // disallow use of assignment in return statement
        "no-return-await": 2,               // disallow unnecessary return await
        "no-script-url": 2,                 // disallow use of javascript: urls
        "no-self-assign": 2,                // disallow assignments where both sides are exactly the same
        "no-self-compare": 2,               // disallow comparisons where both sides are exactly the same (off by default)
        "no-sequences": 2,                  // disallow use of comma operator
        "no-throw-literal": 0,              // restrict what can be thrown as an exception (off by default)
        "no-unmodified-loop-condition": 2,  // disallow unmodified loop conditions
        "no-unused-expressions": 1,         // disallow usage of expressions in statement position
        "no-unused-labels": 2,              // disallow unused labels
        "no-useless-call": 2,               // disallow unnecessary calls to .call() and .apply()
        "no-useless-concat": 2,             // disallow unnecessary concatenation of literals or template literals
        "no-useless-escape": 2,             // disallow unnecessary escape characters
        "no-useless-return": 2,             // disallow redundant return statements
        "no-void": 2,                       // disallow use of void operator (off by default)
        "no-warning-comments": 0,           // disallow usage of configurable warning terms in comments, e.g. TODO or FIXME (off by default)
        "no-with": 2,                       // disallow use of the with statement
        "radix": 0,                         // require use of the second argument for parseInt() (off by default)
        "vars-on-top": 0,                   // requires to declare all vars on top of their containing scope (off by default)
        "wrap-iife": 2,                     // require immediate function invocation to be wrapped in parentheses (off by default)
        "yoda": 1,                          // require or disallow Yoda conditions


        ////////// Strict Mode //////////

        "strict": 0,          // controls location of Use Strict Directives


        ////////// Variables //////////

        "init-declarations": 0,           // require or disallow initialization in variable declarations
        "no-catch-shadow": 2,             // disallow the catch clause parameter name being the same as a variable in the outer scope (off by default in the node environment)
        "no-delete-var": 2,               // disallow deletion of variables
        "no-label-var": 2,                // disallow labels that share a name with a variable
        "no-restricted-globals": 0,       // disallow specified global variables
        "no-shadow": 0,                   // disallow declaration of variables already declared in the outer scope
        "no-shadow-restricted-names": 0,  // disallow shadowing of names such as arguments
        "no-undef": 2,                    // disallow use of undeclared variables unless mentioned in a global  block
        "no-undef-init": 1,               // disallow use of undefined when initializing variables
        "no-undefined": 0,                // disallow use of undefined variable (off by default)
        "no-unused-vars": 2,              // disallow declaration of variables that are not used in the code
        "no-use-before-define": 0,        // disallow use of variables before they are defined


        ////////// Stylistic Issues //////////

        "array-bracket-spacing": 0,         // enforce spacing inside array brackets (off by default)
        "block-spacing": 1,                 // enforce consistent spacing inside single-line blocks
        "brace-style": [1, "1tbs",
            { "allowSingleLine": true }],     // enforce one true brace style (off by default)
        "camelcase": 0,                     // require camel case names
        "comma-dangle": 0,                  // require or disallow trailing commas
        "comma-spacing": 1,                 // enforce spacing before and after comma
        "comma-style": 1,                   // enforce one true comma style (off by default)
        "computed-property-spacing": 1,     // require or disallow padding inside computed properties (off by default)
        "consistent-this": 0,               // enforces consistent naming when capturing the current execution context (off by default)
        "eol-last": 1,                      // enforce newline at the end of file, with no multiple empty lines
        "func-name-matching": 0,            // require function names to match the name of the variable or property to which they are assigned
        "func-names": 0,                    // require function expressions to have a name (off by default)
        "func-style": 0,                    // enforces use of function declarations or expressions (off by default)
        "id-blacklist": 0,                  // disallow specified identifiers
        "id-length": 0,                     // enforce minimum and maximum identifier lengths
        "id-match": 0,                      // require identifiers to match a specified regular expression
        "indent": [1, 4, {"SwitchCase": 1}],// this option sets a specific tab width for your code (off by default)
        "key-spacing": 1,                   // enforces spacing between keys and values in object literal properties
        "keyword-spacing": 1,               // enforce consistent spacing before and after keywords
        "line-comment-position": 0,         // enforce position of line comments
        "lines-around-comment": 0,          // enforces empty lines around comments (off by default)
        "lines-around-directive": 0,        // require or disallow newlines around directives
        "linebreak-style": 0,               // disallow mixed 'LF' and 'CRLF' as linebreaks (off by default)
        "max-depth": [1, 5],                // enforce a maximum depth that blocks can be nested
        "max-len": 0,                       // enforce a maximum line length
        "max-lines": 0,                     // enforce a maximum number of lines per file
        "max-nested-callbacks": 0,          // specify the maximum depth callbacks can be nested (off by default)
        "max-params": 0,                    // enforce a maximum number of parameters in function definitions
        "max-statements-per-line": 0,       // enforce a maximum number of statements allowed per line
        "max-statements": 0,                // enforce a maximum number of statements allowed in function blocks
        "multiline-ternary": 0,             // enforce newlines between operands of ternary expressions
        "new-cap": 0,                       // require a capital letter for constructors
        "new-parens": 1,                    // disallow the omission of parentheses when invoking a constructor with no arguments
        "newline-after-var": 1,             // allow/disallow an empty newline after var statement (off by default)
        "newline-before-return": 1,         // require an empty line before return statements
        "newline-per-chained-call": 0,      // require a newline after each call in a method chain
        "no-array-constructor": 2,          // disallow use of the Array constructor
        "no-bitwise": 0,                    // disallow bitwise operators
        "no-continue": 0,                   // disallow use of the continue statement (off by default)
        "no-inline-comments": 0,            // disallow comments inline after code (off by default)
        "no-lonely-if": 2,                  // disallow if as the only statement in an else block (off by default)
        "no-mixed-operators": 0,            // disallow mixed binary operators
        "no-mixed-spaces-and-tabs": 2,      // disallow mixed spaces and tabs for indentation
        "no-multiple-empty-lines": [1,
            {"max": 1}],                    // disallow multiple empty lines (off by default)
        "no-negated-condition": 0,          // disallow negated conditions
        "no-nested-ternary": 0,             // disallow nested ternary expressions (off by default)
        "no-new-object": 2,                 // disallow use of the Object constructor
        "no-plusplus": 0,                   // disallow the unary operators ++ and --
        "no-restricted-syntax": 0,          // disallow specified syntax
        "no-tabs": 2,                       // disallow tabs in file
        "no-ternary": 0,                    // disallow the use of ternary operators (off by default)
        "no-trailing-spaces": 1,            // disallow trailing whitespace at the end of lines
        "no-underscore-dangle": 0,          // disallow dangling underscores in identifiers
        "no-unneeded-ternary": 1,           // disallow ternary operators when simpler alternatives exist
        "no-whitespace-before-property": 1, // disallow whitespace before properties
        "object-curly-newline": 0,          // enforce consistent line breaks inside braces
        "object-curly-spacing": 0,          // enforce consistent spacing inside braces
        "object-property-newline": 0,       // enforce placing object properties on separate lines
        "one-var-declaration-per-line": 1,  // require or disallow newlines around variable declarations
        "one-var": 0,                       // allow just one var statement per function (off by default)
        "operator-assignment": 0,           // require assignment operator shorthand where possible or prohibit it entirely (off by default)
        "operator-linebreak": 0,            // enforce operators to be placed before or after line breaks (off by default)
        "padded-blocks": [1,
            "never"],                         // enforce padding within blocks (off by default)
        "quote-props": 0,                   // require quotes around object literal property names (off by default)
        "quotes": [1,
            "single"],                        // specify whether double or single quotes should be used
        "semi-spacing": 0,                  // enforce spacing before and after semicolons
        "semi": [1,
            "always"],                        // require or disallow use of semicolons instead of ASI
        "sort-keys": 0,                     // require object keys to be sorted
        "sort-vars": 0,                     // sort variables within the same declaration block (off by default)
        "space-before-blocks": 1,           // require or disallow space before blocks (off by default)
        "space-before-function-paren": [1,
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }],                               // require or disallow space before function opening parenthesis (off by default)
        "space-in-parens": 0,               // require or disallow spaces inside parentheses (off by default)
        "space-infix-ops": 1,               // require spaces around operators
        "space-unary-ops": 0,               // require or disallow spaces before/after unary operators (words on by default, nonwords off by default)
        "spaced-comment": 1,                // require or disallow a space immediately following the // or  in a comment (off by default)
        "unicode-bom": 0,                   // require or disallow Unicode byte order mark (BOM)
        "wrap-regex": 1                     // require regex literals to be wrapped in parentheses (off by default)
    }
}
