language: java
before_script:
  - psql -c 'create database lavagna;' -U postgres
  - mysql -u root -e 'CREATE DATABASE lavagna CHARACTER SET utf8 COLLATE utf8_bin;'
matrix:
    include:
        - jdk: oraclejdk8
          env: $PROFILE=-Ddatasource.dialect=HSQLDB
        - jdk: oraclejdk8
          env: $PROFILE=-Ddatasource.dialect=MYSQL
        - jdk: oraclejdk8
          env: $PROFILE=-Ddatasource.dialect=PGSQL-TRAVIS
script: mvn test jacoco:report $PROFILE
after_success:
  - mvn coveralls:report
