<header>
    <lvg-navbar-board board="boardCtrl.board" project="boardCtrl.project"></lvg-navbar-board>
</header>

<lvg-board-controls
	board="boardCtrl.board" 
	project="boardCtrl.project"
    toggled-sidebar="boardCtrl.toggledSidebar"
    side-bar-location="boardCtrl.sidebarLocation"
    un-select-all="boardCtrl.unSelectAll"
    select-all="boardCtrl.selectAll"
    selected-visible-count="boardCtrl.selectedVisibleCount"
    format-bulk-request="boardCtrl.formatBulkRequest"
    selected-visible-cards-id-by-column-id="boardCtrl.selectedVisibleCardsIdByColumnId">
</lvg-board-controls>

<div class="lavagna-board-sidebar lavagna-board-left-sidebar lavagna-left-sidebar-slide-out"
     data-ng-class="{'lavagna-board-left-sidebar-out':boardCtrl.toggledSidebar}">
	<div data-ng-if="boardCtrl.toggledSidebar">
		<lvg-board-sidebar project="boardCtrl.project" user="boardCtrl.user" board="boardCtrl.board" metadata-ref="boardCtrl.getMetadata()" side-bar-location="boardCtrl.sidebarLocation"></lvg-board-sidebar>
	</div>
</div>

<div class="horizontal-slide lavagna-left-sidebar-slide-open" data-ng-class="{'lavagna-board-left-sidebar-open':boardCtrl.toggledSidebar, 'lvg-can-move-columns' : boardCtrl.sortableColumnOptions, 'lvg-can-move-cards': boardCtrl.sortableCardOptions}"
     data-lvg-fill-height="{{boardCtrl.toggledSidebar}}" data-lvg-fill-height-margin="295">
     
    <ul class="lavagna-board-column-holder" data-lvg-size-by-visible-columns="boardCtrl.columns" 
        dnd-list="boardCtrl.columns"
        dnd-horizontal-list="true"
        dnd-allowed-types="['column']"
        dnd-drop="boardCtrl.dropColumn(item, index)"
        dnd-dragover="boardCtrl.dragOverColumn(event)">
        <li class="lavagna-board-column lavagna-sortable-board-column"
            data-ng-repeat="column in boardCtrl.columns track by column.id"
            data-lvg-update-column-size
            dnd-dragstart="boardCtrl.dragStartColumn(event)"
            dnd-draggable="column"
            dnd-type="'column'">
            <lvg-board-column 
                project-short-name="{{::boardCtrl.project.shortName}}" 
                board-short-name="{{::boardCtrl.board.shortName}}"
                metadata-ref="boardCtrl.getMetadata()"
                column="column" 
                selected-cards="boardCtrl.selectedCards" 
                search-filter-ref="boardCtrl.searchFilter"
                user-ref="boardCtrl.user"></lvg-board-column>
        </li>
    </ul>
</div>

<div id="cardModalAnchor" data-ui-view data-autoscroll="false"></div>
