/*
	- contains board style such as columns, cards
*/

/* layout */
lvg-board {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.lvg-board__header {
    position: relative;
    height: 68px;
}

.lvg-board__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height:0;
    flex:1;
    position: relative;
}

.lvg-board__inner-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
    min-height:0;
}

.lvg-board__sidebar-wrapper {
    display: flex;
    -webkit-transition-property: -webkit-transform, width;
    transition-property: transform, width;
    -webkit-transition-duration: .1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    width: 0px;
    height: 99%;
    flex: 0 0 auto;
}

.lvg-board__sidebar-wrapper.lvg-board__sidebar-open {
    width: 300px;
}

.lvg-board__wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin-left: 0;
    min-height: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

.lvg-board__rebuild-if-change {
    display: flex;
}

/* style */

.lavagna-closed-board {
	color: #999;
}

.lavagna-card-placeholder, .lavagna-column-placeholder {
	background-color: #ccc;
}

.lavagna-column-placeholder {
	float: left;
	margin: 4px;
	width: 290px;
}

.lavagna-card-placeholder {
	display: block;
	margin-bottom: 10px;
	margin-left: 6px;
	margin-right: 6px;
}

.lavagna-card-placeholder:last-child {
	margin-bottom: 0;
}

.lavagna-card-caret-container {
	height: 18px;
	width: 12px;
	cursor: pointer;
}

.lavagna-card-caret-container .fa {
	height: 18px;
	width: 12px;
	cursor: pointer;
	display: none;
}

.lavagna-board-column .panel-heading:hover .lavagna-card-caret-container .fa-chevron-down, .lavagna-board-card:hover .lavagna-card-caret-container .fa-chevron-down {
	display: block;
}

.lavagna-board-column .panel-heading:hover .open .lavagna-card-caret-container .fa-chevron-down, .lavagna-board-card:hover .open .lavagna-card-caret-container .fa-chevron-down {
	display: none;
}

.open .lavagna-card-caret-container .fa-chevron-down {
	display: none;
}

.open .lavagna-card-caret-container .fa-chevron-up {
	display: block;
}


.lavagna-board-column-holder {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}

.sortable-ghost {
    opacity: .2;
}

.lavagna-sidebar-column .sortable-ghost{
	opacity: .8;
}
/* ------ */

/* display cards in board UI */

.lavagna-board-panel {
	border: 1px solid #d0d0d0;
	background-color: white;
	box-shadow:none!important;
	margin-bottom:8px;
}

.lavagna-board-panel:hover {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)!important;
}

.lvg-can-move-cards .lavagna-board-panel:hover, .lvg-can-move-cards .lavagna-sidebar-panel:hover {
	box-shadow: 0 2px 10px rgba(0,0,0,0.30);
	cursor: move;
}

#cardBoardMenu .lavagna-board-panel:hover {
	box-shadow: none;
	cursor: default;
}

.lavagna-board-panel .head {
	font-size: 14px;
	font-weight: normal;
	word-wrap: break-word;
}

.lavagna-board-panel .head .title {
	padding: 8px 8px 0 8px;
}

.lavagna-board-panel .head .title a {
	word-wrap: break-word;
	font-size: 16px;
}

.lavagna-board-panel .head .title .is-watching {
	padding-left: 5px;
	color: #aaaaaa;
}

.lavagna-board-panel .body {
	clear: both;
	display: block;
	padding: 0 8px 8px 8px;
	margin: 0;
	font-size: 12px;
}

.lavagna-board-panel .body span.fa {
	font-size: 14px;
}

ul.assigned-users {
	margin: 0;
	padding: 0;
}

ul.assigned-users li.assigned-user {
	list-style-type: none;
	display: block;
	color: #aaaaaa;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

ul.assigned-users li.assigned-user:first-child {
	margin-top: 8px;
}

.lavagna-board-panel .body .card-info .fa, .lavagna-board-panel .body .card-data .fa {
	color: #aaaaaa;
}

.lavagna-board-panel .footer {
	background-color: #f5f5f5;
	border-top: 1px solid #dddddd;
	overflow: hidden;
	width: 100%;
}

.lavagna-board-panel .footer .content {
	padding: 3px 10px;
	width: 100%;
}

.column-placeholder {
	width: 256px;
	min-height: 100px;
	float: left;
}

.lvg-can-move-columns .lvg-column-handle {
	cursor: move;
}

.lavagna-is-watching {
	background-image: url('images/triangle.gif');
	background-repeat: no-repeat;
	background-position: top right;
}

.lvg-card-menu-dialog {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
}

.lvg-card-menu-dialog .modal-dialog {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	margin: 0;
}

.lvg-card-menu-dialog .modal-dialog .modal-content {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	background-color: inherit;
}

/************************
 CARD BOARD MENU
*************************/

#cardBoardMenu {
	z-index: 1050;
}

#cardBoardMenu .fake-link {
	color: #428bca;
	text-decoration: none;
	word-wrap: break-word;
	font-size: 16px;
}

#cardBoardMenuClose {
	position: absolute;
	z-index: 1050;
	top: -21px;
}

#cardBoardMenuClose .close {
	margin-top: -2px;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #f5f5f5;
	opacity: 0.6;
}

#cardBoardMenuClose .close:hover {
	opacity: 1;
}

#cardBoardMenuClose .close:focus,
#cardBoardMenuClose .close:hover,
#cardBoardMenuClose .close:active {
	border: 0;
}

#cardBoardMenuActions {
	position: absolute;
	z-index: 1050;
	background-color: #ffffff;
	border: 1px solid #d0d0d0;
	padding: 0;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

#cardBoardMenuActions .lvg-board-card-menu {
	float: left;
	min-width: 160px;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
}

#cardBoardMenuActions .lvg-board-card-menu .divider {
	height: 1px;
	margin: 0;
	padding: 0;
	cursor: default;
	overflow: hidden;
	background-color: #e5e5e5;
}

#cardBoardMenuActions .lvg-board-card-menu button.lvg-dropdown-button {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
}

#cardBoardMenuActions .lavagna-panel {
	border: 0;
	margin: 0;
}

#cardBoardMenuActions .fixed-card-menu-panel {
	width: 256px;
}
