<div class="col-sm-6 col-xs-12">
    <div class="lavagna-panel">
        <div class="head clearfix headonly">
            <div class="title title-bold" data-translate>partials.admin.export-import.export</div>
        </div>
        <div class="body separated">
            <form data-ng-submit="adminExpImpCtrl.doExport()">
                <button type="submit" class="lvg-button lvg-button-submit">
                    <span class="fa fa-download"></span> <span data-translate>partials.admin.export-import.exportButton</span>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="col-sm-6 col-xs-12">
    <div class="lavagna-panel">
        <div class="head clearfix headonly">
            <div class="title title-bold" data-translate>partials.admin.export-import.import</div>
        </div>
        <div class="body separated">
            <form class="form" role="form" data-ng-submit="adminExpImpCtrl.doImport()">
                <div class="form-group">
                    <div class="lvg-button lvg-button-submit" data-ng-file-select="adminExpImpCtrl.onFileSelect($files)"><span data-translate>button.fileSelect</span></div>
                    <div data-ng-if="adminExpImpCtrl.importFile != null">{{adminExpImpCtrl.importFile.name}}</div>
                    <div data-ng-if="adminExpImpCtrl.importFile == null" data-translate>common.no-files-selected</div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="overrideConfiguration" data-ng-model="adminExpImpCtrl.overrideConfiguration">
                        <span data-translate>partials.admin.export-import.overrideConf</span>
                    </label>
                </div>
                <button type="submit" class="lvg-button lvg-button-submit" data-ng-disabled="adminExpImpCtrl.importing || adminExpImpCtrl.importFile == null">
                    <span class="fa fa-upload"></span> <span data-translate>partials.admin.export-import.importButton</span>
                </button>
            </form>
        </div>
    </div>
</div>
