<div class="modal-header">
	<h3 class="modal-title">
		<span data-translate>partials.admin.configure-login.ldap.checkConfiguration</span>
	</h3>
</div>
<div class="modal-body">
	<div class="form-group">
		<label data-translate for="checkLdap.username">partials.admin.configure-login.ldap.username</label> <input type="text" class="form-control"
			data-ng-model="checkLdap.username" id="checkLdap.username">
	</div>
	<div class="form-group">
		<label data-translate for="checkLdap.password">partials.admin.configure-login.ldap.password</label> <input type="password"
			class="form-control" data-ng-model="checkLdap.password" id="checkLdap.password">
	</div>
	<div>
		<div data-ng-show="ldapCheckResult">
			<span data-ng-show="ldapCheckResult.first" data-translate>partials.admin.configure-login.ldap.allOk</span>
			<span data-ng-show="!ldapCheckResult.first" data-translate>partials.admin.configure-login.ldap.error</span>
			<ul>
                <li data-ng-repeat="msg in ldapCheckResult.second"><pre ng-bind="msg"></pre></li>
			</ul>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="lvg-button lvg-button-submit"
		data-ng-click="checkLdapConfiguration(checkLdap)"
		type="button" data-translate>partials.admin.configure-login.ldap.check</button>
	<button data-ng-click="close()" class="lvg-button lvg-button-default" data-translate>button.close</button>
</div>
