<form name="dialogSelectLabel" ng-submit="$ctrl.ok($ctrl.selectedLabel.label, $ctrl.selectedLabel.value)" class="lvg-dialog__content">
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title" translate>{{::('dialog-select-label.'+$ctrl.dialogTitle)}}</h2>
		<div>
			<md-select ng-model="$ctrl.selectedLabel.label" required md-autofocus>
	          <md-option ng-value="m" ng-repeat="m in $ctrl.userLabels">
	            {{m.name}}
	          </md-option>
	        </md-select>
		</div>
		<div ng-if="$ctrl.withLabelValuePicker">
			<lvg-label-picker label="$ctrl.selectedLabel.label" ng-model="$ctrl.selectedLabel.value" project-name="$ctrl.projectName" class="lvg-select-label__label-picker"></lvg-label-picker>
		</div>
	</md-dialog-content>
	<md-dialog-actions> 
		<md-button type="button" ng-click="$ctrl.cancel()"><span translate>button.cancel</span></md-button>
		<md-button type="submit" ng-disabled="!dialogSelectLabel.$valid"><span translate>{{::$ctrl.buttonLabel}}</span></md-button> 
	</md-dialog-actions>
</form>