<div>
    <div class="row">
        <div class="col-md-6 lavagna-container-top-margin">
            <div class="lavagna-form-panel lvg-statistics-top-panel">
                <form class="form" role="form">
                    <div class="form-group">
                        <label class="control-label" data-translate>partials.project.statistics.filterByBoard</label>

                        <select class="form-control" data-ng-model="$ctrl.boardToFilter"
                                data-ng-options="board.name for board in $ctrl.boards | filter:{archived: false}"
                                data-ng-change="$ctrl.filterByBoard($ctrl.boardToFilter)">
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 lavagna-container-top-margin">
            <div class="lavagna-form-panel lvg-statistics-top-panel">
                <form class="form" role="form">
                    <div class="form-group">
                        <label class="control-label" data-translate>partials.project.statistics.dateRange</label>

                        <select class="form-control" data-ng-model="$ctrl.dateRange"
                                data-ng-options="date.name for date in $ctrl.availableDateRanges"
                                data-ng-change="$ctrl.changeDateRange($ctrl.dateRange)">
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="lavagna-container-top-margin"
             data-ng-class="{'col-md-6': $ctrl.stats.mostActiveCard == null, 'col-md-3': $ctrl.stats.mostActiveCard}">
            <lvg-stats-tile tile-title="'partials.project.statistics.createdThisPeriod'|translate"
                            value="$ctrl.openedThisPeriod" value-color="$ctrl.stats.openTaskColor">
            </lvg-stats-tile>
        </div>
        <div class="lavagna-container-top-margin"
             data-ng-class="{'col-md-6': $ctrl.stats.mostActiveCard == null, 'col-md-3': $ctrl.stats.mostActiveCard}">
            <lvg-stats-tile tile-title="'partials.project.statistics.closedThisPeriod'|translate"
                            value="$ctrl.closedThisPeriod" value-color="$ctrl.stats.closedTaskColor">
            </lvg-stats-tile>
        </div>
        <div class="col-md-6 lavagna-container-top-margin" data-ng-if="$ctrl.stats.mostActiveCard">
            <div class="lavagna-panel">
                <div class="stats-tile-title">
                    <h4 data-translate>partials.project.statistics.mostActiveCard</h4>
                </div>
                <div class="stats-tile-value stats-most-active-tile-value">
                    <a ui-sref="board.card({projectName: $ctrl.stats.mostActiveCard.projectShortName, shortName: $ctrl.stats.mostActiveCard.boardShortName, seqNr: $ctrl.stats.mostActiveCard.sequence})"
                       data-ng-class="{'lavagna-closed-card':$ctrl.stats.mostActiveCard.columnDefinition == 'CLOSED'}">
                        <span>{{$ctrl.stats.mostActiveCard.boardShortName}}-{{$ctrl.stats.mostActiveCard.sequence}}</span>
                    </a>
                </div>
                <div class="stats-tile-subtitle"><h5>{{$ctrl.stats.mostActiveCard.name}}</h5></div>
            </div>
        </div>
    </div>

    <div class="row" data-ng-if="$ctrl.showCreatedAndClosedCards">
        <div class="col-md-12 lavagna-container-top-margin">
            <div class="lavagna-panel">
                <div class="head clearfix">
                    <div class="stats-tile-title">
                        <h4 class="chart-header">
                            <span data-translate>partials.project.statistics.createdAndClosedCards</span>
                        </h4>
                    </div>
                </div>
                <div class="body">
                    <div>
                        <lvg-stats-chart chart-data="$ctrl.stats.createdAndClosedCards"></lvg-stats-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 lavagna-container-top-margin">
            <lvg-stats-tile tile-title="'partials.project.statistics.open'|translate"
                            value="$ctrl.stats.openTaskCount" value-color="$ctrl.stats.openTaskColor"></lvg-stats-tile>
        </div>
        <div class="col-md-3 lavagna-container-top-margin">
            <lvg-stats-tile tile-title="'partials.project.statistics.closed'|translate"
                            value="$ctrl.stats.closedTaskCount" value-color="$ctrl.stats.closedTaskColor"></lvg-stats-tile>
        </div>
        <div class="col-md-3 lavagna-container-top-margin">
            <lvg-stats-tile tile-title="'partials.project.statistics.deferred'|translate"
                            value="$ctrl.stats.deferredTaskCount" value-color="$ctrl.stats.deferredTaskColor"></lvg-stats-tile>
        </div>
        <div class="col-md-3 lavagna-container-top-margin">
            <lvg-stats-tile tile-title="'partials.project.statistics.backlog'|translate"
                            value="$ctrl.stats.backlogTaskCount" value-color="$ctrl.stats.backlogTaskColor"></lvg-stats-tile>
        </div>
    </div>

    <div class="row" data-ng-if="$ctrl.showCardsHistory">
        <div class="col-md-12">
            <div class="lavagna-panel lavagna-container-top-margin">
                <div class="head clearfix">
                    <div class="stats-tile-title">
                        <h4 class="chart-header">
                            <span data-translate>partials.project.statistics.cardsHistory</span>
                        </h4>
                    </div>
                </div>
                <div class="body">
                    <div>
                        <lvg-chart type="Line" data="$ctrl.chartCardsHistoryData" height="220"
                                   options="$ctrl.cardsHistoryChartOptions"
                                   class="img-responsive"></lvg-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 lavagna-container-top-margin">
            <lvg-stats-tile tile-title="'partials.project.statistics.totalCards'|translate"
                            value="$ctrl.totalCards"></lvg-stats-tile>
        </div>
        <div class="col-md-3 lavagna-container-top-margin">
            <lvg-stats-tile tile-title="'partials.project.statistics.activeUsers'|translate"
                            value="$ctrl.stats.activeUsers"></lvg-stats-tile>
        </div>
        <div class="col-md-3 lavagna-container-top-margin">
            <lvg-stats-tile tile-title="'partials.project.statistics.averageCardsPerUser'|translate"
                            value="$ctrl.stats.averageCardsPerUser|number:2"></lvg-stats-tile>
        </div>
        <div class="col-md-3 lavagna-container-top-margin">
            <lvg-stats-tile tile-title="'partials.project.statistics.averageUsersPerCard'|translate"
                            value="$ctrl.stats.averageUsersPerCard|number:2"></lvg-stats-tile>
        </div>
    </div>

    <div class="row" data-ng-if="$ctrl.showCardsByLabel">
        <div class="col-md-12">
            <div class="lavagna-panel lavagna-container-top-margin">
                <div class="head clearfix">
                    <div class="stats-tile-title">
                        <h4 class="chart-header">
                            <span data-translate>partials.project.statistics.cardsByLabel</span>
                        </h4>
                    </div>
                </div>
                <div class="body">
                    <div>
                        <div>
                            <table class="lvg-bar-chart">
                                <tr data-ng-repeat="label in $ctrl.stats.cardsByLabel">
                                    <td class="text">
                                        <lvg-label value="label" name="label.labelName"></lvg-label>
                                    </td>
                                    <td class="bar">
                                        <div class="inner-bar"
                                             data-ng-style="::(label|labelChartBar: cardsByLabelMax)"
                                             data-ng-class="::(label.labelColor|labelBackgroundClass)" ng-bind="::label.count">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-ui-view data-autoscroll="false"></div>
