<div class="lvg-sidebar-content__user start-xs middle-xs" ng-if="$ctrl.user">
    <div class="lvg-sidebar-content__user-avatar">
        <lvg-user-avatar user-id="$ctrl.user.id" size="40"></lvg-user-avatar>
    </div>
    <div class="lvg-sidebar-content__user-info overflow-ellipsis">
        <div class="lvg-sidebar-content__user-info-name">
            {{$ctrl.user | formatUser}}
        </div>
        <div class="lvg-sidebar-content__user-info-email overflow-ellipsis" ng-if="$ctrl.user.email">
            {{$ctrl.user.email}}
        </div>
    </div>
    <div class="flex"></div>
    <div data-lvg-is-authenticated class="lvg-sidebar-content__user-logout">
        <md-button class="md-icon-button" ng-click="$ctrl.logout()">
            <md-tooltip>{{::('sidebar.action.logout' | translate)}}</md-tooltip>
            <md-icon md-svg-icon="logout"></md-icon>
        </md-button>
    </div>
</div>
<div class="lvg-sidebar-content__links" >
    <a class="lvg-sidebar-content__link start-xs middle-xs" data-ui-sref="home.dashboard">
        <md-icon class="lvg-sidebar-content__link-icon" md-svg-icon="dashboard"></md-icon>
        <span class="lvg-sidebar-content__link-text" data-translate>navbar.common.dashboard</span>
    </a>
    <a class="lvg-sidebar-content__link start-xs middle-xs" data-ui-sref="calendar">
        <md-icon class="lvg-sidebar-content__link-icon" md-svg-icon="calendar"></md-icon>
        <span class="lvg-sidebar-content__link-text" data-translate>navbar.common.calendar</span>
    </a>
    <a class="lvg-sidebar-content__link start-xs middle-xs" data-ui-sref="account" data-lvg-has-permission="UPDATE_PROFILE">
        <md-icon class="lvg-sidebar-content__link-icon" md-svg-icon="person_black"></md-icon>
        <span class="lvg-sidebar-content__link-text" data-translate>navbar.common.my.profile</span>
    </a>
    <a class="lvg-sidebar-content__link start-xs middle-xs" href="help/" target="_blank">
        <md-icon class="lvg-sidebar-content__link-icon" md-svg-icon="help"></md-icon>
        <span class="lvg-sidebar-content__link-text" data-translate>sidebar.link.help</span>
    </a>
    <a class="lvg-sidebar-content__link start-xs middle-xs" data-ui-sref="about.lavagna">
        <md-icon class="lvg-sidebar-content__link-icon" md-svg-icon="info"></md-icon>
        <span class="lvg-sidebar-content__link-text" data-translate>sidebar.link.about</span>
    </a>
    <a class="lvg-sidebar-content__link lvg-sidebar-content__link-special start-xs middle-xs" data-ui-sref="admin.home" data-lvg-has-permission="ADMINISTRATION">
        <md-icon class="lvg-sidebar-content__link-icon" md-svg-icon="settings"></md-icon>
        <span class="lvg-sidebar-content__link-text" data-translate>sidebar.link.admin</span>
    </a>
</div>
