.lvg-card-modal__dialog {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 90%;
          flex: 1 1 90%;
    max-width: 90%;
    max-height: 90%;
    box-sizing: border-box;
}

.lvg-card-modal__background {
    background-color: #eee;
}
