.lvg-svg-icon-small {
    min-height: 18px;
    min-width: 18px;
    height: 18px;
    width: 18px;
}

.lvg-svg-icon-tiny {
    min-height: 12px;
    min-width: 12px;
    height: 12px;
    width: 12px;
}
