<form data-ng-submit="boardDialogCtrl.createBoard(board); preview.show = false; boardDialogCtrl.close();">
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title" translate>project.boards.create.board</h2>
        <md-input-container class="md-block">
            <label data-translate>label.name</label>
            <input type="text" id="name" placeholder="" required autocomplete="off"
                   data-ng-model="board.name" data-ng-keyup="boardDialogCtrl.suggestBoardShortName(board)" maxlength="128" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block" data-ng-class="{'md-input-invalid': boardDialogCtrl.errors.shortName}">
            <label data-translate>label.shortName</label>
            <input type="text" autocomplete="off" class="form-control uppercase" id="shortName" placeholder=""
                   required="required" data-ng-model="board.shortName" maxlength="8"
                   ng-change="boardDialogCtrl.checkBoardShortName(board.shortName)">
            <div ng-messages="boardDialogCtrl.errors">
                <div ng-message="shortName">{{'project.add-board.dialog.shortname.error' | translate}}</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" data-ng-hide="preview.show">
            <label data-translate>label.description</label>
            <textarea data-ng-model="board.description" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block md-input-has-placeholder" data-ng-show="preview.show">
            <label data-translate>label.description</label>
            <div data-ng-bind-html="board.description | markdown"></div>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" type="submit"
            data-ng-disabled="board.name == null || board.shortName == null || boardDialogCtrl.errors.shortName === true">
            <span data-translate>button.create</span>
        </md-button>
        <md-button type="button" data-ng-click="preview.show = true" data-ng-hide="preview.show">
            <span data-translate>button.preview</span>
        </md-button>
        <md-button type="button" data-ng-click="preview.show = false" data-ng-show="preview.show">
            <span data-translate>button.closePreview</span>
        </md-button>
        <md-button type="button" data-ng-click="boardDialogCtrl.close();">
            <span data-translate>button.cancel</span>
        </md-button>
    </md-dialog-actions>
</form>
