<div layout="column" layout-gt-sm="row">
	<div flex>
	     <ul class="lavagna-boards">
	        <li data-ng-class="{archived : board.archived}" data-ng-repeat="board in projectCtrl.currentBoards">
	            <lvg-stats-panel-board data-board="board" data-project-short-name="projectCtrl.project.shortName"></lvg-stats-panel-board>
	        </li>
	    </ul>
	    <div data-ng-if="projectCtrl.totalBoards > projectCtrl.boardsPerPage">
	        <pagination total-items="projectCtrl.totalBoards" data-ng-model="projectCtrl.boardPage"
	                    items-per-page="projectCtrl.boardsPerPage" max-size="projectCtrl.maxVisibleBoardPages"
	                    class="pagination-sm" boundary-links="true" rotate="false"
	                    data-ng-change="projectCtrl.switchBoardPage(projectCtrl.boardPage)"></pagination>
	    </div>
	</div>
        
	<div flex data-lvg-is-authenticated data-lvg-has-permission="SEARCH">
	    <h2 class="card-home" data-translate data-translate-value-name="{{::projectCtrl.project.name}}">partials.project.project.myOpenTasks</h2>
	    <ul data-ng-if="projectCtrl.totalProjectOpenCards > 0" class="lavagna-home-cards" ng-repeat="hash in projectCtrl.getMetadataHash() track by hash">
	        <li class="lavagna-home-card" ng-repeat="card in projectCtrl.userProjectCards track by card.hash+project.metadata.hash">
	            <lvg-card-fragment-v2 view="list" card-ref="::card" user-ref="::projectCtrl.user" project-metadata-ref="::projectCtrl.metadata"></lvg-card-fragment-v2>
	        </li>
	    </ul>
	    <span data-ng-if="projectCtrl.totalProjectOpenCards == 0" data-translate>partials.project.project.noTask</span>
	    <div data-ng-if="projectCtrl.totalProjectOpenCards > projectCtrl.projectCardsPerPage">
	        <pagination total-items="projectCtrl.totalProjectOpenCards"
	                    data-ng-model="projectCtrl.cardProjectPage" items-per-page="projectCtrl.projectCardsPerPage"
	                    max-size="projectCtrl.maxVisibleCardProjectPages" class="pagination-sm"
	                    boundary-links="true" rotate="false"
	                    data-ng-change="projectCtrl.fetchUserCardsInProjectPage(projectCtrl.cardProjectPage)"></pagination>
	    </div>
	</div>
</div>


<div data-autoscroll="false"></div>

<md-button class="md-fab md-primary lvg-fab-bottom-right" ng-click="projectCtrl.showBoardDialog($event)" aria-label="{{'partials.fragments.create-board-fragment.createNewBoard' | translate}}" data-lvg-has-permission="PROJECT_ADMINISTRATION">
    <md-tooltip md-direction="top">{{'partials.fragments.create-board-fragment.createNewBoard' | translate}}</md-tooltip>
    <md-icon md-svg-icon="add"></md-icon>
</md-button>
