.lvg-project-boards__tasks {
    margin-bottom: 21px;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.1;
}

.lvg-project-boards__tasks-switch {
    flex: 0 0 44px;
}

.lvg-project-boards__tasks-switch md-switch {
    margin: 5px 0 0;
}
