<div data-ng-switch="lvgBulkActionInline.mode" class="lvg-bulk-action-inline">
	<div data-ng-switch-when="assign-to">
	   <md-autocomplete
           md-no-cache="true"
           md-selected-item="toAssign"
           md-search-text="userSearchText"
           md-item-text="user.label"
           md-items="user in lvgBulkActionInline.searchUser(userSearchText)">
           <md-item-template>{{user.label}}</md-item-template>
       </md-autocomplete>
		<button data-ng-click="lvgBulkActionInline.assign(toAssign)" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.assign</button>
	</div>
	
	<div data-ng-switch-when="remove-assign-to">
	    <md-autocomplete
           md-no-cache="true"
           md-selected-item="toRemoveFromAssign"
           md-search-text="userSearchText"
           md-item-text="user.label"
           md-items="user in lvgBulkActionInline.searchUser(userSearchText)">
           <md-item-template>{{user.label}}</md-item-template>
       </md-autocomplete>
		<button data-ng-click="lvgBulkActionInline.removeAssign(toRemoveFromAssign)" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.remove</button>
	</div>
	
	<div data-ng-switch-when="re-assign-to">
	   <md-autocomplete
           md-no-cache="true"
           md-selected-item="toReassign"
           md-search-text="userSearchText"
           md-item-text="user.label"
           md-items="user in lvgBulkActionInline.searchUser(userSearchText)">
           <md-item-template>{{user.label}}</md-item-template>
        </md-autocomplete>
		<button data-ng-click="lvgBulkActionInline.reassign(toReassign)" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.reassign</button>
	</div>
	
	<div data-ng-switch-when="set-due-date">
	   <md-datepicker ng-model="dueDate"></md-datepicker>
		<button data-ng-click="lvgBulkActionInline.setDueDate(dueDate)" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.set</button>
	</div>
	
	<div data-ng-switch-when="remove-due-date">
		<button data-ng-click="lvgBulkActionInline.removeDueDate()" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.confirm</button>
	</div>
	
	<div data-ng-switch-when="set-milestone">
		<lvg-label-picker label="lvgBulkActionInline.milestoneLabel" data-ng-model="milestoneToSet" data-in-menu="true"></lvg-label-picker>
		<button data-ng-click="lvgBulkActionInline.setMilestone(milestoneToSet)" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.set</button>
	</div>
	
	<div data-ng-switch-when="remove-milestone">
		<button data-ng-click="lvgBulkActionInline.removeMilestone()" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.confirm</button>
	</div>
	
	<div data-ng-switch-when="add-label">
		<div class="dropdown lvg-button-group add-label" data-uib-dropdown>
			<button type="button" data-uib-dropdown-toggle class="lvg-navigation-button lvg-dropdown-toggle">
				<span data-ng-if="labelToAdd.label.name !== undefined" data-ng-bind="labelToAdd.label.name"></span>
				<span data-ng-if="labelToAdd.label.name === undefined" data-translate>partials.fragments.bulk-action-inline.select</span>
				 <i class="fa fa-caret-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li data-ng-repeat="label in (lvgBulkActionInline.userLabels | orderObjectBy:'name')"><button class="lvg-dropdown-button lvg-button-dropdown-navigation" data-ng-bind="label.name" data-ng-click="labelToAdd.label = label"></button></li>
			</ul>
		</div>
		<lvg-label-picker data-label="labelToAdd.label" data-ng-model="labelToAdd.value" data-in-menu="true"></lvg-label-picker>
		<button data-ng-click="lvgBulkActionInline.addLabel(labelToAdd)" class="lvg-navigation-button" data-translate data-ng-disabled="labelToAdd.label === undefined">partials.fragments.bulk-action-inline.add</button>
	</div>
	
	<div data-ng-switch-when="remove-label">
		<div class="dropdown lvg-button-group add-label" data-ng-init="toRemoveLabel = {}" data-uib-dropdown>
			<button type="button" data-uib-dropdown-toggle class="lvg-navigation-button lvg-dropdown-toggle">
				<span data-ng-if="toRemoveLabel.label.name !== undefined" data-ng-bind="toRemoveLabel.label.name"></span>
				<span data-ng-if="toRemoveLabel.label.name === undefined" data-translate>partials.fragments.bulk-action-inline.select</span>
				 <i class="fa fa-caret-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li data-ng-repeat="label in (lvgBulkActionInline.userLabels | orderObjectBy:'name')"><button class="lvg-dropdown-button lvg-button-dropdown-navigation" data-ng-bind="label.name" data-ng-click="toRemoveLabel.label = label"></button></li>
			</ul>
		</div>
		<button data-ng-disabled="toRemoveLabel.label === undefined" data-ng-click="lvgBulkActionInline.removeLabel(toRemoveLabel.label)" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.remove</button>
	</div>
	
	<div data-ng-switch-when="move-to-archive">
		<button data-ng-click="lvgBulkActionInline.confirmMove('ARCHIVE')" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.confirm</button>
	</div>
	<div data-ng-switch-when="move-to-backlog">
		<button data-ng-click="lvgBulkActionInline.confirmMove('BACKLOG')" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.confirm</button>
	</div>
	<div data-ng-switch-when="move-to-trash">
		<button data-ng-click="lvgBulkActionInline.confirmMove('TRASH')" class="lvg-navigation-button" data-translate>partials.fragments.bulk-action-inline.confirm</button>
	</div>
</div>