/* part of the css has been taken from https://github.com/daniel-nagy/md-data-table which is under the MIT License:

 - https://github.com/daniel-nagy/md-data-table/blob/master/LICENSE.md
*/

table.lvg-table {
	width:100%;
	border-collapse: separate;
	margin: 0;
}

table.lvg-table th, table.lvg-table td {
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	height: 56px;
}

table.lvg-table tr:last-child th, table.lvg-table tr:last-child td {
	border-bottom:0;
}

table.lvg-table md-checkbox {
    margin: 0;
    width: 20px;
}

table.lvg-table .center {
	text-align: center;
}

table.lvg-table .right {
    text-align: right;
}

td.vcenter {
	vertical-align: middle;
}
