<form role="form" data-ng-init="itemToUpdate = {shortName: item.shortName, name: item.name, description: item.description, archived: item.archived}; preview.show = false"
	  data-ng-submit="update(itemToUpdate);preview.show = false" data-lvg-has-permission="PROJECT_ADMINISTRATION">
	<div class="body-full">
		<div class="form-group">
			<label for="name" data-translate>partials.project.manage-home.name</label>
			<input type="text" class="form-control" id="name" placeholder="" required="required" autocomplete="off" data-ng-model="itemToUpdate.name">
		</div>
		<div class="form-group">
			<label for="description" data-translate>partials.project.manage-home.description</label>
			<div data-ng-if="!preview.show">
				<textarea class="form-control" rows="3" id="description" data-ng-model="itemToUpdate.description" data-lvg-codemirror></textarea>
			</div>
			<div data-ng-if="preview.show">
				<div data-ng-bind-html="itemToUpdate.description | markdown"></div>
			</div>
		</div>
		<div class="form-group">
			<label><span data-translate>partials.project.manage-home.archived</span> <input type="checkbox" data-ng-model="itemToUpdate.archived"></label>
		</div>
        <div class="form-group">
            <label><span data-translate>partials.project.manage-home.export</span> <a data-ng-href="api/project/{{project.shortName}}/export/"
                                                                                      target="_blank">
                <i class="fa fa-file-excel-o lvg-export-to-excel-icon"></i>
            </a></label>
        </div>
	</div>
	<div class="footer">
		<button type="submit" class="lvg-button lvg-button-submit" data-translate>partials.project.manage-home.update</button>
		<button type="button" class="lvg-button lvg-button-default" data-translate data-ng-click="preview.show = true" data-ng-hide="preview.show">button.preview</button>
		<button type="button" class="lvg-button lvg-button-default" data-translate data-ng-click="preview.show = false" data-ng-show="preview.show">button.closePreview</button>
	</div>
</form>
