<div class="lavagna-panel">
	<div class="head clearfix headonly" data-ng-style="label.color|columnColor">
		<div class="title title-bold col-xs-9">
			{{label.name}}
		</div>
		<div class="title-addon col-xs-3">
			<ul class="panel-controls" data-lvg-has-permission="PROJECT_ADMINISTRATION">
				<li class="control-item" data-ng-hide="labelStatus.delete || useCount > 0" data-ng-click="labelStatus.edit = false; labelStatus.delete = true;">
					<span class="pull-right"><i class="fa fa-trash-o"></i></span>
				</li>
				<li class="control-item active-control" data-ng-show="labelStatus.delete" data-ng-click="labelStatus.delete = false;">
					<span class="pull-right"><i class="fa fa-times"></i></span>
				</li>
				<li class="control-item" data-ng-hide="labelStatus.edit" data-ng-click="labelStatus.delete = false; labelStatus.edit = true;">
					<span class="pull-right"><i class="fa fa-pencil"></i></span>
				</li>
				<li class="control-item active-control" data-ng-show="labelStatus.edit" data-ng-click="labelStatus.edit = false;">
					<span class="pull-right"><i class="fa fa-times"></i></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="body" data-ng-hide="labelStatus.edit || labelStatus.delete">
		<p><span data-translate>partials.project.manage-labels.type</span> <span data-translate>{{'partials.project.manage-labels.types.' + label.type | translate}}</span></p>
		<p data-ng-if="label.unique"><span data-translate>partials.project.manage-labels.unique</span></p>
		<p data-ng-if="label.type == 'LIST'"><span data-translate>partials.project.manage-labels.valuesList</span>
			<ol>
				<li data-ng-repeat="(nValue,lValue) in labelsListValues">{{lValue.value}}</li>
			</ol>
		</p>
	</div>
	<div class="footer" data-ng-show="labelStatus.edit">
		<ng-include src="'partials/project/fragments/project-edit-label.html'"></ng-include>
	</div>
	<div class="footer" data-ng-show="labelStatus.delete">
		<form data-role="form"
			data-ng-submit="removeLabel(l)">
			<div class="form-group" data-translate>partials.project.manage-labels.deleteLabel</div>
			<div>
				<button type="submit" class="lvg-button lvg-button-submit" data-translate>button.yes</button>
				<button type="button" class="lvg-button lvg-button-default"
					data-ng-click="labelStatus.delete = false;"><span data-translate>button.no</span></button>
			</div>
		</form>
	</div>
</div>