
#lvg-login {
	padding-top:20px;
}

#lvg-login h1 {
	font-size: 16px;
	text-align: center;
}

#lvg-login .lvg-button-submit {
	width: 200px;
}

#lvg-login .btn-oauth, #lvg-login .btn-persona {
	width: 200px;
	text-transform:capitalize;
	color: white;
}

#lvg-login .btn-github {
	background-color: #444;
}
#lvg-login .btn-github:hover {
	background-color: #303030;
}

#lvg-login .btn-bitbucket {
	background-color: #205081;
}
#lvg-login .btn-bitbucket:hover {
	background-color: #183c60;
}

#lvg-login .btn-google {
	background-color: #dd4b39;
}
#lvg-login .btn-google:hover {
	background-color: #ca3523;
}

#lvg-login .btn-twitter {
	background-color: #55acee;
}

#lvg-login .btn-twitter:hover {
	background-color: #309aea;
}

#lvg-login button[class*="btn-gitlab"] {
    background-color: #548;
}

#lvg-login button[class*="btn-gitlab"]:hover {
	background-color: #392e5c;
}

#lvg-login .btn-persona {
	background-color: #f4a32d;
}
#lvg-login .btn-persona:hover {
	background-color: #ee9c26;
}

#lvg-login .error-message-demo,
#lvg-login .error-message-ldap,
#lvg-login .error-message-oauth,
#lvg-login .error-message-persona  {
	display: none;
	margin-bottom: 10px;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	padding: 15px;
}

#lvg-login .single-button {
	margin-bottom:10px;
	text-align: center;	
}

#lvg-login .login-demo {
	display: none;
}

#lvg-login .login-ldap {
	display: none;
}

#lvg-login .login-oauth {
	display: none;
}

#lvg-login .login-persona {
	display: none;
}

#lvg-login #login-persona- {
	display: none;
}

.lvg-login-or {
	margin-bottom:10px;
	text-align: center;
}

.lvg-login-or hr {
	border: none;
	border-top: 1px solid #D0D0D0;
	margin: 0;
	padding: 0
}

.lvg-login-or span {
	background-color: white;
	position: relative;
	top: -10px;
	padding: 10px;
}

