/*
	- contains header and navigation style
*/

/*
===================================
==== header =======================
===================================
*/

.lvg-navigation-bar {
	background-color: #607d8b;
	position: relative;
	z-index: 900;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	margin-bottom: 3px;
}

.lvg-navigation-bar .navigation-frame {
	margin-left: 60px;
	min-height: 30px;
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 10px;
}

.lvg-navigation-bar .navigation-frame i, .lvg-navigation-bar .navigation-frame .separator {
	margin-left: 10px;
	margin-right: 10px;
	color: #80d8ff;
}

.lvg-navigation-bar .navigation-frame .project-settings-shortcut i {
	margin-left: 5px;
	margin-right: 0;
	color: #e5e5e5;
}

.lvg-navigation-bar .menu-frame {
	width: 100%;
	min-height: 30px;
	font-size: 12px;
	position: relative;
}

.lvg-navigation-bar .menu-frame .tab-menu-container {
	margin-left: 30px;
	margin-right: 30px;
	width: auto;
}

.lvg-navigation-bar .menu-frame .context-menu-container {
	top: 0px;
	right: 0px;
	font-size: 18px;
	width: auto;
	height: 30px;
	position: absolute;
	text-align: right;
}

.lvg-navigation-bar .menu-frame .context-menu-container .dropdown-menu {
	right: 0;
	left: auto;
}

.lvg-navigation-bar .menu-frame .context-menu-container .dropdown-menu a {
	display: block;
	color: white;
	opacity: 0.8;
}

.lvg-navigation-bar .menu-frame .context-menu-container .dropdown-menu a:hover,
.lvg-navigation-bar .menu-frame .context-menu-container .dropdown-menu a:active,
.lvg-navigation-bar .menu-frame .context-menu-container .dropdown-menu a:focus {
	text-decoration: none;
	background-color: #78909c;
	color: white;
	opacity: 1;
}

.lvg-navigation-bar a:hover, .lvg-navigation-bar a:focus {
	text-decoration: none;
	outline-style: none;
}

.lvg-navigation-bar .lvg-board-location {
	/*width: 170px;*/
	margin-left: 60px;
	margin-right: 10px;
}

.lvg-navigation-bar .lvg-board-location i.fa {
	width:15px;
}

.lvg-navigation-bar .lvg-board-edit {
	margin-left: 10px;
}

.lvg-navigation-bar .dropdown-menu {
	background-color: #607d8b;
}

.lvg-navigation-bar .open .lvg-dropdown-toggle {
	background-color: #b0bec5;
}

.board-menu-frame .lvg-edit-button {
	color: white;
	opacity: 0.7;
}

.board-menu-frame .lvg-edit-button.edit-active {
	opacity: 1;
}

.lvg-board-location, .lvg-board-edit {
	display: inline-block;
}

/*
===================================
==== custom buttons ===============
===================================
*/

.lvg-navigation-button {
	background-color: #78909c;
	color: white;
	border: 0;
	border-radius: 0;
	height: 24px;
	display: inline-block;
	padding: 2px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
}

.lvg-navigation-button:focus {
	outline: 0;
}
