/**

Specify the color of the links in a md-card 
 
*/

md-card-title-text a {
  color: #428bca;
  text-decoration: none;
}

md-card-title-text a:hover,
md-card-title-text a:focus {
  color: #2a6496;
  text-decoration: underline;
}

md-card-title-text a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}