/*
	- contains basic style, buttons, panels, elements
*/

/*
===================================
==== basic style ==================
===================================
*/

html, body {
	font-family: sans-serif;
	font-style: normal;
	font-variant: normal;
	background-color: #e5e5e5;
	color: #333333;
	font-size: 0.875em;
}

.auto-margin {
	margin: 0 auto;
}

.strike {
	text-decoration: line-through;
}

.z-index-500 {
	z-index: 500
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.inline-block {
	display: inline-block;
}

.lvg-svg-icon-small {
    min-height: 18px;
    min-width: 18px;
    height: 18px;
    width: 18px;
}

.lvg-svg-icon-tiny {
    min-height: 12px;
    min-width: 12px;
    height: 12px;
    width: 12px;
}

.lavagna-container-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.lavagna-container-top-margin {
	margin-top: 20px;
}

.lavagna-container-bottom-margin {
	margin-bottom: 20px;
}

.lvg-default-text-color {
	color:#333;
}


/* overlay used by card menu */


.lvg-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  background-color: #000000;
}

.lvg-modal-overlay-fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.lvg-modal-overlay-fade.in {
  opacity: 0.5;
}

.lvg-container-bg {
	background-color: white;
}

.lvg-line-height-as-md-button {
	line-height:40px;
}

/*
===================================
==== buttons and inputs ===========
===================================
*/

/* position correctly the feedback icon for the forms input */
.form-control-feedback {
	top: 35px;
}

/* removal of border radius */

.form-control, .panel, .list-group-item:last-child, .list-group-item:first-child {
	border-radius: 0;
}

.lvg-button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid transparent;
}

.lvg-inline-button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
}

.lvg-button[disabled], .lvg-inline-button[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.lvg-button:focus, .lvg-inline-button:focus, .lvg-dropdown-button:focus {
	outline: 0;
}

.lvg-button-submit {
	background-color: #428bca;
	border-color: #357ebd;
	color: white;
}

.lvg-button-submit:hover,
.lvg-button-submit:active,
.lvg-button-submit:focus {
	background-color: #3276b1;
	border-color: #285e8e;
	color: white;
}

.lvg-button-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.lvg-button-default:hover,
.lvg-button-default:active,
.lvg-button-default:focus {
	background-color: #ebebeb;
	border-color: #adadad;
	color: #333333;
}

.lvg-button-warning {
	color: white;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.lvg-button-warning:hover,
.lvg-button-warning:active,
.lvg-button-warning:focus {
	color: white;
	background-color: #d43f3a;
	border-color: #d43f3a;
}

.lvg-button-white-bg {
	background-color: white;
}

.lvg-button-white-bg:hover,
.lvg-button-white-bg:active,
.lvg-button-white-bg:focus {
	background-color: #ebebeb;
}

.lvg-button-white-bg {
	background-color: white;
}

.lvg-button-white-bg:hover,
.lvg-button-white-bg:active,
.lvg-button-white-bg:focus {
	background-color: #ebebeb;
}

.lvg-button-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.lvg-nav-context-button {
	height: 30px;
	background-color: #607d8b;
	color: white;
	opacity: 0.8;
}

.lvg-nav-context-button:hover,
.lvg-nav-context-button:focus
.lvg-nav-context-button:active {
	opacity: 1;
}

.inner-addon {
	position: relative;
}

.inner-addon .fa {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.left-inner-addon .fa {
	left: 0px;
}

.right-inner-addon .fa {
	right: 0px;
}

.left-inner-addon input {
	padding-left: 30px;
}

.left-inner-addon input {
	padding-right: 30px;
}

.form-selectable {
	cursor: text !important;
}

.lvg-form-label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
}

/*
===================================
==== panels =======================
===================================
*/

.lavagna-form-panel {
	padding: 10px 10px;
	background-color: #f5f5f5;
}

.lavagna-transpartent-panel {
	padding: 10px 0 0 0;
	background-color: transparent;
}

.lavagna-card-panel {
	border-color: #dddddd;
	background-color: white;
	margin-bottom: 20px;
}

.lavagna-card-panel > div:last-of-type, .lavagna-card-panel > .lavagna-tab-panel > div:last-of-type {
	border-top: 0;
	border-bottom: 0;
}

.lavagna-card-panel .head {
	border-bottom: 1px solid #dddddd;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 15px;
}

.lavagna-card-panel .head .title {
	float: left;
	padding: 0;
}

.lavagna-card-panel .body {
	clear: both;
	display: block;
	padding: 10px 15px;
	margin: 0;
	word-wrap: break-word;
	border-bottom: 1px solid #dddddd;
}

.lavagna-card-panel .body-full {
	clear: both;
	display: block;
	margin: 0;
	border-bottom: 1px solid #dddddd;
}

.lavagna-card-panel .footer {
	border-top: 1px solid #dddddd;
	background-color: #f5f5f5;
	overflow: hidden;
	width: 100%;
}

.lavagna-card-panel .footer-full {
	background-color: #f5f5f5;
	overflow: hidden;
	width: 100%;
}

.lavagna-card-panel .footer .content, .lavagna-card-panel .footer-full .content {
	padding: 10px 15px;
	width: 100%;
}

.lavagna-panel {
	list-style-type: none;
	display: block;
	overflow: hidden;
	background-color: white;
	border: 1px solid #d0d0d0;
	padding: 0;
	margin-bottom: 20px;
}

.lavagna-panel .head {
	font-size: 14px;
	font-weight: normal;
	word-wrap: break-word;
	padding: 10px 10px 0 10px;
}

.lavagna-panel .head.headonly {
	padding-bottom: 10px;
}

.lavagna-panel .head .title {
	padding: 0;
	font-size: 16px;
	word-wrap: break-word;
}

.lavagna-panel .head .title.title-bold {
	font-weight: bold;
}

.lavagna-panel .head .title-addon {
	padding: 0;
	font-size: 14px;
	word-wrap: break-word;
}

.lavagna-panel .head a {
	cursor: pointer;
}

.lavagna-panel .body {
	clear: both;
	display: block;
	padding: 5px 10px 10px 10px;
	margin: 0;
	font-size: 14px;
}

.lavagna-panel .body .form-group:last-of-type, .lavagna-panel .body-full .form-group:last-of-type {
	margin-bottom: 0;
}

.lavagna-panel .body.separated {
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}

.lavagna-panel .body-full {
	clear: both;
	display: block;
	padding: 10px 10px;
	margin: 0;
	font-size: 14px;
}

.lavagna-panel .body span.fa, .lavagna-panel .body-full span.fa {
	font-size: 14px;
}

.lavagna-panel .footer {
	background-color: #f5f5f5;
	border-top: 1px solid #d0d0d0;
	padding: 10px 10px 10px 10px;
	margin: 0 0 0 0;
}

.lavagna-panel .footer-light {
	border-top: 1px solid #d0d0d0;
	padding: 10px 0 10px 0;
	margin: 0 10px 0 10px;
}

.lavagna-panel .footer .content, .lavagna-panel .footer-light .content {
	padding: 0;
}

ul.panel-controls {
	float: right;
	margin: 0;
	padding: 0 5px 0 0;
	color: rgb(117, 117, 117);
	list-style: none;
}

ul.panel-controls li.control-box {
	float: left;
	padding: 10px 15px;
}

ul.panel-controls li.control-item {
	float: left;
	margin-left: 20px;
}

ul.panel-controls li.control-no-action {
	color: #424242;
	margin-left: 20px;
	float: left;
}

.active-control {
	color: #6E6E6E;
}

ul.panel-controls .control-item:HOVER, ul.panel-controls .control-box span.fa:HOVER, .control-item span.fa-link {
	cursor: pointer;
	color: #424242;
}

.lavagna-panel.disabled .body, .lavagna-panel.disabled .body-full,
.lavagna-panel.disabled .footer {
	pointer-events: none;
	opacity: 0.5;
}

.lavagna-panel.collapsed .body, .lavagna-panel.collapsed .body-full,
.lavagna-panel.collapsed .footer {
	display: none;
}

.lavagna-panel-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.lavagna-panel-list .lavagna-panel-list-item {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #d0d0d0;
	display: block;
}

.lavagna-panel-list .lavagna-panel-list-item:last-of-type {
	border-bottom: 0;
}

/*
===================================
==== colors =======================
===================================
*/

/*
===================================
==== labels =======================
===================================
*/

.lavagna-label {
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 2px;
	padding: .5em .9em .5em .6em;
	font-size: 11px;
}

.white {
	color: white;
}

.black {
	color: black;
}

.lavagna-label.white a {
	color: white;
	text-decoration: underline;
}

.lavagna-label.white a .lavagna-closed-card,
.lavagna-label.white a.lavagna-closed-card,
.lavagna-label.white a .user-disabled,
.lavagna-label.white a.user-disabled
 {
	color: white;
	text-decoration: underline line-through;
}

.lavagna-label.black a {
	color: black;
	text-decoration: underline;
}

.lavagna-label.black a .lavagna-closed-card,
.lavagna-label.black a.lavagna-closed-card,
.lavagna-label.black a .user-disabled,
.lavagna-label.black a.user-disabled  {
	text-decoration: underline line-through;
}

.lavagna-label-no-controls {
	padding: .4em .9em .3em .6em;
}


/*
===================================
==== misc =========================
===================================
*/

.lavagna-progress {
	position: relative;
	background-color: white;
	padding: 0;
	height: 3px;
	border-radius: 0;
	margin: 0;
}

.lavagna-progress .progress-bar {
	z-index: 10;
	overflow: hidden;
	position: absolute;
	border-radius: 0;
	height: 100%;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.uppercase {
	text-transform: uppercase;
}

/* --------- */

.lavagna-pointer {
	cursor: pointer;
}

.lavagna-wbr {
	word-break: break-all;
}

.table > tbody > tr > td.vcenter {
	vertical-align: middle;
}

.lvg-edit {
	cursor: text;
}

.lavagna-hide {
	display: none !important;
}

.pull-right {
	float: right;
}

.lvg-table {
	margin: 0;
}

.lvg-panel-top-pagination {
	margin: 0 0 5px 0;
}

.archived {
	opacity: 0.5;
}

.clearfix {
	clear:both;
}

.title-with-no-bottom-space {
	margin-bottom: 0;
    padding-bottom: 0;
}
