.lavagna-container-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.lavagna-container-top-margin {
	margin-top: 20px;
}

.lavagna-container-bottom-margin {
	margin-bottom: 20px;
}

.lvg-default-text-color {
	color:#333;
}


/* overlay used by card menu */

.lvg-container-bg {
	background-color: white;
}

.lvg-line-height-as-md-button {
	line-height:40px;
}

/*
===================================
==== buttons and inputs ===========
===================================
*/

/* position correctly the feedback icon for the forms input */
.form-control-feedback {
	top: 35px;
}

/* removal of border radius */

.form-control, .panel, .list-group-item:last-child, .list-group-item:first-child {
	border-radius: 0;
}

.form-selectable {
	cursor: text !important;
}

/* --------- */

.pull-right {
	float: right;
}
