/*
when an input container contain a select, the height is not the same as the ones
containing input fields.
*/
md-input-container.lvg-fix-height {
	height:54px;
}

md-input-container.lvg-input-container__inline {
    margin: 0;
    max-height: 30px;
    width: 100%;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}
