.lvg-card-metadata__title {
    font-size: 14px;
    font-weight: bold;
}

.lvg-card-metadata__item {
    margin-top:10px;
    min-height: 40px;
    font-size: 14px;
}

.lvg-card-metadata__item .md-icon-button {
    margin: 0;
}

.lvg-card-metadata__status {
    display: inline-block;
    padding: 8px 2px 4px 2px;
}

.lvg-card-metadata__md-select md-option div {
    font-size: 14px;
}

.lvg-card-metadata__md-select md-option {
    padding-left: 15px;
    padding-right: 0px;
}

.lvg-card-metadata__item-name {
    color: #aaaaaa;
}

.lvg-card-metadata__item-container {
    margin: 0 !important;
    padding: 0 !important;
}

.lvg-card-metadata__item-status-select[disabled="disabled"] md-select-value {
    color: inherit !important;

}

.lvg-card-metadata__item-status-select[disabled="disabled"] ._md-select-icon {
    visibility: hidden !important;
}

.lvg-card-metadata__description-textarea {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.lvg-card-metadata__description-footer > div {
    display: inline-block;
}

.lvg-card-metadata__description-edit-button {
    width: 40px;
}

.lvg-card-metadata__description_updated {
    font-size: 12px;
    font-style: italic;
    color: #aaaaaa;
}

.lvg-card-metadata__description_updated_user {
    font-weight: 700;
    color: #7e7e7e;
}

.lvg-card-metadata__description_updated_date {
    color: #aaaaaa;
    font-size: 12px;
}

.lvg-card-metadata__assigned-users .md-readonly md-chips-wrap {
    box-shadow: none !important;
}

.lvg-card-metadata__item .md-datepicker-triangle-button {
    display: none !important;
}

.lvg-card-metadata__item md-datepicker {
    background: white !important;
}

.lvg-card-metadata__item .md-datepicker-input-container {
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.lvg-card-metadata__item .md-datepicker-input-container input, .lvg-card-metadata__item .md-datepicker-input-container button {
    display: none !important;
}

.lvg-card-metadata__item md-select {
    margin: 0 !important;
}

.lvg-card-metadata__milestone-title {
    font-size: 14px;
}

.lvg-card-metadata__milestone-closed {
    color: #e5e5e5;
}
