.lvg-card-metadata__title {
    font-size: 14px;
    font-weight: bold;
}

.lvg-card-metadata__item {
    margin-top:5px;
}

.lvg-card-metadata__status {
    display: inline-block;
    padding: 3px 2px;
}

.lvg-card-metadata__item-padded {
    padding: 3px 2px;
}

.lvg-card-metadata__item-name {
    color: #aaaaaa;
}

.lvg-card-metadata__description_updated {
    font-size: 12px;
    font-style: italic;
    color: #aaaaaa;
}

.lvg-card-metadata__description_updated_user {
    font-weight: 700;
    color: #7e7e7e;
}

.lvg-card-metadata__description_updated_date {
    color: #aaaaaa;
    font-size: 12px;
}
