<md-card>
    <md-card-content>
        <div layout="column" flex="100">
            <div layout="row" class="lvg-card-metadata__item">
                <md-input-container class="lvg-card-metadata__item-container">
                    <md-select flex
                               class="lvg-card-metadata__item-status-select"
                               md-container-class="lvg-card-metadata__md-select"
                               md-selected-text="$ctrl.column | translateColumnName"
                               ng-model="$ctrl.column"
                               ng-change="$ctrl.moveCard($ctrl.column);"
                               ng-disabled="!$ctrl.userPermissions['UPDATE_CARD']"
                               data-ng-style="$ctrl.column.color|labelBackground"
                               data-ng-class="$ctrl.column.color|labelBackgroundClass">
                        <md-optgroup label="Special">
                            <md-option ng-value="location"
                                       ng-repeat="location in $ctrl.locations | orderBy:'name'">
                                <md-icon md-svg-icon="circle" ng-style="{'fill': ( location.color | parseIntColor )}"></md-icon>
                                {{'partials.board.' + location.name | translate }}
                            </md-option>
                        </md-optgroup>
                        <md-optgroup label="Column">
                            <md-option ng-value="column"
                                       ng-repeat="column in $ctrl.columns">
                                <md-icon md-svg-icon="circle" ng-style="{'fill': ( column.color | parseIntColor )}"></md-icon> {{column.name}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>

            <md-divider></md-divider>

            <div layout="column" class="lvg-card-metadata__item">
                <div flex>
                    <span class="lvg-card-metadata__item-name" data-translate>card.metadata.created</span>
                </div>
                <div flex layout="row" layout-align="start center" class="lvg-card-metadata__item-text">
                    <span>
                        <span>{{::$ctrl.card.createTime | date: 'medium' }}</span>
                        <span data-translate>common.by</span>
                        <span data-lvg-user-tooltip="$ctrl.card.userId"></span>
                    </span>
                </div>
            </div>

            <div layout="column" class="lvg-card-metadata__item" data-ng-if="$ctrl.card.createTime != $ctrl.card.lastUpdateTime">
                <div flex>
                    <span class="lvg-card-metadata__item-name" data-translate>card.metadata.lastUpdated</span>
                </div>
                <div flex layout="row" layout-align="start center" class="lvg-card-metadata__item-text">
                    <span>
                        <span>{{::$ctrl.card.lastUpdateTime | date: 'medium' }}</span>
                        <span data-translate>common.by</span>
                        <span data-lvg-user-tooltip="$ctrl.card.lastUpdateUserId"></span>
                    </span>
                </div>
            </div>

            <div layout="column" class="lvg-card-metadata__item">
                <div flex>
                    <span class="lvg-card-metadata__item-name" data-translate>card.metadata.due.by</span>
                </div>
                <div flex layout="row" layout-align="start center">
                    <div flex="nogrow">
                        <span data-ng-if="!$ctrl.dueDates[0]">
                            <i data-translate>common.not-set</i>
                        </span>
                        <span data-ng-if="$ctrl.dueDates[0]">
                            <span>{{$ctrl.dueDates[0].value.valueTimestamp | date: 'MMM d, y'}}</span>
                        </span>
                    </div>
                    <div data-lvg-has-permission="UPDATE_CARD" flex="nogrow">
                        <md-button data-ng-if="$ctrl.dueDates[0]"
                                   class="lvg-small-icon-button"
                                   data-ng-click="$ctrl.removeDueDate(); dueDate = null"
                                   data-lvg-has-permission="UPDATE_CARD">
                            <md-tooltip>{{'card.metadata.due.by.remove.tooltip' | translate}}</md-tooltip>
                            <md-icon md-svg-icon="close"></md-icon>
                        </md-button>
                    </div>
                    <div data-lvg-has-permission="UPDATE_CARD" flex="nogrow">
                        <span class="lvg-card-metadata__item-due-date">
                            <md-tooltip>{{'card.metadata.due.by.edit.tooltip' | translate}}</md-tooltip>
                            <md-datepicker
                                class="lvg-datepicker"
                                ng-model="dueDate"
                                ng-change="$ctrl.setDueDate(dueDate)">
                            </md-datepicker>
                        </span>
                    </div>
                </div>
            </div>

            <div layout="column" class="lvg-card-metadata__item">
                <div flex>
                    <span class="lvg-card-metadata__item-name" data-translate>card.metadata.milestone</span>
                </div>
                <div flex layout="row" layout-align="start center">
                    <div flex="nogrow">
                        <div data-ng-if="!$ctrl.milestones[0]">
                            <i data-translate>common.not-set</i>
                        </div>
                        <div data-ng-if="$ctrl.milestones[0]">
                            <a data-ui-sref="project.milestones({projectName: $ctrl.project.shortName})">
                                <lvg-label-val value="$ctrl.milestones[0]"></lvg-label-val>
                            </a>
                        </div>
                    </div>
                    <div data-lvg-hash-permission="UPDATE_CARD" flex="nogrow">
                        <div ng-if="$ctrl.milestones[0]">
                            <md-button data-lvg-has-permission="UPDATE_CARD"
                                ng-click="$ctrl.removeMilestone(); dueDate = null"
                                class="lvg-small-icon-button">
                                <md-tooltip>{{'card.metadata.milestone.remove.tooltip' | translate}}</md-tooltip>
                                <md-icon md-svg-icon="close"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div data-lvg-has-permission="UPDATE_CARD" flex="nogrow">
                        <md-menu>
                            <md-button ng-click="$mdOpenMenu($event)" class="lvg-small-icon-button">
                                <md-tooltip>{{'card.metadata.milestone.edit.tooltip' | translate}}</md-tooltip>
                                <md-icon md-menu-origin md-svg-icon="edit"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <div flex>
                                        <md-input-container class="lvg-input-container__inline lvg-card-metadata__milestone-search">
                                            <label data-translate>card.metadata.milestone.search</label>
                                            <input ng-model="milestoneFilter">
                                        </md-input-container>
                                    </div>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item
                                    ng-repeat="milestone in $ctrl.project.metadata.milestones | orderBy:'order' | filter: {status: '!CLOSED'} | filter: {name: milestoneFilter}">
                                    <md-button ng-click="$ctrl.setMilestone(milestone)">
                                  <span class="lvg-card-metadata__milestone-title">
                                    <span>{{::milestone.name}}</span>
                                  </span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider data-ng-show="$ctrl.hasClosedMilestones()"></md-menu-divider>
                                <md-menu-item
                                    ng-repeat="milestone in $ctrl.project.metadata.milestones | orderBy:'order' | filter: {status: 'CLOSED'} | filter: {name: milestoneFilter}">
                                    <md-button ng-click="$ctrl.setMilestone(milestone)">
                                  <span class="lvg-card-metadata__milestone-title lvg-card-metadata__milestone-closed">
                                    <span>{{::milestone.name}}</span>
                                  </span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" flex="100" class="lvg-card-metadata__item">
                <lvg-card-metadata-labels
                    card="$ctrl.card"
                    project="$ctrl.project"
                    label-values="$ctrl.labelValues"></lvg-card-metadata-labels>
                <div data-lvg-has-permission="UPDATE_CARD" data-ng-hide="addLabelPanel">
                    <md-button data-ng-click="addLabelPanel=true"
                               md-no-ink
                               class="lvg-small-icon-button lvg-card-metadata__label-add-button">
                        <md-tooltip>{{'card.metadata.label.add.tooltip' | translate}}</md-tooltip>
                        <md-icon md-menu-origin md-svg-icon="add"></md-icon>
                    </md-button>
                </div>
                <div class="lvg-card-metadata__label-add lvg-card-metadata__label-add-panel" data-ng-show="addLabelPanel">
                    <form data-ng-role="form" data-ng-submit="$ctrl.addNewLabel(labelToAdd); labelToAdd = null;">
                        <div layout="row" layout-xs="column" layout-fill>
                            <div flex>
                                <md-input-container>
                                    <md-select flex
                                               class="lvg-card-metadata__item-status-select"
                                               md-container-class="lvg-card-metadata__label-add-md-select"
                                               ng-model="labelToAdd.label"
                                               ng-change="labelToAdd.value = undefined">
                                        <md-option ng-value="l"
                                                   ng-repeat="(n,l) in ($ctrl.userLabels | uniqueLabels: $ctrl.labelValues | orderObjectBy:'name')">
                                            {{l.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div>
                                <lvg-label-picker data-label="labelToAdd.label" data-ng-model="labelToAdd.value" data-board="$ctrl.board.shortName" project-name="$ctrl.project.shortName"></lvg-label-picker>
                            </div>
                            <div flex="nogrow">
                                <md-button class="lvg-small-icon-button" type="submit" data-ng-disabled="labelToAdd.label == NULL">
                                    <md-icon md-svg-icon="ok"></md-icon>
                                </md-button>
                                <md-button class="lvg-small-icon-button" ng-click="addLabelPanel=false;labelToAdd = null">
                                    <md-icon md-svg-icon="close"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
