.lvg-card-metadata__title {
    font-weight: bold;
}

.lvg-card-metadata__item {
    margin-top:10px;
    min-height: 40px;
}

.lvg-card-metadata__item .md-icon-button {
    margin: 0;
}

.lvg-card-metadata__status {
    display: inline-block;
    padding: 8px 2px 4px 2px;
}

.lvg-card-metadata__md-select md-option {
    padding-left: 15px;
    padding-right: 0px;
}

.lvg-card-metadata__item-name {
    color: #aaaaaa;
}

.lvg-card-metadata__item-text {
    min-height: 30px;
    height: 30px;
}

.lvg-card-metadata__item-container {
    margin: 0 !important;
    padding: 0 !important;
}

.lvg-card-metadata__item-status-select md-select-value {
    text-align: center;
    padding: 2px 2px 1px 32px;
}

.lvg-card-metadata__item-status-select[disabled="disabled"] md-select-value {
    color: inherit !important;
}

.lvg-card-metadata__item-status-select[disabled="disabled"] ._md-select-icon {
    visibility: hidden !important;
}



.lvg-card-metadata__assigned-users .md-readonly md-chips-wrap {
    box-shadow: none !important;
}

.lvg-card-metadata__item-due-date .md-datepicker-triangle-button {
    display: none !important;
}

.lvg-card-metadata__item-due-date md-datepicker {
    background: white !important;
}

.lvg-card-metadata__item-due-date .md-datepicker-input-container {
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.lvg-card-metadata__item-due-date .md-datepicker-input-container input, .lvg-card-metadata__item .md-datepicker-input-container button {
    display: none !important;
}

.lvg-card-metadata__item md-select {
    margin: 0 !important;
}

.lvg-card-metadata__milestone-closed {
    color: #e5e5e5;
}

.lvg-card-metadata__label-add {
    background-color: #f5f5f5;
    margin-left: 10px;
    border: 1px solid #dddddd;
}

.lvg-card-metadata__label-add-button.md-button {
    min-height: 24px;
    height: 24px;
    width: 24px;
    padding: 0;
}

.lvg-card-metadata__label-add-panel {
    display: inline-block;
    padding: 10px 5px;
}

.lvg-card-metadata__label-add-panel md-input-container {
    margin: 0;
}

.lvg-card-metadata__label-add-md-select md-option {
    padding-left: 15px;
    padding-right: 0px;
}
