<md-card data-ng-class="{archived : $ctrl.project.archived}">
    <div class="lvg-stats-panel-project-simple__title-tasks">
        <div class="lvg-stats-panel-project-simple__title-task"
             ng-repeat="stat in $ctrl.normalizedStats"
             ng-style="{'width' : stat.percentage + '%', 'background-color': stat.color}">
            <md-tooltip>{{::('stats.tasks.count.' + stat.name | translate:{ value: stat.value })}}</md-tooltip>
        </div>
    </div>
    <md-card-title>
        <md-card-title-text>
            <a data-ui-sref="project.boards({projectName: $ctrl.project.shortName})">{{$ctrl.project.shortName}} - {{$ctrl.project.name}}</a>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div data-ng-bind-html="$ctrl.project.description | markdown" class="lvg-stats-panel-project-simple__description"></div>
    </md-card-content>
</md-card>
