<md-dialog>
	<form data-ng-submit="addRoleDialogCtrl.createRole(addRoleDialogCtrl.name);addRoleDialogCtrl.name = null">
	
	   <md-dialog-content>
	       <div class="md-dialog-content">
	           <input type="text" 
	               placeholder="{{ 'partials.fragments.common-manage-roles.roleName' | translate }}" required="required"
	               ng-model="addRoleDialogCtrl.name" class="form-control"
	               autocomplete="off"
	               pattern="[a-zA-Z0-9_\-\+]+"
	               data-lvg-on-esc>
            </div>
        </md-dialog-content>
	        
        <md-dialog-actions>
	       <md-button type="submit"><span translate>button.add</span></md-button>
	       <md-button type="button" ng-click="addRoleDialogCtrl.close()"><span translate>button.close</span></md-button>
        </md-dialog-actions>
	</form>
</md-dialog>