<md-dialog>
	<form name="addRoleDialogCtrl.addRoleForm"
          data-ng-submit="addRoleDialogCtrl.createRole(addRoleDialogCtrl.name);addRoleDialogCtrl.name = null">
	   <md-dialog-content>
	       <div class="md-dialog-content">
               <h2 class="md-title" translate>manage.roles.add.dialog</h2>
               <md-input-container md-block>
                   <label translate>label.name</label>
                   <input name="name"
                          type="text"
                          ng-model="addRoleDialogCtrl.name"
                          autocomplete="off"
                          required
                          ng-pattern="/[a-zA-Z0-9_\-\+]+/g"
                          md-autofocus>
               </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
	        <md-button type="button" ng-click="addRoleDialogCtrl.close()"><span translate>button.cancel</span></md-button>
            <md-button type="submit" ng-disabled="!addRoleDialogCtrl.addRoleForm.$valid"><span translate>button.add</span></md-button>
        </md-dialog-actions>
	</form>
</md-dialog>
