<div class="lvg-content">
    <div class="row row-inherit lvg-content__row">
        <div class="col-xs-12 lvg-content__row-item">
            <md-input-container class="md-block">
                <label translate>manage.roles.filter.users</label>
                <md-icon md-svg-icon="search"></md-icon>
                <input ng-model="$ctrl.userFilterText" ng-change="$ctrl.filterUsersBy()">
            </md-input-container>
        </div>

        <div data-ng-repeat="(roleName, roleDescriptor) in $ctrl.roles"
             class="col-xs-12 lvg-content__row-item">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div class="row row-inherit">
                            <div class="lvg-headline">{{::roleName}}</div>
                            <span class="flex"></span>
                            <md-button class="lvg-small-icon-button" data-ng-click="$ctrl.open(roleName, roleDescriptor)">
                                <md-icon md-svg-icon="edit"></md-icon>
                            </md-button>
                            <md-button class="lvg-small-icon-button" data-ng-click="$ctrl.deleteRole(roleName, $event)" ng-if="!($ctrl.isGlobalRoles && ['ADMIN', 'DEFAULT', 'READ_ONLY'].indexOf(roleName) >= 0)">
                                <md-icon md-svg-icon="delete"></md-icon>
                            </md-button>
                        </div>
                        <div class="row row-inherit">
                            <span class="lvg-sub-headline">
                                <ng-pluralize count="$ctrl.usersByRole[roleName].length"
                                              when="{'0':('manage.roles.none.assigned'|translate),
                                              '1': ('manage.roles.one.assigned'|translate),
                                              'other': ('manage.roles.more.assigned' | translate:{count: '{{$ctrl.usersByRole[roleName].length}}'})}">
                            </span>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div data-ng-if="$ctrl.usersWithRole[roleName].length > 0">
                        <md-chips ng-model="$ctrl.usersWithRole[roleName]"
                                  readonly="true"
                                  class="md-contact-chips lvg-user-chips">
                            <md-chip-template>
                                <lvg-user-avatar class="md-contact-avatar" user-id="$chip.id" size="32" bg-color-hex="#E0E0E0"></lvg-user-avatar>
                                <lvg-user-link class="md-contact-name" user-id="$chip.id"></lvg-user-link>
                                <md-button md-no-ink class="lvg-small-icon-button lvg-manage-roles__user-remove" ng-click="$ctrl.removeUserToRole($chip, roleName)" ng-if="!($ctrl.isGlobalRoles && $chip.id === $ctrl.currentUser.id && roleName === 'ADMIN')">
                                    <md-icon md-svg-icon="close"></md-icon>
                                </md-button>
                                <span class="lvg-manage-roles__no-remove-icon" ng-if="($ctrl.isGlobalRoles && $chip.id === $ctrl.currentUser.id && roleName === 'ADMIN')"></span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                </md-card-content>
                <md-card-actions class="lvg-manage-roles__role-actions">
                    <form data-ng-submit="$ctrl.addUserToRole(userToAdd, roleName); userToAdd = null;">
                        <div class="row margin-8 start-xs bottom-xs">
                            <div class="flex">
                                <md-autocomplete
                                    md-no-cache="true"
                                    md-selected-item="userToAdd"
                                    md-search-text="userSearchText"
                                    md-item-text="user.label"
                                    md-items="user in $ctrl.searchUser(userSearchText)"
                                    md-floating-label="{{'label.user'|translate}}"
                                    class="lvg-autocomplete__inline flex">
                                    <md-item-template>{{user.label}}</md-item-template>
                                </md-autocomplete>
                            </div>
                            <div class="flex no-grow">
                                <md-button class="md-primary" type="submit" ng-disabled="!userToAdd">
                                    <span data-translate>button.assign</span>
                                </md-button>
                            </div>
                        </div>
                    </form>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>

<md-button class="md-fab md-primary lvg-fab-bottom-right" ng-click="$ctrl.showAddRoleDialog($event)">
    <md-tooltip md-direction="top">{{'manage.roles.add.dialog' | translate}}</md-tooltip>
    <md-icon md-svg-icon="add"></md-icon>
</md-button>
