<div class="lvg-content">
    <div class="row row-inherit lvg-content__row">
        <div class="col-md-3 col-xs-12 lvg-content__row-item">
            <md-input-container>
                <label>Filter users</label>
                <input ng-model="$ctrl.userFilterText">
            </md-input-container>
        </div>

        <div data-ng-repeat="(roleName, roleDescriptor) in $ctrl.roles"
             class="col-xs-12 lvg-content__row-item">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div class="row row-inherit">
                            <div class="lvg-headline">{{::roleName}}</div>
                            <span class="flex"></span>
                            <md-button class="lvg-small-icon-button" data-ng-click="$ctrl.open(roleName, roleDescriptor)">
                                <md-icon md-svg-icon="edit"></md-icon>
                            </md-button>
                            <md-button class="lvg-small-icon-button" data-ng-click="$ctrl.deleteRole(roleName)">
                                <md-icon md-svg-icon="delete"></md-icon>
                            </md-button>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                <span class="lvg-label lavagna-role-user"
                      data-ng-if="$ctrl.usersWithRole[roleName].length > 0"
                      data-ng-repeat="user in $ctrl.usersWithRole[roleName] | filterUsersBy:$ctrl.userFilterText | limitTo: 40">
			        <lvg-user-link user-id="user.id"></lvg-user-link>
				    <span class="fa fa-times lvg-cursor-pointer"
                          data-ng-click="$ctrl.removeUserToRole(user.id, roleName)"></span>
			    </span>
                    <span data-ng-if="$ctrl.usersWithRole[roleName].length == 0" data-translate>partials.fragments.common-manage-roles.noUsersForRole</span>
                </md-card-content>
                <md-card-actions>
                    <form data-ng-submit="$ctrl.addUserToRole(userToAdd, roleName); userToAdd = null;">
                        <div class="row margin-8 start-xs bottom-xs">
                            <div class="flex">
                                <md-autocomplete
                                    md-no-cache="true"
                                    md-selected-item="userToAdd"
                                    md-search-text="userSearchText"
                                    md-item-text="user.label"
                                    md-items="user in $ctrl.searchUser(userSearchText)"
                                    md-floating-label="User"
                                    class="lvg-autocomplete__inline flex">
                                    <md-item-template>{{user.label}}</md-item-template>
                                </md-autocomplete>
                            </div>
                            <div class="flex no-grow">
                                <md-button class="md-primary" type="submit" ng-disabled="!userToAdd">
                                    <span data-translate>button.assign</span>
                                </md-button>
                            </div>
                        </div>
                    </form>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>

<md-button class="md-fab md-primary lvg-fab-bottom-right" ng-click="$ctrl.showAddRoleDialog($event)">
    <md-tooltip md-direction="top">{{'partials.fragments.common-manage-roles.addNewRole' | translate}}</md-tooltip>
    <md-icon md-svg-icon="add"></md-icon>
</md-button>
