<h2 class="md-title" translate>partials.project.manage-columns-status.title</h2>
<md-content class="lvg-content" layout-padding md-whiteframe="1">
	<form ng-submit="$ctrl.update()">
		<div layout="row" class="center">
			<div ng-repeat="definition in $ctrl.columnsDefinition | addColDefOrder | orderBy:'order'" flex>
				<p><strong>{{'common.column.definition.' + definition.value | translate}}</strong></p>
				<p><lvg-colorpicker ng-model="$ctrl.columnDefinition[definition.id].color" ng-change="$ctrl.updateColumnDefinition(definition.id, $ctrl.columnDefinition[definition.id].color)"></lvg-colorpicker></p>
			</div>
		</div>
	</form>
</md-content>