.lvg-user-dashboard__user-info__th {
	text-align: left;
	padding-right:8px;
}

.lvg-user-dashboard__padding-left {
	padding-left:16px;
}

.lvg-user-dashboard__padding-top-bottom {
	padding-top:8px;
	padding-bottom:8px;
}

.lvg-user-dashboard__project md-card {
	margin-left:0!important;
	margin-right:0!important;
}

.lvg-user-dashboard__white-bg {
	background-color: white;
}

.lvg-user-dashboard__heatmap {
	margin-top:12px;
	margin-bottom:12px;
    width: 788px;
    margin-left: auto;
    margin-right: auto;
}