.lvg-user-dashboard__user-info__th {
	text-align: left;
	padding-right:8px;
}

.lvg-user-dashboard__padding-left {
	padding-left:16px;
}

.lvg-user-dashboard__padding-top-bottom {
	padding-top:8px;
	padding-bottom:8px;
}

.lvg-user-dashboard__activity-chart {
	margin-bottom:12px;
}
