<div class="row lvg-content lvg-content__row">
    <div class="col-md-3 col-xs-12 lvg-content__row-item">
        <h2 class="md-title" translate>user.dashboard.general</h2>
        <div class="row row-inherit">
            <div class="col-xs-12">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="lvg-headline">{{::($ctrl.user.displayName != null ? $ctrl.user.displayName : $ctrl.userName)}}</span>
                            <span class="lvg-subhead" ng-if="$ctrl.user.displayName != null">{{::$ctrl.userName}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <table>
                            <tbody>
                            <tr><th class="lvg-user-dashboard__user-info__th" translate>user.dashboard.general.provider</th><td>{{::$ctrl.userProvider}}</td></tr>
                            <tr><th class="lvg-user-dashboard__user-info__th" ng-if="$ctrl.user.email != null" translate>common.label.email</th><td>{{::$ctrl.user.email}}</td></tr>
                            <tr><th  class="lvg-user-dashboard__user-info__th" translate>user.dashboard.general.memberSince</th><td>{{::$ctrl.user.memberSince | date: 'MMM d, y'}}</td></tr>
                            </tbody>
                        </table>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-xs-12 lvg-content__row-item">
        <h2 translate class="md-title">user.dashboard.mostActiveProjects</h2>
        <div class="row row-inherit">
            <div class="col-sm-6 col-xs-12">
                <lvg-stats-panel-project data-ng-repeat="ab in $ctrl.activeProjectsLeft | limitTo: 4"
                                         project="ab.project"
                                         hide-menu="true"
                                         class="lvg-user-dashboard__project">
                </lvg-stats-panel-project>
            </div>
            <div class="col-sm-6 col-xs-12">
                <lvg-stats-panel-project data-ng-repeat="ab in $ctrl.activeProjectsRight | limitTo: 4"
                                         project="ab.project"
                                         hide-menu="true"
                                         class="lvg-user-dashboard__project">
                </lvg-stats-panel-project>
            </div>
        </div>

        <h2 translate class="md-title">user.dashboard.latestActivity</h2>
        <md-card>
            <md-card-content>
                <lvg-chart type="Line" data="$ctrl.activityChartData" height="220"
                           options="$ctrl.activityChartOptions"
                           class="img-responsive lvg-user-dashboard__activity-chart"></lvg-chart>
                <div ng-repeat="dateKey in $ctrl.eventsGroupedByDate.keyOrder">
                    <md-divider></md-divider>
                    <div ng-init="$ctrl.view.showList[$index] = false" class="row row-inherit middle-xs between-xs">
                        <span class="lvg-line-height-as-md-button lvg-user-dashboard__padding-left"
                              translate="user.dashboard.latestActivity.entry"
                              translate-values="{ date: dateKey, events: $ctrl.eventsGroupedByDate.groupedByDate[dateKey].length}">
                        </span>
                        <md-button class="md-icon-button" ng-click="$ctrl.view.showList[$index] = !$ctrl.view.showList[$index]">
                            <md-icon md-svg-icon="expand_more" ng-hide="$ctrl.view.showList[$index]"></md-icon>
                            <md-icon md-svg-icon="expand_less" ng-show="$ctrl.view.showList[$index]"></md-icon>
                        </md-button>
                    </div>

                    <md-list ng-if="$ctrl.view.showList[$index]">
                        <md-list-item ng-repeat="activity in $ctrl.eventsGroupedByDate.groupedByDate[dateKey] | orderBy: '-time' track by activity.id">
                            <div class="lvg-user-dashboard__padding-left lvg-user-dashboard__padding-top-bottom">
                                <span ng-bind="::(activity.time | dateIncremental)"></span>: <lvg-card-link card-id="activity.cardId"></lvg-card-link>
                                <div><lvg-activity event="activity"></lvg-activity></div>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
