<div class="lvg-content lavagna-container-top-margin">
    <div class="row">
        <div class="col-xs-12">
            <div class="lavagna-panel">
                <div class="head clearfix headonly">
                    <div class="title"><strong data-translate>partials.user.generalInfo</strong></div>
                </div>
                <div class="body separated">
                    <div>
                        <p><strong data-translate>partials.user.provider</strong> {{::userDashCtrl.userProvider}} </p>
                        <p><strong data-translate>partials.user.username</strong> {{::userDashCtrl.userName}}</p>
                        <p data-ng-if="userDashCtrl.user.displayName != null"><strong data-translate>partials.user.displayName</strong> {{::userDashCtrl.user.displayName}}</p>
                        <p><strong data-translate>partials.user.memberSince</strong> {{::userDashCtrl.user.memberSince | date: 'MMM d, y'}} </p>
                    </div>
                </div>
            </div>


            <div class="lavagna-panel lvg-user-projects">
                <div class="head clearfix headonly">
                    <div class="title">
                        <strong data-translate>partials.user.mostActiveProjects</strong>
                    </div>
                </div>
                <div class="body separated">
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="ab in userDashCtrl.activeProjects | limitTo: 5">
                            <div class="lavagna-card-title-info">
                                <span><a data-ui-sref="project({projectName: ab.project.shortName})">{{::ab.project.shortName}} - {{::ab.project.name}}</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="lavagna-panel">
                <div class="head clearfix headonly">
                    <div class="title">
                        <strong data-translate>partials.user.latestActivity</strong>
                    </div>
                </div>
                <div class="body separated">
                    <div class="text-center">
                        <div id="cal-heatmap" class="user-heathmap"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 lvg-user-activity-list-item" data-ng-repeat="dateKey in userDashCtrl.eventsGroupedByDate.keyOrder">
                            <div data-ng-init="userDashCtrl.view.showList[$index] = false">{{dateKey}} : {{userDashCtrl.eventsGroupedByDate.groupedByDate[dateKey].length}} events
								<span class="pull-right" data-ng-click="userDashCtrl.view.showList[$index] = !userDashCtrl.view.showList[$index]">
									<i class="fa fa-chevron-down" data-ng-hide="userDashCtrl.view.showList[$index]"></i>
									<i class="fa fa-chevron-up" data-ng-show="userDashCtrl.view.showList[$index]"></i>
								</span>
                            </div>

                            <ul data-ng-if="userDashCtrl.view.showList[$index]" class="lvg-activity-list">
                                <li data-ng-repeat="activity in userDashCtrl.eventsGroupedByDate.groupedByDate[dateKey] | orderBy: '-time' track by activity.id" class="activity">
                                    <div class="header"><span class="date" data-ng-bind="activity.time | dateIncremental"></span>: <span data-lvg-card-tooltip="activity.cardId"></span></div> <lvg-card-activity></lvg-card-activity>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
