.lvg-user-dashboard__user-info__th {
	text-align: left;
	padding-right:8px;
}

.lvg-user-dashboard__padding-left {
	padding-left:16px;
}

.lvg-user-dashboard__project md-card {
	margin-left:0!important;
	margin-right:0!important;
}