<md-dialog>
	<md-toolbar>
      <div class="md-toolbar-tools">
      	<h2>{{manageLabelValuesCtrl.label.name}}</h2>
      	<span flex></span>
		<md-button class="md-icon-button" ng-click="manageLabelValuesCtrl.closeDialog()">
			<md-icon md-font-icon="fa-times" class="fa"></md-icon>
		</md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
	            <div class="lavagna-card-panel" data-lvg-has-permission="MANAGE_ACTION_LIST">
	                <div class="footer-full">
	                    <form data-ng-role="form" data-ng-submit="manageLabelValuesCtrl.addLabelListValue(manageLabelValuesCtrl.view.newListValue); manageLabelValuesCtrl.view.newListValue=null;">
	                        <div class="content input-group">
	                            <input type="text" class="form-control" required="required"
	                                   placeholder="{{'partials.project.manage-labels.newListValue.placeholder' | translate}}" data-ng-model="manageLabelValuesCtrl.view.newListValue"
	                                   autocomplete="off" data-lvg-on-esc>
								<span class="input-group-btn">
									<button class="lvg-inline-button lvg-button-submit" type="submit" data-translate>button.add</button>
								</span>
	                        </div>
	                    </form>
	                </div>

	
	            <div class="lavagna-card-panel">
	                <div class="body-full">
	                    <table class="table table-striped">
	                        <tr data-ng-repeat="(nValue,lValue) in manageLabelValuesCtrl.labelListValues">
	                            <td class="vcenter">{{lValue.value}}</td>
	                            <td class="lavagna-icon-column">
	                                <button class="lvg-button lvg-button-default"
	                                        data-ng-disabled="manageLabelValuesCtrl.labelListValues.length < 2 || nValue == 0"
	                                        data-ng-click="manageLabelValuesCtrl.swapLabelListValues(lValue.id, manageLabelValuesCtrl.labelListValues[nValue - 1].id)">
	                                    <i class="fa fa-arrow-up"></i>
	                                </button>
	                            </td>
	                            <td class="lavagna-icon-column">
	                                <button class="lvg-button lvg-button-default"
	                                        data-ng-disabled="manageLabelValuesCtrl.labelListValues.length < 2 || manageLabelValuesCtrl.labelListValues.length == nValue + 1"
	                                        data-ng-click="manageLabelValuesCtrl.swapLabelListValues(lValue.id, manageLabelValuesCtrl.labelListValues[nValue + 1].id)">
	                                    <i class="fa fa-arrow-down"></i>
	                                </button>
	                            </td>
	                            <td class="lavagna-icon-column">
	                                <button class="lvg-button lvg-button-default"
	                                        data-ng-init="manageLabelValuesCtrl.labelListValueUseCount[lValue.id] = false; manageLabelValuesCtrl.updateCount(lValue.id)"
	                                        data-ng-disabled="manageLabelValuesCtrl.labelListValueUseCount[lValue.id] !== 0"
	                                        data-ng-click="manageLabelValuesCtrl.removeLabelListValue(lValue.id)">
	                                    <i class="fa fa-trash-o"></i>
	                                </button>
	                            </td>
	                        </tr>
	                    </table>
	                </div>
	            </div>
			</div>
	    </div>
	    
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="manageLabelValuesCtrl.closeDialog()"><span data-translate>button.close</span></md-button>
	</md-dialog-actions>
</md-dialog>
