<div class="flex column no-grow lvg-board-controls__container">
    <div class="flex no-grow"
         ng-class="{'lvg-board-controls__location-active' : $ctrl.toggledSidebar && $ctrl.sideBarLocation == 'BACKLOG'}">
        <md-button class="md-icon-button" ng-click="$ctrl.toggleSidebar({$location: 'BACKLOG'})">
            <md-tooltip md-autohide md-direction="right">{{ 'board.controls.backlog.tooltip.' + ($ctrl.toggledSidebar &&
                $ctrl.sideBarLocation == 'BACKLOG' ? 'close' : 'open') | translate}}
            </md-tooltip>
            <md-icon md-svg-icon="location_backlog"></md-icon>
        </md-button>
    </div>

    <div class="flex no-grow"
         ng-class="{'lvg-board-controls__location-active' : $ctrl.toggledSidebar && $ctrl.sideBarLocation == 'ARCHIVE'}">
        <md-button class="md-icon-button" ng-click="$ctrl.toggleSidebar({$location: 'ARCHIVE'})">
            <md-tooltip md-autohide md-direction="right">{{ 'board.controls.archive.tooltip.' + ($ctrl.toggledSidebar &&
                $ctrl.sideBarLocation == 'ARCHIVE' ? 'close' : 'open') | translate}}
            </md-tooltip>
            <md-icon md-svg-icon="location_archive"></md-icon>
        </md-button>
    </div>

    <div class="flex no-grow"
         ng-class="{'lvg-board-controls__location-active' : $ctrl.toggledSidebar && $ctrl.sideBarLocation == 'TRASH'}">
        <md-button class="md-icon-button" ng-click="$ctrl.toggleSidebar({$location: 'TRASH'})">
            <md-tooltip md-autohide md-direction="right">{{ 'board.controls.trash.tooltip.' + ($ctrl.toggledSidebar &&
                $ctrl.sideBarLocation == 'TRASH' ? 'close' : 'open') | translate}}
            </md-tooltip>
            <md-icon md-svg-icon="location_trash"></md-icon>
        </md-button>
    </div>

    <div class="flex no-grow lvg-board-controls__container-divider" lvg-has-permission="CREATE_COLUMN"></div>

    <div class="flex no-grow" lvg-has-permission="CREATE_COLUMN">
        <md-button ng-click="$ctrl.newColumn()" class="flex no-grow md-icon-button"
                   ng-mouseenter="$ctrl.createColumnTooltipVisibility = true"
                   ng-mouseleave="$ctrl.createColumnTooltipVisibility = false || $ctrl.columns.length === 0">
            <md-tooltip md-autohide md-direction="right" md-visible="$ctrl.hasNoColumns || $ctrl.createColumnTooltipVisibility">
                {{::('board.controls.new.column'|translate)}}
            </md-tooltip>
            <md-icon md-svg-icon="add_column"></md-icon>
        </md-button>
    </div>

    <div class="flex no-grow lvg-board-controls__container-divider" lvg-has-at-least-one-permission="UPDATE_CARD,MANAGE_LABEL_VALUE,MOVE_CARD"></div>

    <div class="flex no-grow" lvg-has-at-least-one-permission="UPDATE_CARD,MANAGE_LABEL_VALUE,MOVE_CARD">
        <md-menu>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event);">
                <md-tooltip md-autohide md-direction="right">{{::('common.bulkop.selection.select'|translate)}}
                </md-tooltip>
                <md-icon md-svg-icon="select_all"></md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ng-click="$ctrl.selectAll()"><span translate>common.bulkop.selection.all</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.unSelectAll()"><span translate>common.bulkop.selection.none</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

    <div class="no-grow lvg-board-controls__action-icons"
         ng-if="$ctrl.selectedVisibleCount() > 0"
         lvg-has-at-least-one-permission="UPDATE_CARD,MANAGE_LABEL_VALUE,MOVE_CARD">
        <md-menu lvg-has-permission="MOVE_CARD">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event);">
                <md-icon md-svg-icon="folder-move"></md-icon>
                <md-tooltip md-autohide md-direction="right">{{::('common.bulkop.move' | translate)}}</md-tooltip>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button
                        ng-click="$ctrl.bulkOperationModal.moveToArchive($ctrl.selectedVisibleCardsIdByColumnId())">
                        <span translate>common.bulkop.moveArchive</span></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button
                        ng-click="$ctrl.bulkOperationModal.moveToBacklog($ctrl.selectedVisibleCardsIdByColumnId())">
                        <span translate>common.bulkop.moveBacklog</span></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button
                        ng-click="$ctrl.bulkOperationModal.moveToTrash($ctrl.selectedVisibleCardsIdByColumnId())"><span
                        translate>common.bulkop.moveTrash</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu lvg-has-permission="UPDATE_CARD">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event);">
                <md-icon md-svg-icon="person"></md-icon>
                <md-tooltip md-autohide md-direction="right">{{::('common.bulkop.handleAssign' | translate)}}
                </md-tooltip>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ng-click="$ctrl.bulkOperationModal.assignTo($ctrl.formatBulkRequest())"><span translate>common.bulkop.assignTo</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.bulkOperationModal.removeAssignTo($ctrl.formatBulkRequest())"><span
                        translate>common.bulkop.removeAssign</span></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.bulkOperationModal.reAssignTo($ctrl.formatBulkRequest())"><span
                        translate>common.bulkop.reassign</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu lvg-has-permission="UPDATE_CARD">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event);">
                <md-icon md-svg-icon="calendar"></md-icon>
                <md-tooltip md-autohide md-direction="right">{{::('common.bulkop.handleDueDate' | translate)}}
                </md-tooltip>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ng-click="$ctrl.bulkOperationModal.setDueDate($ctrl.formatBulkRequest())"><span
                        translate>common.bulkop.setDueDate</span></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.bulkOperationModal.removeDueDate($ctrl.formatBulkRequest())"><span
                        translate>common.bulkop.removeDueDate</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu lvg-has-permission="UPDATE_CARD">
            <md-button class="md-icon-button" ng-click="$ctrl.milestoneFilter = ''; $mdOpenMenu($event);">
                <md-icon md-svg-icon="milestone"></md-icon>
                <md-tooltip md-autohide md-direction="right">{{::('common.bulkop.handleMilestone' | translate)}}
                </md-tooltip>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-menu class="lvg-board-controls__inner-menu">
                        <md-menu-item>
                            <md-button ng-click="$mdOpenMenu($event)">
                                <span translate>common.bulkop.setMilestone</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-content>
                            <md-menu-item>
                                <div class="flex">
                                    <md-input-container
                                        class="lvg-input-container__inline lvg-card-metadata__milestone-search">
                                        <label data-translate>card.metadata.milestone.search</label>
                                        <input ng-model="$ctrl.milestoneFilter">
                                    </md-input-container>
                                </div>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item
                                ng-repeat="milestone in $ctrl.project.metadata.milestones | orderBy:'order' | filter: {status: '!CLOSED'} | filter: {name: $ctrl.milestoneFilter}">
                                <md-button ng-click="$ctrl.setMilestone(milestone)">
                                  <span class="lvg-card-metadata__milestone-title">
                                    <span>{{::milestone.name}}</span>
                                  </span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider data-ng-show="$ctrl.hasClosedMilestones()"></md-menu-divider>
                            <md-menu-item
                                ng-repeat="milestone in $ctrl.project.metadata.milestones | orderBy:'order' | filter: {status: 'CLOSED'} | filter: {name: $ctrl.milestoneFilter}">
                                <md-button ng-click="$ctrl.setMilestone(milestone)">
                                  <span class="lvg-card-metadata__milestone-title lvg-card-metadata__milestone-closed">
                                    <span>{{::milestone.name}}</span>
                                  </span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.bulkOperationModal.removeMilestone($ctrl.formatBulkRequest())"><span
                        translate>common.bulkop.removeMilestone</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu lvg-has-permission="MANAGE_LABEL_VALUE">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event);">
                <md-icon md-svg-icon="label"></md-icon>
                <md-tooltip md-autohide md-direction="right">{{::('common.bulkop.handleLabels' | translate)}}
                </md-tooltip>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button
                        ng-click="$ctrl.bulkOperationModal.addLabel($ctrl.formatBulkRequest(), $ctrl.project.shortName)">
                        <span translate>common.bulkop.addLabel</span></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button
                        ng-click="$ctrl.bulkOperationModal.removeLabel($ctrl.formatBulkRequest(), $ctrl.project.shortName)">
                        <span translate>common.bulkop.removeLabel</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>
