<div layout="row">
    <md-menu>
        <md-button ng-click="$mdOpenMenu($event);"><span ng-bind="($ctrl.sideBarLocation == 'BOARD' ? 'partials.board.show-location' : ('partials.board.' + $ctrl.sideBarLocation)) | translate"></span></md-button>
        <md-menu-content>
            <md-button ng-click="$ctrl.sideBarLocation = 'BOARD'; $ctrl.selectForSidebar()"><span translate>partials.board.board</span></md-button>
            <md-button ng-click="$ctrl.sideBarLocation = 'ARCHIVE'; $ctrl.selectForSidebar()"><span translate>partials.board.archive</span></md-button>
            <md-button ng-click="$ctrl.sideBarLocation = 'BACKLOG'; $ctrl.selectForSidebar()"><span translate>partials.board.backlog</span></md-button>
            <md-button ng-click="$ctrl.sideBarLocation = 'TRASH'; $ctrl.selectForSidebar()"><span translate>partials.board.trash</span></md-button>
        </md-menu-content>
    </md-menu>
    <md-menu lvg-has-permission="MANAGE_LABEL_VALUE">
        <md-button ng-click="$mdOpenMenu($event);"><span translate>partials.board.selection.select</span></md-button>
        <md-menu-content>
            <md-button ng-click="$ctrl.selectAll()"><span translate>partials.board.selection.all</span></md-button>
            <md-button ng-click="$ctrl.unSelectAll()"><span translate>partials.board.selection.none</span></md-button>
        </md-menu-content>
    </md-menu>
    <div class="lvg-board-edit">
        <div class="dropdown lvg-button-group" data-ng-show="$ctrl.selectedVisibleCount() > 0" data-ng-init="bulkMode.mode = undefined;bulkMode.message = 'do'" data-uib-dropdown>
            <button type="button" data-uib-dropdown-toggle class="lvg-navigation-button lvg-dropdown-toggle" data-toggle="dropdown"><span>{{'partials.board.bulkop.'+bulkMode.message | translate}}</span> <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu" role="menu">
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'assign-to'; bulkMode.message = 'assignTo'" data-translate>partials.board.bulkop.assignTo</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-assign-to'; bulkMode.message = 'removeAssign'" data-translate>partials.board.bulkop.removeAssign</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 're-assign-to'; bulkMode.message = 'reassign'" data-translate>partials.board.bulkop.reassign</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'set-due-date'; bulkMode.message = 'setDueDate'" data-translate>partials.board.bulkop.setDueDate</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-due-date'; bulkMode.message = 'removeDueDate'" data-translate>partials.board.bulkop.removeDueDate</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'set-milestone'; bulkMode.message = 'setMilestone'" data-translate>partials.board.bulkop.setMilestone</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-milestone'; bulkMode.message = 'removeMilestone'" data-translate>partials.board.bulkop.removeMilestone</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'add-label'; bulkMode.message = 'addLabel'" data-translate>partials.board.bulkop.addLabel</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'remove-label'; bulkMode.message = 'removeLabel'" data-translate>partials.board.bulkop.removeLabel</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-archive'; bulkMode.message = 'moveArchive'" data-translate>partials.board.bulkop.moveArchive</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-backlog'; bulkMode.message = 'moveBacklog'" data-translate>partials.board.bulkop.moveBacklog</button></li>
                <li><button class="lvg-dropdown-button lvg-button-dropdown-navigation" type="button" data-ng-click="bulkMode.mode = 'move-to-trash'; bulkMode.message = 'moveTrash'" data-translate>partials.board.bulkop.moveTrash</button></li>
            </ul>


            <lvg-bulk-action-inline mode="bulkMode.mode" format-bulk-request="$ctrl.formatBulkRequest" selected-visible-cards-id-by-column-id="$ctrl.selectedVisibleCardsIdByColumnId"></lvg-bulk-action-inline>

            <button class="lvg-navigation-button" data-ng-show="bulkMode.message != 'do'" type="button" data-ng-click="bulkMode.mode = 'do'; bulkMode.message = 'do'" data-translate>partials.board.bulkop.cancel</button>
        </div>
    </div>
</div>
