<div class="lvg-content lavagna-container-margin">
	<div md-whiteframe="1" class="lvg-container-bg">
		<div ng-repeat="activity in $ctrl.latestActivity20">
					<span ng-bind="::(activity.time | dateIncremental)"></span>: 
					<lvg-card-link card-id="activity.cardId"></lvg-card-link>
				<p><lvg-activity event="activity"></lvg-activity></p>
			</div>
			<md-divider ng-if="!$last"></md-divider>
		</div>
	</div>
	
	<div ng-show="$ctrl.page != 0 || $ctrl.hasMore" class="lavagna-container-margin">
		<md-button ng-show="$ctrl.page != 0" ng-click="$ctrl.loadFor($ctrl.page - 1)" class="pull-left"><span translate="button.next"></span></md-button>
		<md-button ng-show="$ctrl.hasMore" ng-click="$ctrl.loadFor($ctrl.page + 1)" class="pull-right"><span translate="button.previous"></span></md-button>
		<div class="clearfix"></div>
	</div>
</div>
