<div class="lvg-content lvg-content__row-item">
	<md-content md-whiteframe="1">
		<div ng-repeat="activity in $ctrl.latestActivity20">
            <div class="lvg-user-activity__activity-container">
                <span ng-bind="::(activity.time | dateIncremental)" class="lvg-user-activity__time"></span> <lvg-card-link card-id="activity.cardId"></lvg-card-link>
                <div class="lvg-user-activity__activity"><lvg-activity event="activity"></lvg-activity></div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-content>
	
	<div ng-show="$ctrl.page != 0 || $ctrl.hasMore" class="row row-inherit middle-xs between-xs">
		<div><md-button ng-show="$ctrl.page != 0" ng-click="$ctrl.loadFor($ctrl.page - 1)"><span translate="button.next"></span></md-button></div>
		<div><md-button ng-show="$ctrl.hasMore" ng-click="$ctrl.loadFor($ctrl.page + 1)"><span translate="button.previous"></span></md-button></div>
	</div>
</div>