.lvg-input-file__input {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    display: none;
}

.lvg-input-file__label {
    cursor: pointer;
    display: inline-block;
}
