.lvg-input-file__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.lvg-input-file__label {
    cursor: pointer;
    display: inline-block;
}
