<md-dialog class="lvg-mail-ticket__dialog">
    <form name="mailTicketConfigForm"
          data-ng-submit="$mailTicketConfigDialogCtrl.add()">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-title" translate>project.manage.mailTicket.ticket.dialog.title</h2>
            <md-input-container class="md-block">
                <label data-translate>label.name</label>
                <input type="text" id="name" placeholder="" required autocomplete="off"
                       data-ng-model="$mailTicketConfigDialogCtrl.configToAdd.name" md-autofocus>
            </md-input-container>

            <md-input-container class="md-block">
                <label data-translate>project.manage.mailTicket.ticket.dialog.alias</label>
                <input type="text" id="alias" placeholder="" required autocomplete="off"
                       data-ng-model="$mailTicketConfigDialogCtrl.configToAdd.alias">
            </md-input-container>
            <md-input-container class="md-block">
                <md-checkbox data-ng-model="$mailTicketConfigDialogCtrl.configToAdd.sendByAlias">
                    <span translate>project.manage.mailTicket.ticket.dialog.alias.send</span>
                </md-checkbox>
            </md-input-container>

            <h2 class="md-title" translate>project.manage.mailTicket.ticket.dialog.createCardIn</h2>
            <div class="row row-inherit">
                <div class="col-md-6 col-xs-12">
                    <md-input-container class="md-block lvg-fix-height">
                        <label data-translate>label.board</label>
                        <md-select required
                                   ng-model="$mailTicketConfigDialogCtrl.configToAdd.boardShortName"
                                   ng-change="$mailTicketConfigDialogCtrl.onChangeBoard($mailTicketConfigDialogCtrl.configToAdd.boardShortName);">
                            <md-option ng-repeat="board in $mailTicketConfigDialogCtrl.boards" ng-value="board.shortName">
                                {{board.shortName}} - {{board.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-6 col-xs-12" ng-if="$mailTicketConfigDialogCtrl.configToAdd.boardShortName">
                    <md-input-container class="md-block lvg-fix-height">
                        <label data-translate>label.column</label>
                        <md-select required
                                   ng-model="$mailTicketConfigDialogCtrl.configToAdd.columnId">
                            <md-option ng-repeat="column in $mailTicketConfigDialogCtrl.columns" ng-value="column.id">
                                <md-icon md-svg-icon="circle" ng-style="{'fill': ( column.color | parseIntColor )}"></md-icon> {{column.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <h2 class="md-title" translate>project.manage.mailTicket.ticket.dialog.notification</h2>
            <div class="row row-inherit">
                <div class="col-xs-12">
                    <md-input-container class="md-block">
                        <md-checkbox data-ng-model="$mailTicketConfigDialogCtrl.configToAdd.overrideNotification">
                            <span translate>project.manage.mailTicket.ticket.dialog.notification.override</span>
                        </md-checkbox>
                    </md-input-container>
                </div>
            </div>
            <div class="col-xs-12" data-ng-show="$mailTicketConfigDialogCtrl.configToAdd.overrideNotification">
                <md-input-container class="md-block">
                    <label translate>label.subject</label>
                    <input type="text" id="subject" placeholder="" ng-required="$mailTicketConfigDialogCtrl.configToAdd.overrideNotification" autocomplete="off"
                           data-ng-model="$mailTicketConfigDialogCtrl.configToAdd.subject">
                </md-input-container>
                <md-input-container class="md-block" data-ng-hide="preview.show">
                    <label data-translate>label.body</label>
                    <textarea data-ng-model="$mailTicketConfigDialogCtrl.configToAdd.body" rows="5" ng-required="$mailTicketConfigDialogCtrl.configToAdd.overrideNotification" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="md-block md-input-has-placeholder" data-ng-show="preview.show">
                    <label data-translate>label.body</label>
                    <div data-ng-bind-html="$mailTicketConfigDialogCtrl.configToAdd.body | markdown"></div>
                </md-input-container>
                <md-button type="button" data-ng-click="preview.show = true" data-ng-hide="preview.show">
                    <span data-translate>button.preview</span>
                </md-button>
                <md-button type="button" data-ng-click="preview.show = false" data-ng-show="preview.show">
                    <span data-translate>button.closePreview</span>
                </md-button>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" type="submit"
                       data-ng-disabled="!mailTicketConfigForm.$valid">
                <span data-translate>button.save</span>
            </md-button>
            <md-button type="button" data-ng-click="$mailTicketConfigDialogCtrl.cancel();">
                <span data-translate>button.cancel</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
