<md-dialog class="lvg-mail-ticket__dialog">
    <form name="mailConfigForm"
          data-ng-submit="$mailConfigDialogCtrl.addConfig()">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-title" translate>project.manage.mailTicket.config.dialog.title</h2>
            <md-input-container class="md-block">
                <label data-translate>label.name</label>
                <input type="text" id="name" placeholder="" required autocomplete="off"
                       data-ng-model="$mailConfigDialogCtrl.configToAdd.name" md-autofocus>
            </md-input-container>

            <div class="row row-inherit">
                <div class="col-md-6 col-xs-12">
                    <h2 class="md-title" translate>project.manage.mailTicket.config.dialog.inbound</h2>
                    <md-input-container class="md-block lvg-fix-height">
                        <label><span translate>label.protocol</span></label>
                        <md-select ng-model="$mailConfigDialogCtrl.configToAdd.config.inboundProtocol" required>
                            <md-option value="imap">imap</md-option>
                            <md-option value="imaps">imaps</md-option>
                            <md-option value="pop3">pop3</md-option>
                            <md-option value="pop3s">pop3s</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.host</label>
                        <input type="text" id="inboundServer" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.inboundServer">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.port</label>
                        <input type="text" id="inboundPort" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.inboundPort">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.user</label>
                        <input type="text" id="inboundUser" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.inboundUser">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.password</label>
                        <input type="text" id="inboundPassword" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.inboundPassword">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.properties</label>
                        <textarea data-ng-model="$mailConfigDialogCtrl.configToAdd.config.inboundProperties"></textarea>
                    </md-input-container>
                </div>

                <div class="col-md-6 col-xs-12">
                    <h2 class="md-title" translate>project.manage.mailTicket.config.dialog.outbound</h2>
                    <md-input-container class="md-block lvg-fix-height">
                        <label><span translate>label.protocol</span></label>
                        <md-select ng-model="$mailConfigDialogCtrl.configToAdd.config.outboundProtocol" required>
                            <md-option value="smtp">smtp</md-option>
                            <md-option value="smtps">smtps</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.host</label>
                        <input type="text" id="outboundServer" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.outboundServer">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.port</label>
                        <input type="text" id="outboundPort" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.outboundPort">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.user</label>
                        <input type="text" id="outboundUser" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.outboundUser">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.password</label>
                        <input type="text" id="outboundPassword" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.outboundPassword">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.from</label>
                        <input type="text" id="outboundUserAddress" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.config.outboundAddress">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label data-translate>label.properties</label>
                        <textarea data-ng-model="$mailConfigDialogCtrl.configToAdd.config.outboundProperties"></textarea>
                    </md-input-container>
                </div>
            </div>
            <div class="row row-inherit">
                <div class="col-xs-12">
                    <h2 class="md-title" translate>project.manage.mailTicket.config.dialog.notification</h2>
                    <md-input-container class="md-block">
                        <label translate>label.subject</label>
                        <input type="text" id="subject" placeholder="" required autocomplete="off"
                               data-ng-model="$mailConfigDialogCtrl.configToAdd.subject">
                    </md-input-container>
                    <md-input-container class="md-block" data-ng-hide="preview.show">
                        <label data-translate>label.body</label>
                        <textarea data-ng-model="$mailConfigDialogCtrl.configToAdd.body" rows="5" required md-select-on-focus></textarea>
                    </md-input-container>
                    <md-input-container class="md-block md-input-has-placeholder" data-ng-show="preview.show">
                        <label data-translate>label.body</label>
                        <div data-ng-bind-html="$mailConfigDialogCtrl.configToAdd.body | markdown"></div>
                    </md-input-container>
                    <md-button type="button" data-ng-click="preview.show = true" data-ng-hide="preview.show">
                        <span data-translate>button.preview</span>
                    </md-button>
                    <md-button type="button" data-ng-click="preview.show = false" data-ng-show="preview.show">
                        <span data-translate>button.closePreview</span>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" type="submit"
                       data-ng-disabled="!mailConfigForm.$valid">
                <span data-translate>button.save</span>
            </md-button>
            <md-button type="button" data-ng-click="$mailConfigDialogCtrl.cancel();">
                <span data-translate>button.cancel</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

