.lvg-mail-ticket__ticket-actions {
    margin: 0;
    border-top: 1px solid #dddddd;
    background-color: #f5f5f5;
}

.lvg-mail-ticket__disabled {
    opacity: 0.5;
}

.lvg-mail-ticket__dialog {
    width: 80%;
    max-width: 80%;
}
