<md-card class="lvg-content__row lvg-content__row-item">
    <md-card-title>
        <md-checkbox class="lvg-no-margin-bottom"
                     ng-model="$ctrl.smtpEnabled"
                     ng-change="$ctrl.toggleSmtp($ctrl.smtpEnabled)">
            <span translate>admin.smtp.enable</span>
        </md-checkbox>
    </md-card-title>
    <form ng-submit="$ctrl.saveSmtpConfig($ctrl.configuration)" ng-if="$ctrl.smtpEnabled">
        <md-card-content>
            <md-input-container class="md-block">
                <label><span translate>admin.smtp.host</span></label>
                <input type="text" ng-model="$ctrl.configuration.host" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label><span translate>admin.smtp.port</span></label>
                <input type="number" ng-model="$ctrl.configuration.port" required>
            </md-input-container>
            <md-input-container class="md-block lvg-fix-height">
                <label><span translate>admin.smtp.protocol</span></label>
                <md-select ng-model="$ctrl.configuration.protocol" required>
                    <md-option value="smtp">smtp</md-option>
                    <md-option value="smtps">smtps</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label><span translate>admin.smtp.username</span></label>
                <input type="text" ng-model="$ctrl.configuration.username">
            </md-input-container>
            <md-input-container class="md-block">
                <label><span translate>admin.smtp.password</span></label>
                <input type="text" ng-model="$ctrl.configuration.password">
            </md-input-container>
            <md-input-container class="md-block">
                <label><span translate>admin.smtp.from</span></label>
                <input type="text" ng-model="$ctrl.configuration.from">
            </md-input-container>
            <md-input-container class="md-block">
                <label><span translate>admin.smtp.properties</span></label>
                <textarea ng-model="$ctrl.configuration.properties"></textarea>
            </md-input-container>
        </md-card-content>
        <md-card-actions>
            <md-button type="submit" class="md-primary"><span translate>button.save</span></md-button>
            <md-button type="button" ng-click="$ctrl.openSmtpConfigModal()"><span translate>admin.smtp.sendTestEmail</span></md-button>
        </md-card-actions>
    </form>
</md-card>

