<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
      		<h2 data-translate>partials.admin.manage-smpt-configuration.sendTestEmail</h2>
      	</div>
    </md-toolbar>

	<md-dialog-content>
		<div class="md-dialog-content">
			<div class="modal-body">
			    <div class="form-group">
			        <label data-translate>partials.admin.manage-smpt-configuration.emailAddressTest</label>
			        <input class="form-control" type="email" data-ng-model="to" placeholder="your@email.com"></input>
			    </div>
			</div>
			<div class="modal-footer">
			    <button class="lvg-button lvg-button-submit"
			            data-ng-click="sendTestEmail(to)"
			            type="button" data-translate>partials.admin.manage-smpt-configuration.send</button>
			    <button data-ng-click="close()" class="lvg-button lvg-button-default" data-translate>button.close</button>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>
