lvg-card-fragment-v2 {
	display: block;
}

div.card-data ul {
	padding: 0;
	margin: 0;
}

lvg-card-fragment-v2 {
	display: block;
}

lvg-card-fragment-v2 .data-info li {
	list-style-type: none;
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 0;
	padding-right: 5px;
	padding-top: 3px;
	color: #aaaaaa;
}

lvg-card-fragment-v2 .data-info li.lvg-action-not-done {
    background-color: #cf513d;
    color: #ffffff;
    padding-left: 5px;
}


lvg-card-fragment-v2 .data-info li.lvg-action-full {
	background-color: #00CC00;
	color: #ffffff;
	padding-left: 5px;
}

lvg-card-fragment-v2 .data-info li.lvg-action-not-done md-icon,
lvg-card-fragment-v2 .data-info li.lvg-action-full md-icon {
	color: #ffffff;
}

lvg-card-fragment-v2 .data-info li.lvg-due-date-tomorrow {
    background-color: #e6c60d;
    color: #ffffff;
    padding-left: 5px;
}

lvg-card-fragment-v2 .data-info li.lvg-due-date-now {
    background-color: #cf513d;
    color: #ffffff;
    padding-left: 5px;
}

lvg-card-fragment-v2 .data-info li.lvg-due-date-past {
    background-color: #ec9488;
    color: #ffffff;
    padding-left: 5px;
}

lvg-card-fragment-v2 .data-info li.lvg-due-date-tomorrow md-icon,
lvg-card-fragment-v2 .data-info li.lvg-due-date-now md-icon,
lvg-card-fragment-v2 .data-info li.lvg-due-date-past md-icon {
    color: #ffffff;
}




lvg-card-fragment-v2 md-card-title {
	overflow:hidden;
}


lvg-card-fragment-v2 md-card-content {
	overflow:hidden;
}

lvg-card-fragment-v2 .data-info md-icon {
	color:#aaa;
}


.lvg-card-fragment-v2__icon {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
}

.lvg-card-fragment-v2__label-container {
	margin-top:8px;
}

.lvg-card-fragment-v2__label {
	display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    padding: .4em .9em .3em .6em;
    margin-bottom: 5px;
    margin-right: 2px;
}
