<md-card
    data-lvg-board-card-menu
    data-ng-class="::{'lavagna-is-watching': !$ctrl.listView && $ctrl.isSelfWatching, 'lavagna-board-panel' : $ctrl.boardView }">
    <md-card-title>
        <md-card-title-text>
            <div layout="row" data-ng-if="::($ctrl.boardView && !$ctrl.readOnly)">
                <div flex="80">
                    <!-- <input type="checkbox" data-ng-model="$ctrl.selected[$ctrl.card.columnId][$ctrl.card.id]" data-lvg-has-permission="MANAGE_LABEL_VALUE" class="lavagna-board-card-checkbox"></input> -->
                    <lvg-card-fragment-link
                        dynamic-link="true"
                        target-state="board.card"
                        project-name="{{::$ctrl.projectShortName}}" 
                        board-short-name="{{::$ctrl.boardShortName}}"
                        sequence-number="{{::$ctrl.card.sequence}}"></lvg-card-fragment-link>
                </div>
                <div flex>
                    <div data-lvg-has-at-least-one-permission="MOVE_CARD,MANAGE_LABEL_VALUE">
                        <div class="lavagna-card-caret-container lvg-not-sortable-card" data-ng-click="openCardMenu($ctrl.card)"><span class="fa fa-chevron-down"></span></div>
                    </div>
                </div>
            </div>
            <div layout="row" data-ng-if="::($ctrl.boardView && $ctrl.readOnly)">
                <div flex="80"><span class="fake-link">{{::$ctrl.shortCardName}}}</span></div>
            </div>
            <div layout="row" data-ng-if="::($ctrl.listView)">
                <div flex="65">
                    <lvg-card-fragment-link
                        target-state="board.card"
                        project-name="{{::$ctrl.projectShortName}}" 
                        board-short-name="{{::$ctrl.boardShortName}}"
                        sequence-number="{{::$ctrl.card.sequence}}"></lvg-card-fragment-link>
                </div>
                <div flex class="card-home-date">{{::$ctrl.card.lastUpdateTime|dateIncremental}}</div>
            </div>
            <div layout="row" data-ng-if="::($ctrl.searchView)">
                <div flex="65">
                    <!-- <input type="checkbox" data-ng-model="$ctrl.selected[$ctrl.card.projectShortName][$ctrl.card.id]" data-lvg-has-permission="MANAGE_LABEL_VALUE" data-with-project="{{$ctrl.card.projectShortName}}"> -->
                    <lvg-card-fragment-link
                        dynamic-link="true"
                        target-state="{{::($ctrl.searchType == 'globalSearch' ? 'globalSearch.card' : 'projectSearch.card')}}"
                        project-name="{{::$ctrl.projectShortName}}" 
                        board-short-name="{{::$ctrl.boardShortName}}"
                        sequence-number="{{::$ctrl.card.sequence}}"></lvg-card-fragment-link>
                </div>
                <div flex class="card-home-date">{{::($ctrl.card.lastUpdateTime|dateIncremental)}}</div>
            </div>
            <span ng-bind="::$ctrl.card.name"></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="card-data">
            <ul class="data-info">
                <li ng-if="::($ctrl.card.counts['COMMENT'].count > 0)">
                    <span class="fa fa-comment"></span> <span ng-bind="::($ctrl.card.counts['COMMENT'].count)"></span>
                </li>
                <li ng-if="::$ctrl.hasActionListWithItems"
                    ng-class="::({'lvg-action-full': $ctrl.card.counts['ACTION_CHECKED'].count == $ctrl.card.counts['ACTION_CHECKED'].count + $ctrl.card.counts['ACTION_UNCHECKED'].count,
                                    'lvg-action-not-done': $ctrl.card.columnDefinition == 'CLOSED' && $ctrl.card.counts['ACTION_CHECKED'].count != $ctrl.card.counts['ACTION_CHECKED'].count + $ctrl.card.counts['ACTION_UNCHECKED'].count})">
                    <span class="fa fa-list"></span>
                    <span ng-bind="::$ctrl.actionItemsSummary"></span>
                </li>
                <li ng-if="::$ctrl.hasFiles">
                    <span class="fa fa-file"></span> <span ng-bind="::$ctrl.filesCount"></span>
                </li>
                <li ng-if="::$ctrl.hasDueDateLabel" ng-class="::$ctrl.dueDateClasses">
                    <span class="fa fa-clock-o"></span> <lvg-label-val-v2 value-ref="$ctrl.dueDateLabel" project-metadata-ref="$ctrl.projectMetadata"></lvg-label-val-v2>
                </li>
                <li ng-if="::$ctrl.hasMilestoneLabel" ng-class="::$ctrl.milestoneClasses">
                    <span class="fa fa-map-marker"></span> <lvg-label-val-v2 value-ref="$ctrl.milestoneLabel" project-metadata-ref="$ctrl.projectMetadata"></lvg-label-val-v2>
                </li>
            </ul>
        </div>
        <div class="card-info" data-ng-if="::(!$ctrl.listView && $ctrl.hasAssignedLabels)">
            <ul class="assigned-users">
                <li class="assigned-user" lvg-card-fragment-label-repeat="$ctrl.assignedLabels">
                    <lvg-label-val-v2 value-ref="value"></lvg-label-val-v2>
                </li>
            </ul>
        </div>
        
        <div class="card-labels" ng-if="::$ctrl.hasUserCreatedLabels">
            <ul class="labels">
                <li class="lavagna-label lavagna-label-no-controls" 
                    ng-style="::($ctrl.projectMetadata.labels[value.labelId].color|labelBackground)"
                    ng-class="::($ctrl.projectMetadata.labels[value.labelId].color|labelBackgroundClass)" 
                    lvg-card-fragment-label-repeat="$ctrl.userCreatedLabels" project-metadata-ref="$ctrl.projectMetadata"><lvg-label-v2 value-ref="value" project-metadata-ref="projectMetadata"></lvg-label-val-v2></li>
            </ul>
        </div>
    </md-card-content>
</md-card>