<md-card>
    <md-card-title>
        <md-card-title-text>
            <div layout="row" data-ng-if="::($ctrl.boardView && !$ctrl.readOnly)">
                <div flex="80">
                    {{::($ctrl.shortCardName)}}
                    <!-- <input type="checkbox" data-ng-model="$ctrl.selected[$ctrl.card.columnId][$ctrl.card.id]" data-lvg-has-permission="MANAGE_LABEL_VALUE" class="lavagna-board-card-checkbox"></input> --> 
                    <!--<a ui-state="'board.card'" ui-state-params="{projectName: $ctrl.project, shortName: $ctrl.board, seqNr: $ctrl.card.sequence, q: $ctrl.query}">
                        
                    </a>-->
                </div>
                <div flex>
                    <div data-lvg-has-at-least-one-permission="MOVE_CARD,MANAGE_LABEL_VALUE">
                        <div class="lavagna-card-caret-container lvg-not-sortable-card" data-ng-click="openCardMenu($ctrl.card, $ctrl.boardColumns)"><span class="fa fa-chevron-down"></span></div>
                    </div>
                </div>
            </div>
            <div layout="row" data-ng-if="::($ctrl.boardView && $ctrl.readOnly)">
                <div flex="80"><span class="fake-link"> {{::$ctrl.shortCardName}}}</span></div>
            </div>
            <div layout="row" data-ng-if="::($ctrl.listView)">
                <div flex="65"><a data-ui-sref="board.card({projectName: $ctrl.card.projectShortName, shortName: $ctrl.card.boardShortName, seqNr: $ctrl.card.sequence})">
                    {{::($ctrl.shortCardName)}}
                </a></div>
                <div flex class="card-home-date">{{::$ctrl.card.lastUpdateTime|dateIncremental}}</div>
            </div>
            <div layout="row" data-ng-if="::($ctrl.searchView)">
                <div flex="65">
                    <input type="checkbox" data-ng-model="$ctrl.selected[$ctrl.card.projectShortName][$ctrl.card.id]" data-lvg-has-permission="MANAGE_LABEL_VALUE" data-with-project="{{$ctrl.card.projectShortName}}">
                    <a data-ng-if="::($ctrl.searchType == 'globalSearch')" ui-state="'globalSearch.card'" ui-state-params="{projectName: $ctrl.card.projectShortName, shortName: $ctrl.card.boardShortName, seqNr: $ctrl.card.sequence, q:  $ctrl.query, page: $ctrl.page}" data-ng-class="{'lavagna-closed-card':$ctrl.card.columnDefinition == 'CLOSED'}">
                        {{::($ctrl.shortCardName)}}
                    </a>
                    <a data-ng-if="::($ctrl.searchType == 'projectSearch')" ui-state="'projectSearch.card'" ui-state-params="{projectName: $ctrl.card.projectShortName, shortName: $ctrl.card.boardShortName, seqNr: $ctrl.card.sequence, q:  $ctrl.query, page: $ctrl.page}" data-ng-class="{'lavagna-closed-card':$ctrl.card.columnDefinition == 'CLOSED'}">
                        {{::($ctrl.shortCardName)}}
                    </a>
                </div>
                <div flex class="card-home-date">{{::($ctrl.card.lastUpdateTime|dateIncremental)}}</div>
            </div>
            <span ng-bind="::$ctrl.card.name"></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="card-data">
            <ul class="data-info">
                <li ng-if="::($ctrl.card.counts['COMMENT'].count > 0)">
                    <span class="fa fa-comment"></span> <span ng-bind="::($ctrl.card.counts['COMMENT'].count)"></span>
                </li>
                <li ng-if="::$ctrl.hasActionListWithItems"
                    ng-class="::({'lvg-action-full': $ctrl.card.counts['ACTION_CHECKED'].count == $ctrl.card.counts['ACTION_CHECKED'].count + $ctrl.card.counts['ACTION_UNCHECKED'].count,
                                    'lvg-action-not-done': $ctrl.card.columnDefinition == 'CLOSED' && $ctrl.card.counts['ACTION_CHECKED'].count != $ctrl.card.counts['ACTION_CHECKED'].count + $ctrl.card.counts['ACTION_UNCHECKED'].count})">
                    <span class="fa fa-list"></span>
                    <span ng-bind="::$ctrl.actionItemsSummary"></span>
                </li>
                <li ng-if="::$ctrl.hasFiles">
                    <span class="fa fa-file"></span> <span ng-bind="::$ctrl.filesCount"></span>
                </li>
                
                <li ng-if="::$ctrl.hasDueDateLabel" ng-class="::$ctrl.dueDateClasses">
                    <span class="fa fa-clock-o"></span> <lvg-label-val-v2 value-ref="::$ctrl.dueDateLabel"></lvg-label-val-v2>
                </li>
                
            </ul>
        </div>
    </md-card-content>
</md-card>