lvg-card-fragment-v2 {
	display: block;
}

.lvg-card-fragment-v2__card-data {
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 0;
	padding-right: 5px;
	color: #aaaaaa;
}

.lvg-card-fragment-v2__card-data__action-not-done {
    background-color: #cf513d;
    color: #ffffff;
}

.lvg-card-fragment-v2__card-data__action-full {
	background-color: #00CC00;
	color: #ffffff;
}

.lvg-card-fragment-v2__card-data__due-date-tomorrow {
    background-color: #e6c60d;
    color: #ffffff;
}

.lvg-card-fragment-v2__card-data__due-date-now {
    background-color: #cf513d;
    color: #ffffff;
}

.lvg-card-fragment-v2__card-data__due-date-past {
    background-color: #ec9488;
    color: #ffffff;
}

.lvg-card-fragment-v2__icon {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    background-color: white;
}

.lvg-card-fragment-v2__label-container {
	margin-top:8px;
}

.lvg-card-fragment-v2__label {
	display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    padding: .4em .9em .3em .6em;
    margin-bottom: 5px;
    margin-right: 2px;
}
