<md-card ng-class="{archived : $ctrl.item.archived}">
    <div class="lvg-stats-panel-simple__title-tasks_container">
        <div class="lvg-stats-panel-simple__title-tasks">
            <div class="lvg-stats-panel-simple__title-task"
                 ng-repeat="stat in $ctrl.normalizedStats"
                 ng-style="{'width' : stat.percentage + '%', 'background-color': stat.color}">
                <md-tooltip>{{::('stats.tasks.count.' + stat.name | translate:{ value: stat.value })}}</md-tooltip>
            </div>
        </div>
    </div>
    <md-card-title>
        <md-card-title-text ng-transclude>
            <a data-ui-sref="project.boards({projectName: $ctrl.project.shortName})">{{$ctrl.project.shortName}} - {{$ctrl.project.name}}</a>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div data-ng-bind-html="$ctrl.item.description | markdown" class="lvg-stats-panel-simple__description overflow-break"></div>
    </md-card-content>
</md-card>
