.lvg-stats-panel-simple__title-tasks_container {
    display:table;
    width:100.1%;
}

.lvg-stats-panel-simple__title-tasks {
    display: table-row;
    height: 5px;
}

.lvg-stats-panel-simple__title-task {
    display: table-cell;
    height: 5px;
}
