<lvg-stats-panel-simple item="$ctrl.board" stats-fetcher="$ctrl.statsFetcher()">
    <div class="row row-inherit lvg-stats-panel__title">
        <a class="flex no-grow"
           data-ui-sref="board({projectName: $ctrl.projectShortName, shortName: $ctrl.board.shortName})">
            {{$ctrl.board.shortName}} - {{$ctrl.board.name}}
        </a>
        <div class="flex"></div>
        <div class="flex no-grow" lvg-has-permission="PROJECT_ADMINISTRATION">
            <md-menu>
                <md-button class="lvg-small-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="menu_ellipsis"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-if="!$ctrl.board.archived">
                        <md-button ng-click="$ctrl.archive()">{{::('common.archive' | translate)}}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="$ctrl.board.archived">
                        <md-button ng-click="$ctrl.unarchive()">{{::('common.unarchive' | translate)}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</lvg-stats-panel-simple>
