<form name="dialogSelectDate" ng-submit="$ctrl.ok($ctrl.dueDate)" class="lvg-dialog__content">
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title" translate>{{::$ctrl.dialogTitle}}</h2>
		<md-datepicker ng-model="$ctrl.dueDate" required md-autofocus></md-datepicker>
	</md-dialog-content>
	<md-dialog-actions>
	    <md-button ng-click="$ctrl.cancel()"><span translate>button.cancel</span></md-button>
	    <md-button type="submit" ng-disabled="!dialogSelectDate.$valid"><span translate>button.confirm</span></md-button>
	</md-dialog-actions>
</form>