<div class="col-xs-12">
    <div class="lavagna-panel">
        <div class="head clearfix">
            <div class="title title-bold" data-translate>admin.endpoints</div>
        </div>
        <div class="body separated">
            <ul class="lvg-endpoint-info list-group">
                <li class="list-group-item" data-translate data-translate-value-count="{{ ($ctrl.endpointInfo.endpointsInfo | filter : {'permission':null}).length }}">admin.endpoints.withoutPermissions</li>
                <li class="list-group-item"
                    data-ng-repeat="info in $ctrl.endpointInfo.endpointsInfo">
                    <p data-ng-repeat="pattern in info.patterns">
                        <span data-ng-repeat="method in info.methods">{{method}} </span> <span data-ng-if="info.methods.length == 0" class="label label-warning" data-translate>admin.endpoints.noMethodSpecified</span> {{pattern}}
                    </p>

                    <p>
                        <span data-translate>admin.endpoints.permission</span> {{info.permission}} <span class="label label-danger" data-ng-if="info.permission == null"  data-translate>admin.endpoints.missingPermission</span>
                    </p>

                    <p><span data-translate>admin.endpoints.handler</span> {{info.handler}}</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="lavagna-panel">
        <div class="head clearfix">
            <div class="title title-bold" data-translate>admin.endpoints.path-check</div>
        </div>
        <div class="body separated">
            <ul class="lvg-endpoint-info list-group">
                <li class="list-group-item"
                    data-ng-repeat="idPathVar in $ctrl.endpointInfo.idsPathVariable">{{idPathVar}}
                    <span class="label label-warning" data-ng-if="$ctrl.endpointInfo.matchedUrlPath[idPathVar] == null" data-translate>admin.endpoints.missingPathCheck</span>
                </li>
            </ul>
        </div>
    </div>
</div>
