<div class="container auto-margin lavagna-container-top-margin">
	<div class="row">
		<div class="lavagna-container-bottom-margin col-md-6">
			<button type="button" class="lvg-button lvg-button-submit" data-ng-click="createNewLabel = true;" data-ng-hide="createNewLabel">
				<span class="fa fa-plus"></span>
				<span data-translate>partials.project.manage-labels.createLabel</span>
			</button>
		
			<div class="lavagna-form-panel" data-ng-show="createNewLabel" >
				<form data-ng-role="form"
				  	data-ng-init="labelToAdd = {type: 'NULL', color: '#3f51b5', unique: true}"
				  	data-ng-submit="addNewLabel(labelToAdd);labelToAdd = {type: 'NULL', color: '#3f51b5', unique:true}">
				  	
				  	<div class="form-group">
						<label data-translate>partials.project.manage-labels.name</label>
						<input type="text" class="form-control" placeholder="{{'partials.project.manage-labels.labelName.placeholder' | translate}}"
							data-ng-model="labelToAdd.name" required>
					</div>
					
					<div class="form-group">
						<label data-translate>partials.project.manage-labels.type</label>
						<select class="form-control" data-ng-model="labelToAdd.type"
							data-ng-options="l.type as l.name for l in labelOptions"></select>
					</div>
				  	
				  	
				  	<div class="form-group">
						<label data-translate>partials.project.manage-labels.color</label>

						<div class="input-group">
							<span class="input-group-btn"><lvg-colorpicker	data-ng-model="labelToAdd.color"></lvg-colorpicker></span>
							<input class="form-control" type="text" data-ng-model="labelToAdd.color">
						</div>
					</div>
					
					<div class="form-group">
						<div class="checkbox">
							<label> <input type="checkbox"
								data-ng-model="labelToAdd.unique"> <span data-translate>partials.project.manage-labels.unique</span>
							</label>
						</div>
					</div>

					<button type="submit" class="lvg-button lvg-button-submit" data-ng-disabled="labelToAdd.name == NULL">
						<span class="fa fa-plus"></span>
						<span data-translate>partials.project.manage-labels.addLabel</span>
					</button>
					<button type="button" class="lvg-button lvg-button-default" data-ng-click="project = null; createNewLabel = false; checkedShortName=undefined;">
						<span data-translate>button.cancel</span>
					</button>
				</form>
			</div>
		</div>
		
		<div class="col-md-12" data-ng-repeat="(n,l) in userLabels | orderObjectBy:'name' track by l.name">
			<lvg-manage-label data-lvg-manage-label="l"></lvg-manage-label>
		</div>

	</div>
</div>