<div class="container auto-margin lavagna-container-top-margin">
	<div class="row">
		<div class="col-md-12" data-ng-repeat="ab in boards" data-ng-init="boardStatus[ab.shortName] = {}">
			<div class="lavagna-panel">
				<div class="head clearfix" data-ng-class="{headonly : boardStatus[ab.shortName].edit}">
					<div class="title title-bold col-xs-9" data-ng-bind="ab.shortName"></div>
					<div class="title-addon col-xs-3">
						<ul class="panel-controls" data-lvg-has-permission="PROJECT_ADMINISTRATION">
							<li class="control-item" data-ng-hide="boardStatus[ab.shortName].edit || ab.archived" data-ng-click="archive(ab);">
								<span class="pull-right"><i class="fa fa-archive" title="{{'common.archive' | translate}}"></i></span>
							</li>
							<li class="control-item" data-ng-hide="boardStatus[ab.shortName].edit || !ab.archived " data-ng-click="unarchive(ab);">
								<span class="pull-right"><i class="fa fa-upload" title="{{'common.unarchive' | translate}}"></i></span>
							</li>
							<li class="control-item" data-ng-hide="boardStatus[ab.shortName].edit" data-ng-click="boardStatus[ab.shortName].edit = true;">
								<span class="pull-right"><i class="fa fa-pencil" title="{{'common.edit' | translate}}"></i></span>
							</li>
							<li class="control-item active-control" data-ng-show="boardStatus[ab.shortName].edit" data-ng-click="boardStatus[ab.shortName].edit = false;">
								<span class="pull-right"><i class="fa fa-times"></i></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="body" data-ng-hide="boardStatus[ab.shortName].edit" data-ng-class="{archived : ab.archived}">
					<p><a href="#/{{project.shortName}}/{{ab.shortName}}" data-ng-bind="ab.name"></a></p>
					<p data-ng-if="ab.description.length > 0" data-ng-bind="ab.description"></p>
					<p data-ng-if="ab.description == null"><i data-translate>common.no-description-available</i></p>
				</div>
				<div class="footer" data-ng-if="boardStatus[ab.shortName].edit">
					<form role="form" data-ng-submit="update(boardStatus[ab.shortName].itemToUpdate)" 
						data-ng-init="boardStatus[ab.shortName].itemToUpdate = {shortName: ab.shortName, name: ab.name, description: ab.description, archived: ab.archived}"
						data-lvg-has-permission="PROJECT_ADMINISTRATION">
						<div class="form-group">
							<label for="name" data-translate>partials.project.manage-home.name</label>
							<input type="text" class="form-control" id="name" placeholder="" required="required" autocomplete="off" data-ng-model="boardStatus[ab.shortName].itemToUpdate.name">
						</div>
						<div class="form-group">
							<label for="description" data-translate>partials.project.manage-home.description</label>
							<textarea class="form-control" rows="3" id="description" data-ng-model="boardStatus[ab.shortName].itemToUpdate.description"></textarea>
						</div>
						<div class="form-group">
							<label><span data-translate>partials.project.manage-home.archived</span> <input type="checkbox" data-ng-model="boardStatus[ab.shortName].itemToUpdate.archived"></label>
						</div>
						<button type="submit" class="lvg-button lvg-button-submit" data-translate>button.update</button>
						<button type="button" class="lvg-button lvg-button-default" data-ng-click="boardStatus[ab.shortName].edit = false;" data-translate>button.cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>