<div class="container auto-margin lavagna-container-top-margin">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<div class="lavagna-form-panel lavagna-container-bottom-margin">
				<form data-ng-submit="addLabelListValue(newMilestoneValue);newMilestoneValue = null">
					<div class="input-group">
						<input type="text" class="form-control"
						   	placeholder="{{'partials.project.manage-milestones.newMilestone' | translate}}"
						   	data-ng-model="newMilestoneValue"
						   	required="required"
						   	autocomplete="off"
							data-lvg-on-esc>
						<span class="input-group-btn">
							<button class="lvg-inline-button lvg-button-submit" type="submit" data-translate>button.add</button>
						</span>
					</div>
				</form>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="lavagna-panel">
					<table class="table lvg-table" data-ng-init="milestoneDeleteStatus = {}">
                        <tr data-ng-if="milestoneValues.length > 15">
                            <td>
                                <pagination total-items="milestoneValues.length" data-ng-model="$parent.currentPage"
                                            items-per-page="15" max-size="10"
                                            class="pagination-sm lvg-milestone-pagination" boundary-links="true">
                                </pagination>
                            </td>
                        </tr>

						<tr data-ng-repeat="(nValue,lValue) in milestoneValues | limitToWithOffset: 15 : 15 * (currentPage - 1)">
							<td class="vcenter"><span data-ng-hide="lValue.edit" data-ng-class="{strike : lValue.metadata.status === 'CLOSED'}">{{lValue.value}}</span><span data-ng-show="lValue.edit"><input data-ng-model="lValue.value"> <button class="lvg-button lvg-button-default" data-ng-click="update(lValue)"><i class="fa fa-check"></i></button></span></td>
							<td class="lavagna-icon-column" data-ng-hide="milestoneDeleteStatus[lValue.id]">
								<button class="lvg-button lvg-button-default" data-ng-click="lValue.edit = !lValue.edit">
									<i class="fa fa-pencil" data-ng-hide="lValue.edit"></i>
									<i class="fa fa-times" data-ng-show="lValue.edit"></i>
								</button>
							</td>
                            <td class="vcenter lavagna-date-column" data-ng-hide="milestoneDeleteStatus[lValue.id]">
                                <span data-ng-hide="lValue.dateEdit" data-ng-bind="lValue.metadata.releaseDate"></span>
						        <span data-ng-show="lValue.dateEdit" data-ng-init="newDate = lValue.metadata.releaseDate">
                                    <input type="text" placeholder="{{'partials.fragments.label-pickers.date' | translate}}" size="12"
                                           data-lvg-datepicker data-ng-model="newDate">
                                    <button class="lvg-button lvg-button-default" data-ng-click="updateReleaseDate(lValue.id, newDate)"><i class="fa fa-check"></i></button>
						        </span>
                            </td>
                            <td class="lavagna-icon-column" data-ng-hide="milestoneDeleteStatus[lValue.id]">
                                <button class="lvg-button lvg-button-default" data-ng-click="lValue.dateEdit = !lValue.dateEdit">
                                    <i class="fa fa-calendar" data-ng-hide="lValue.dateEdit"></i>
                                    <i class="fa fa-times" data-ng-show="lValue.dateEdit"></i>
                                </button>
                            </td>

							<td class="lavagna-icon-column" data-ng-hide="milestoneDeleteStatus[lValue.id]">
								<button class="lvg-button lvg-button-default"
										data-ng-disabled="milestoneValues.length < 2 || nValue == 0"
										data-ng-click="swapLabelListValues(lValue.id, milestoneValues[nValue - 1].id)">
									<i class="fa fa-angle-up"></i>
								</button>
							</td>
							<td class="lavagna-icon-column" data-ng-hide="milestoneDeleteStatus[lValue.id]">
								<button class="lvg-button lvg-button-default"
										data-ng-disabled="milestoneValues.length < 2 || milestoneValues.length == nValue + 1"
										data-ng-click="swapLabelListValues(lValue.id, milestoneValues[nValue + 1].id)">
									<i class="fa fa-angle-down"></i>
								</button>
							</td>
                            <td class="lavagna-icon-column" data-ng-hide="milestoneDeleteStatus[lValue.id]">
                                <button class="lvg-button lvg-button-default"
                                        data-ng-disabled="milestoneValues.length < 2 || nValue == 0"
                                        data-ng-click="moveLabelListValue(lValue.id, 1)">
                                    <i class="fa fa-angle-double-up"></i>
                                </button>
                            </td>
                            <td class="lavagna-icon-column" data-ng-hide="milestoneDeleteStatus[lValue.id]">
                                <button class="lvg-button lvg-button-default"
                                        data-ng-disabled="milestoneValues.length < 2 || milestoneValues.length == nValue + 1"
                                        data-ng-click="moveLabelListValue(lValue.id, milestoneValues.length)">
                                    <i class="fa fa-angle-double-down"></i>
                                </button>
                            </td>
							<td class="lavagna-icon-column" data-ng-hide="milestoneDeleteStatus[lValue.id]">
								<button class="lvg-button lvg-button-default" data-ng-hide="lValue.metadata.status === 'CLOSED'"
										data-ng-click="closeMilestone(lValue)">
									<i class="fa fa-square-o"></i>
								</button>
								<button class="lvg-button lvg-button-default" data-ng-show="lValue.metadata.status === 'CLOSED'"
										data-ng-click="openMilestone(lValue)">
									<i class="fa fa-check-square"></i>
								</button>
							</td>
							<td class="lavagna-icon-column" data-ng-hide="milestoneDeleteStatus[lValue.id]" data-ng-init="milestoneUseCount[lValue.id] = false; updateCount(lValue.id)">
								<button class="lvg-button lvg-button-default"
										data-ng-disabled="milestoneUseCount[lValue.id] !== 0"
										data-ng-click="milestoneDeleteStatus[lValue.id] = true">
									<i class="fa fa-trash-o"></i>
								</button>
							</td>
							<td class="lavagna-confirm-column" colspan="9" data-ng-show="milestoneDeleteStatus[lValue.id]">
								<form data-ng-role="form" data-ng-submit="removeLabelListValue(lValue.id)" class="pull-right">
									<p data-translate>partials.project.manage-milestones.remove</p>
									<button type="submit" class="lvg-button lvg-button-submit" data-translate>button.yes</button>
									<button type="button" class="lvg-button lvg-button-default" data-ng-click="milestoneDeleteStatus[lValue.id] = false;" data-translate>button.no</button>
								</form>
							</td>
						</tr>
					</table>
			</div>
		</div>
	</div>
</div>
