<lvg-navbar data-navbar-type="milestone-menu">
    <a ui-sref="home"><span data-translate>partials.home.title</span></a> <i class="fa fa-angle-right"></i>
    <a ui-sref="project({projectName: project.shortName})">{{project.shortName}}</a>
    <a data-lvg-has-permission="PROJECT_ADMINISTRATION" class="project-settings-shortcut"
       ui-sref="ProjectManage.projectManageHome({projectName: project.shortName})"
       title="{{'partials.project.fragments.nabvar.projectAdmin' | translate}}"><i class="fa fa-cog"></i></a> <i
    class="fa fa-angle-right"></i>
    <a ui-sref="projectMilestones({projectName: project.shortName})"> <span data-translate>partials.project.milestones.breadcrumb.page</span></a>
    <i class="fa fa-angle-right"></i>
    <span> {{milestone.value}}</span>
</lvg-navbar>

<div class="container">
    <div class="row" data-bindonce>
        <div class="col-xs-12 lavagna-container-top-margin">
            <div class="lavagna-panel">
                <div class="progress lvg-progress"
                     data-ng-if="detail.cardsCountByStatus | showArray:0"
                     data-ng-style="{'background-color': (detail.statusColors[statuses.slice(-1)[0]] | color).color}">
                    <div class="progress-bar" data-bindonce
                         data-ng-repeat="status in statuses" ng-if="!$last"
                         data-ng-style="{'width': (detail.cardsCountByStatus[status] * 100.0 / detail.cards.count  | number:2) + '%', 'background-color': (detail.statusColors[status] | color).color}">
                    </div>
                </div>
                <div class="head clearfix">
                    <div class="title title-bold col-xs-9 lvg-milestone-title">
						    <span data-ng-bind="milestone.value" data-ng-hide="editName"
                                  data-ng-class="{'strike' : milestone.metadata['status'] === 'CLOSED'}"></span>

                            <span data-ng-show="editName"
                                  data-ng-init="newName = milestone.value">
                                <input data-ng-model="newName">
                                <span data-ng-click="updateMilestone(newName)" class="lvg-milestone-clickable">
                                    <i class="fa fa-check"></i>
                                </span>
                            </span>
                            <span data-lvg-has-permission="PROJECT_ADMINISTRATION"
                                  class="lvg-milestone-clickable lvg-milestone-edit"
                                  data-ng-click="editName = !editName">
                                <i class="fa fa-pencil" data-ng-hide="editName || milestone.labelListValue.id < 0"></i>
                                <i class="fa fa-times" data-ng-show="editName"></i>
                            </span>
                    </div>
                    <div class="pull-right"
                         data-ng-if="milestone.id != -1"
                         data-lvg-has-permission="PROJECT_ADMINISTRATION">
								<span class="fa fa-square-o lvg-default-text-color lvg-milestone-align-down-icon"
                                      data-ng-if="milestone.id != -1 && milestone.metadata['status'] !== 'CLOSED'"
                                      data-ng-click="closeMilestone()"
                                      title="{{'partials.project.milestones.hint.close' | translate}}">
                                </span>
								<span class="fa fa-check-square lvg-default-text-color lvg-milestone-align-down-icon"
                                      data-ng-if="milestone.id != -1 && milestone.metadata['status'] === 'CLOSED'"
                                      data-ng-click="openMilestone()"
                                      title="{{'partials.project.milestones.hint.open' | translate}}">
                                </span>
                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        <!-- -->
                        <div class="col-xs-6">
                            <div class="lvg-milestone-card-title" data-translate>
                                partials.project.milestones.details
                            </div>
                            <!-- -->
                            <div class="lvg-milestone-detail-row">
                                <span data-ng-if="!(milestone.metadata['releaseDate'])">
                                    <span data-ng-hide="dateEdit" data-translate>partials.project.milestones.noReleaseDate</span>
                                </span>
                                <span data-ng-if="milestone.metadata['releaseDate']">
                                    <span data-translate>partials.project.milestones.releaseDate</span>:
                                    <span data-ng-hide="dateEdit"
                                          data-ng-bind="milestone.metadata['releaseDate']"></span>
                                </span>
                                <span data-ng-show="dateEdit"
                                      data-ng-init="newDate = milestone.metadata['releaseDate']">
                                    <input type="text"
                                           placeholder="{{'partials.fragments.label-pickers.date' | translate}}"
                                           size="12"
                                           data-lvg-datepicker data-ng-model="newDate">
                                    <span data-ng-click="updateMilestoneDate(newDate)" class="lvg-milestone-clickable">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </span>
                                <span data-lvg-has-permission="PROJECT_ADMINISTRATION"
                                      class="lvg-milestone-clickable lvg-milestone-edit"
                                      data-ng-click="dateEdit = !dateEdit">
                                    <i class="fa fa-pencil"
                                       data-ng-hide="dateEdit"></i>
                                    <i class="fa fa-times" data-ng-show="dateEdit"></i>
                                </span>
                            </div>
                            <!-- -->
                            <div data-ng-if="::milestone.totalCards === 0" data-translate>
                                <span data-translate>partials.project.milestones.noCards</span>
                            </div>
                            <div data-ng-if="::milestone.totalCards > 0">
                                <span data-translate>partials.project.milestones.cards</span><span>: {{::milestone.totalCards}}</span>
                            </div>
                            <div data-ng-hide="milestone.totalCards == 0">
                                <ul class="statistics-definition lvg-milestone-stat">
                                    <li class="stat" data-ng-repeat="status in statuses"
                                        data-ng-if="detail.cardsCountByStatus[status] > 0">
                                        <span data-ng-style="detail.statusColors[status] | color"
                                              class="fa fa-tasks"></span>
                                        <span data-translate>{{status | capitalize}}:</span>
                                        {{detail.cardsCountByStatus[status]}} ({{(detail.cardsCountByStatus[status]
                                        * 100 /
                                        detail.cards.count) | number:0}}%)
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="lvg-milestone-card-title"
                                 data-ng-if="detail.assignedAndClosedCards | showArray:1" data-translate>
                                partials.project.milestones.assignedAndClosedCards
                            </div>
                            <div data-ng-if="detail.assignedAndClosedCards | showArray:1" class="lvg-milestone-chart">
                                <lvg-stats-chart chart-data="detail.assignedAndClosedCards"></lvg-stats-chart>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="lvg-milestone-card-title"
                             data-ng-if="detail.assignedAndClosedCards | showArray:1" data-translate>
                            partials.project.milestones.cards
                        </div>

                         <div class="lvg-milestone-card" data-bindonce
                              data-ng-repeat="card in detail.cards.found | orderBy:[orderCardByStatus,'boardShortName','sequence'] | limitToWithOffset: 50 : 50 * (currentPage -1)">

                                <a ui-sref="projectMilestone.card({projectName: project.shortName, shortName: card.boardShortName, seqNr: card.sequence})"
                                   data-ng-class="{'lavagna-closed-card':card.columnDefinition == 'CLOSED'}">
                                    <span data-bo-text="card.boardShortName + '-' + card.sequence"></span>
                                </a>
                                <span> {{card.name}}</span>
                            </div>

                            <div data-ng-if="detail.cards.found.length > 50" class="pull-right">
                                <!--<pagination total-items="detail.cards.count" data-ng-model="milestone.currentPage"
                                            items-per-page="50" max-size="10"
                                            class="pagination-sm lvg-milestone-pagination" boundary-links="true"
                                            data-ng-change="moveDetailToPage(milestone, milestone.currentPage - 1)"></pagination>-->
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-ui-view data-autoscroll="false"></div>


<!--
<div class="head clearfix">
    <div class="title title-bold col-xs-9 lvg-milestone-title">
        <span data-ng-hide="milestone.edit" data-ng-bind="milestone.labelListValue.value" data-ng-class="{'strike' : milestone.labelListValue.metadata['status'] === 'CLOSED'}"></span>
						<span data-ng-show="milestone.edit" data-ng-init="newName = milestone.labelListValue.value">
							<input data-ng-model="newName">
							<span data-ng-click="updateMilestone(milestone, newName)" class="lvg-milestone-clickable">
								<i class="fa fa-check"></i>
							</span>
						</span>
						<span data-lvg-has-permission="PROJECT_ADMINISTRATION" class="lvg-milestone-clickable lvg-milestone-edit"
                              data-ng-click="milestone.edit = !milestone.edit">
							<i class="fa fa-pencil" data-ng-hide="milestone.edit || milestone.labelListValue.id < 0"></i>
							<i class="fa fa-times" data-ng-show="milestone.edit"></i>
						</span>
    </div>
</div>


<div class="title-addon col-xs-3">
    <ul class="panel-controls">
        <li class="control-item" data-ng-if="milestone.labelListValue.metadata['releaseDate'] && milestone.labelListValue.metadata['status'] !== 'CLOSED'">
            <i data-ng-hide="milestone.dateEdit" class="fa lvg-fa-icon fa-calendar"></i>
            <span data-ng-hide="milestone.dateEdit" data-ng-bind="milestone.labelListValue.metadata['releaseDate']"></span>
						        <span data-ng-show="milestone.dateEdit" data-ng-init="newDate = milestone.labelListValue.metadata['releaseDate']">
                                    <input type="text" placeholder="{{'partials.fragments.label-pickers.date' | translate}}" size="12"
                                           data-lvg-datepicker data-ng-model="newDate">
							        <span data-ng-click="updateMilestoneDate(milestone.labelListValue.id, newDate)" class="lvg-milestone-clickable">
								        <i class="fa fa-check"></i>
							        </span>
						        </span>
                                <span data-lvg-has-permission="PROJECT_ADMINISTRATION" class="lvg-milestone-clickable lvg-milestone-edit"
                                      data-ng-click="milestone.dateEdit = !milestone.dateEdit">
                                    <i class="fa fa-pencil" data-ng-hide="milestone.dateEdit || !milestone.labelListValue.metadata['releaseDate']"></i>
                                    <i class="fa fa-times" data-ng-show="milestone.dateEdit"></i>
                                </span>
        </li>

        <li class="control-item" data-ng-show="milestone.totalCards > 0 && milestoneOpenStatus[milestone.labelListValue.value]" data-ng-click="toggleMilestoneOpenStatus(milestone)">
            <span class="fa fa-chevron-up" title="{{'partials.project.milestones.hint.hideCards' | translate}}"></span>
        </li>
        <li class="control-item active-control" data-ng-hide="milestone.totalCards > 0 && milestoneOpenStatus[milestone.labelListValue.value]" data-ng-click="toggleMilestoneOpenStatus(milestone)">
            <span class="fa fa-chevron-down" title="{{'partials.project.milestones.hint.showCards' | translate}}"></span>
        </li>
    </ul>
</div>


<div class="body">
    <div data-ng-hide="milestone.totalCards > 0" data-translate>
        partials.project.milestones.noCards
    </div>
    <div class="row" data-ng-hide="milestone.totalCards == 0">
        <div class="col-md-12">
            <ul class="statistics-definition">
                <li class="stat" data-ng-repeat="item in cardsCountByStatus[milestone.labelListValue.value]">
                    <span data-ng-style="statusColors[item.status]|color" class="fa fa-tasks"></span>
                    <span data-translate>{{item.status | capitalize}}:</span>
                    {{item.count}} ({{(item.count * 100 / milestone.totalCards) | number:0}}%)
                </li>

            </ul>
        </div>
    </div>
</div>

-->
