<lvg-navbar data-navbar-type="project-menu">
	<lvg-project-navigation/>
</lvg-navbar>

<div class="container">
	<div class="row lavagna-project-home">
		<div class="col-md-3" data-lvg-is-not-authenticated></div>
		<div class="board-list col-md-6">
		
			<div data-lvg-has-permission="PROJECT_ADMINISTRATION">
				<button type="button" class="lvg-button lvg-button-submit" data-ng-click="createNewBoard = true;" data-ng-hide="createNewBoard">
					<span class="fa fa-plus"></span>
					<span data-translate>partials.fragments.create-board-fragment.createNewBoard</span>
				</button>
				
				<div class="lavagna-form-panel" data-ng-show="createNewBoard" >
					<form data-ng-submit="createBoard(board); board={};preview.show = false;checkedShortName = undefined; createNewBoard = false;" data-ng-init="board={};preview.show = false;">
						<div class="form-group">
							<label for="name" data-translate>partials.fragments.create-board-fragment.name</label> 
							<input type="text" class="form-control" id="name" placeholder="" required="required" autocomplete="off" data-ng-model="board.name" data-ng-keyup="suggestBoardShortName(board)" maxlength="128">
						</div>
						<div class="form-group has-feedback"  data-ng-class="{'has-error': checkedShortName === false}">
							<label for="shortName" data-translate>partials.fragments.create-board-fragment.shortName</label> 
							<input type="text" autocomplete="off" class="form-control uppercase" id="shortName" placeholder="" required="required" data-ng-model="board.shortName" maxlength="8">
							<i class="fa form-control-feedback"  data-ng-class="{'fa-times' : checkedShortName === false, 'fa-check' : checkedShortName === true}"></i>
						</div>
						<div class="form-group">
							<label for="description" data-translate>partials.fragments.create-board-fragment.description</label>
							<div data-ng-hide="preview.show">
								<textarea class="form-control" rows="3" id="description" data-ng-model="board.description" data-lvg-codemirror></textarea>
							</div>
							<div data-ng-show="preview.show">
								<div data-ng-bind-html="board.description | markdown"></div>
							</div>
						</div>
						<button type="submit" class="lvg-button lvg-button-submit" data-ng-disabled="board.name == null || board.shortName == null || checkedShortName === undefined || checkedShortName === false">
							<span class="fa fa-plus"></span>
							<span data-translate>partials.fragments.create-board-fragment.createNewBoard</span>
						</button>
						<button type="button" class="lvg-button lvg-button-default" data-translate data-ng-click="preview.show = true" data-ng-hide="preview.show">button.preview</button>
						<button type="button" class="lvg-button lvg-button-default" data-translate data-ng-click="preview.show = false" data-ng-show="preview.show">button.closePreview</button>
						<button type="button" class="lvg-button lvg-button-default" data-ng-click="board = {}; checkedShortName = undefined; createNewBoard = false;preview.show = false">
							<span data-translate>partials.fragments.create-board-fragment.cancel</span>
						</button>
					</form>
				</div>
			</div>

			<ul class="lavagna-boards">
				<li class="lavagna-board lavagna-panel" data-ng-class="{archived : board.archived}" data-ng-repeat="board in currentBoards">
					<div class="body-full">
						<lvg-board-panel data-board="board" data-project-short-name="projectName"></lvg-board-panel>
					</div>
				</li>
			</ul>
			<div data-ng-if="totalBoards > boardsPerPage">
				<pagination total-items="totalBoards" data-ng-model="boardPage"
					items-per-page="boardsPerPage" max-size="maxVisibleBoardPages"
					class="pagination-sm" boundary-links="true" rotate="false"
					data-ng-change="switchBoardPage(boardPage)"></pagination>
			</div>

		</div>
		<div class="col-md-6" data-lvg-is-authenticated data-lvg-has-permission="SEARCH">
			<h2 class="card-home" data-translate data-translate-value-name="{{project.name}}">partials.project.project.myOpenTasks</h2>
			<ul data-ng-if="totalProjectOpenCards > 0"
				class="lavagna-home-cards">
				<li class="lavagna-home-card" data-bindonce data-ng-repeat="card in userProjectCards | filter : cardFilter track by card.hash">
					<lvg-card-fragment data-view="list" data-card="card"></lvg-card-fragment>
				</li>
			</ul>
			<span data-ng-if="totalProjectOpenCards == 0" data-translate>partials.project.project.noTask</span>
			<div data-ng-if="totalProjectOpenCards > projectCardsPerPage">
				<pagination total-items="totalProjectOpenCards"
					data-ng-model="cardProjectPage" items-per-page="projectCardsPerPage"
					max-size="maxVisibleCardProjectPages" class="pagination-sm"
					boundary-links="true" rotate="false"
					data-ng-change="fetchUserCardsInProjectPage(cardProjectPage)"></pagination>
			</div>
		</div>
	</div>
</div>


<div data-autoscroll="false"></div>