df-autocomplete {
	display:inline-block;
	width:100%;
	border:1px solid black;
}



div.df-autocomplete {
	display:table;
	width:100%;
	cursor: text;
}

.df-autocomplete-box {
	display:table-row;
}

.df-autocomplete-filters {
	display:table-cell;
}

.df-autocomplete-input{
	display:table-cell;
}

.df-autocomplete-input-size {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: auto;
	white-space: nowrap;
}

.df-autocomplete-controls {
	display:table-cell;
}

.df-autocomplete-tag {
	display:inline-block;
	/*border:1px solid white;*/
	color:white;
	margin-right:2px;
	word-break: break-all;
	padding:2px;
	margin-bottom:2px;
	cursor: pointer;
}

.df-autocomplete-input > div {
	overflow:hidden;
}



.df-autocomplete-input input {
	background: none!important;
	border: none!important;
	box-shadow: none !important;
	-webkit-user-select: auto !important;
	outline: none;
}

.df-autocomplete-chevron:before {
	content: 'v';
}

div.df-autocomplete-menu, div.df-autocomplete-list {
	display:none;
	position:absolute;
	margin-top:6px;
	overflow:hidden;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

div.df-autocomplete.df-autocomplete-show-menu div.df-autocomplete-menu {
	display:block;
}

div.df-autocomplete.df-autocomplete-show-list div.df-autocomplete-list {
	background-color:white;
	color:black;
	display:block;
}

.df-autocomplete-list ul {
	margin:0;
	padding:0;
}

.df-autocomplete-list li {
	cursor:pointer;
}

.df-autocomplete-selected {
	background-color: #eee;
}

.df-autocomplete-input > div {
	overflow: hidden;
	height: 34px;
}

df-autocomplete.df-autocomplete-focused .df-autocomplete-input > div {
	overflow: visible;
	height: auto;
}