/*
	- contains search style
*/

.lavagna-search {
	width: 650px;
	float: left !important;
	border: 0;
	padding: 0px 15px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0;
	margin-left: 0;
}

.lavagna-search df-autocomplete {
	background-color: #78909c;
	border: 0;
	color: white;
	display: block;
  	width: 100%;
  	height: 34px;
  	/*padding: 6px 12px;*/
  	font-size: 14px;
  	vertical-align: middle;
}

.lavagna-search  div.df-autocomplete-list > ul > li {
	padding-left:6px;
	padding-right:6px;
}

.lavagna-search df-autocomplete .df-autocomplete {
	background-color: #78909c;
}

.lavagna-search df-autocomplete .df-autocomplete-input > div {
	padding-top:6px;
}

.lavagna-search df-autocomplete .df-autocomplete-input input {
	color:white;
	line-height: 1.428571429;
}

/*.lavagna-search input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}*/

.lavagna-search button[type="submit"] {
	background-color: #78909c;
	border: 0;
	width: 34px;
	height: 34px;
	color: white;
}

.lvg-remove-tag {
	display: inline-block;
}

.lvg-search-result-list {
	margin:0;
	padding:0;
	margin-top:20px;
}