/*
	- contains admin style
*/


/*
===================================
==== COMMON ROLES =================
===================================
*/

.roles-form-panel {
	margin: 20px 0 20px 0;
	padding: 0;
}

.roles-form-panel .search-bar {
	border: 0;
	word-wrap: break-word;
	padding: 10px;
}

.lavagna-role-user {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}

/*
===================================
==== ROLES MODAL ==================
===================================
*/

ul.lvg-modal-roles {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.lvg-modal-roles li.role {
	border-bottom: 1px solid #dddddd;
	display: block;
	position: relative;
	width: 100%;
	padding: 10px 15px;
	word-wrap: break-word;
}

ul.lvg-modal-roles li.role.role-change {
	background-color: #ffe0b2;
}

ul.lvg-modal-roles li.role:last-of-type {
	border-bottom: 0;
}

ul.lvg-modal-roles li.role .role-checkbox {
	float: left;
}

ul.lvg-modal-roles li.role .role-checkbox input {
	float: left;
}

ul.lvg-modal-roles li.role .role-name {
	display: block;
	padding-left: 20px;
}

ul.lvg-modal-roles li.role .role-name label {
	display: block;
	font-weight: normal;
	margin-bottom: 0;
}


/*
===================================
==== LABEL ADMIN ==================
===================================
*/

ul.lvg-label-admin li {
	display:block;
	height: 40px;
}

.lavagna-color-preview {
	display:inline-block;
	width: 10px;
	height: 10px;
	border-radius: 2px;
}

/*
===================================
==== LOGIN ADMIN ==================
===================================
*/

.lvg-oauth-provider-panel {
	padding-left: 45px;
	padding-top: 10px;
}

.lvg-oauth-provider-title {
	font-weight: bold;
	padding-bottom:10px;
}

/*
===================================
==== USERS ADMIN ==================
===================================
*/
.lvg-roles-panel-list {
	max-height: 100px;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #dddddd;
    background-color: white;
}

.lvg-roles-panel-list li {
	position: relative;
  	display: block;
  	min-height: 20px;
	margin-top: 5px;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 10px;
}

.lvg-roles-panel-list li:last-of-type {
	margin-bottom: 5px;
}

.lvg-roles-panel-list li label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.lvg-roles-panel-list li input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.lvg-users-small-col {
    width: 25px;
}

.lvg-users-medium-col {
    width: 135px;
}

/*
===================================
==== ENDPOINT INFORMATIONS ========
===================================
*/

.lvg-endpoint-info.list-group {
	margin:0;
	padding:0;
	list-style: none;
}

.lvg-endpoint-info .list-group-item {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}

.lvg-endpoint-info .list-group-item:last-child {
	padding-bottom:0;
	border-bottom:none;
}

.lvg-endpoint-info .label.label-danger  {
	padding:5px;
	background-color:red;
	color:white;
}

.lvg-endpoint-info .label.label-warning {
	padding:5px;
	background-color:orange;
	color:white;
}


