lvg-board-sidebar {
    display: block;
    background-color: #d5d5d5;
    min-width: 290px;
    margin: 4px;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #aaa;
    border-top: 2px solid #aaa;
}

.lvg-board-sidebar__dropzone {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 10;
    width: 290px;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.lvg-board-sidebar__dropzone .lavagna-card-placeholder {
	background-color: rgba(0, 0, 0, 0.4);
	width: 290px;
	min-height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
}

.lvg-board-sidebar__footer {
    flex: 0 0 auto;
}

.lvg-board-sidebar__content {
    min-height: 0px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    padding:8px;
}


.lavagna-sidebar-cards {
    position: relative;
}

.lavagna-sidebar-cards > li {
    position: relative;
}
