
<div class="lavagna-left-sidebar-list">
    <div class="lavagna-sidebar-column" data-lvg-fill-sidebar-height="{{boardSidebarCtrl.control}}">
        <div class="panel-body" data-lvg-fill-sidebar-cards-height="boardSidebarCtrl.control"
             data-lvg-fill-sidebar-cards-height-has-more="{{boardSidebarCtrl.sidebar[boardSidebarCtrl.sideBarLocation].hasMore}}"
             data-lvg-fill-sidebar-cards-height-current-page="{{boardSidebarCtrl.sidebar[boardSidebarCtrl.sideBarLocation].currentPage}}">
             <md-progress-circular md-mode="indeterminate" ng-hide="boardSidebarCtrl.sidebarLoaded"></md-progress-circular>
            <div class="clearfix" sv-root="board-column-card" sv-part="boardSidebarCtrl.sidebar[boardSidebarCtrl.sideBarLocation].found" sv-on-sort="boardSidebarCtrl.cardMove($item, $partFrom, $partTo, $indexFrom, $indexTo)">
            	<div ng-repeat="hash in boardSidebarCtrl.getMetadataHash() track by hash">
	                <ul data-ng-repeat="card in boardSidebarCtrl.sidebar[boardSidebarCtrl.sideBarLocation].found track by (card.hash+boardSidebarCtrl.metadataRef().hash)" class="lavagna-sidebar-cards list-group" sv-element>
	                	<li>
	                		<lvg-card-fragment-v2 
	                			view="board" 
	                			hide-select="true" 
	                			card-ref="card" 
	                			user-ref="boardSidebarCtrl.user"
	                			project-metadata-ref="boardSidebarCtrl.metadataRef()"></lvg-card-fragment-v2>
	                    </li>
	                </ul>
                </div>
            </div>

        </div>
        <div class="panel-footer" data-ng-if="boardSidebarCtrl.sidebar[boardSidebarCtrl.sideBarLocation].currentPage !== 0 || boardSidebarCtrl.sidebar[boardSidebarCtrl.sideBarLocation].hasMore">
            <ul class="pager">
                <li class="previous" data-ng-click="boardSidebarCtrl.sideBarLoad(-1)"
                    data-ng-if="boardSidebarCtrl.sidebar[boardSidebarCtrl.sideBarLocation].currentPage !== 0"><a href data-translate>partials.fragments.board-sidebar-fragment.newer</a></li>
                <li class="next" data-ng-click="boardSidebarCtrl.sideBarLoad(1)"
                    data-ng-if="boardSidebarCtrl.sidebar[boardSidebarCtrl.sideBarLocation].hasMore"><a href data-translate>partials.fragments.board-sidebar-fragment.older</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
