<form name="$ctrl.dialogNewCardForm" data-ng-submit="$ctrl.createCard($ctrl.name, $ctrl.columnId);" class="lvg-dialog__content">
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title" translate>dialog-new-card.title</h2>
        <md-input-container class="md-block">
            <input
                type="text" name="name" placeholder="{{::('label.name' | translate)}}"
                ng-model="$ctrl.name"
                autocomplete="off" required
                md-autofocus>
        </md-input-container>
        <md-input-container class="md-block">
            <label translate>label.column</label>
            <md-select ng-model="$ctrl.columnId" name="column" required">
                <md-option ng-value="column.id" ng-repeat="column in $ctrl.columns | orderBy:'order'">{{::column.name}}</md-option>
            </md-select>
        </md-input-container>
	</md-dialog-content>
	<md-dialog-actions>
        <md-button ng-click="$ctrl.cancel()"><span translate>button.cancel</span></md-button>
        <md-button type="submit"  ng-disabled="!$ctrl.dialogNewCardForm.$valid"><span translate>button.add</span></md-button>
	</md-dialog-actions>
</form>
