<div class="lvg-content">

    <md-card class="lvg-content__row lvg-content__row-item _md" ng-repeat="milestone in $ctrl.cardsByMilestone">
        <div class="lvg-project-milestones__progress" ng-if="$ctrl.showArray(milestone.cardsCountByStatus, 0)" data-ng-style="{'background-color': ($ctrl.statusColors[$ctrl.cardsCountByStatus[milestone.labelListValue.value].slice(-1)[0].status] | color).color}">
            <div class="lvg-project-milestones__progress-bar"
                ng-repeat="item in $ctrl.cardsCountByStatus[milestone.labelListValue.value]" ng-if="!$last"
                ng-style="{'width': (item.count * 100.0 / milestone.totalCards  | number:2) + '%', 'background-color': ($ctrl.statusColors[item.status] | color).color}">
            </div>
        </div>
        <md-card-title>
            <md-card-title-text ng-bind="milestone.labelListValue.value" ng-class="{'strike': milestone.labelListValue.metadata.status === 'CLOSED'}"></md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div data-ng-hide="milestone.totalCards > 0" translate>partials.project.milestones.noCards</div>
            <div data-ng-hide="milestone.totalCards == 0">
                <div ng-repeat="item in $ctrl.cardsCountByStatus[milestone.labelListValue.value]">
                    <md-icon md-svg-icon="task" ng-style="$ctrl.statusColors[item.status]|color"></md-icon>
                    <span>{{item.status | capitalize}}:</span>
                    {{item.count}} ({{(item.count * 100 / milestone.totalCards) | number:0}}%)
                </div>
                <div><span translate>project.milestones.total-cards</span>{{milestone.totalCards}}</div>
                <div ng-if="milestone.labelListValue.metadata.releaseDate"><span translate>project.milestones.release-date</span> {{milestone.labelListValue.metadata.releaseDate}}</div>
                <div ng-if="!milestone.labelListValue.metadata.releaseDate" translate>project.milestones.no-release-date</div>
            </div>
        </md-card-content>
    </md-card>
</div>