.lvg-project-milestones__progress {
    margin-bottom: 5px;
    height: 5px;
}

.lvg-project-milestones__progress-bar {
	height:5px;
	float:left;
}

.lvg-project-milestones__align-right {
	text-align: right;
}

.lvg-project-milestones__status {
	display: inline-block;
	margin-right:2px;
}