<lvg-navbar-user
    data-username="$ctrl.username"
    data-provider="$ctrl.provider"
    data-is-current-user="$ctrl.isCurrentUser">
</lvg-navbar-user>

<div class="lvg-content lvg-content__row-item " md-whiteframe="1" lvg-has-permission="UPDATE_PROFILE">
	<md-content>
	<form role="form" ng-submit="$ctrl.update($ctrl.profile)">
		<md-content class="lvg-panel__body">
			<md-input-container class="md-block">
				<label><span translate>partials.me.displayName</span></label>
				<input type="text" ng-model="$ctrl.profile.displayName" placeholder="{{'partials.me.displayName.placeholder' | translate}}">
			</md-input-container>
			<md-input-container class="md-block">
				<label><span translate>partials.me.email</span></label>
				<input type="email" ng-model="$ctrl.profile.email" placeholder="{{'partials.me.email.placeholder' | translate}}">
			</md-input-container>
			<div>
				<md-checkbox ng-model="$ctrl.profile.emailNotification"><span translate>partials.me.enableEmailNotification</span></md-checkbox>
			</div>
			<div>
				<md-checkbox ng-model="$ctrl.profile.skipOwnNotifications"><span translate>partials.me.enableSkipOwnNotifications</span></md-checkbox>
			</div>
		</md-content>
		<div>
			<md-button type="submit" class="md-primary"><span translate>partials.me.update</span></md-button>
		</div>
	</form>
	
	<md-divider></md-divider>

	<md-content class="lvg-panel__body">
		<div>
			<md-checkbox ng-model="$ctrl.disabledFeed" ng-change="$ctrl.updateFeed()"><span translate>partials.me.calendar.disableFeed</span></md-checkbox>
		</div>
		<div translate>partials.me.calendar.description</div>
		<div>{{$ctrl.calendarFeedUrl}}</div>
	</md-content>
	
	<md-divider></md-divider>
	
	
	<md-content>
		<div>
			<md-button ng-click="$ctrl.clearAllTokens()"><span translate>partials.me.clearAllTokens</span></md-button>
		</div>
		<div>
			<md-button ng-click="$ctrl.clearCalendarToken()"><span translate>partials.me.clearCalendarToken</span></md-button>
		</div>
	</md-content>
	
	</md-content>
</div>
