lvg-board-column {
    display: inline-block;
    vertical-align: top;
    background-color: #e5e5e5;
    position: relative;
    width: 290px;
    min-width: 290px;
    margin: 4px;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.lvg-board-column__container {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

.lvg-board-column__header {
    display: block;
    width: 288px;
    height: 40px;
    background-color: #fafafa;
    border: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.lvg-board-column__header-title {
    height: 100%;
    max-width: 290px;
}

.lvg-board-column__header-title-text {
    padding: 9px 0px 0px 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lvg-board-column__header-menu {
    width: 52px;
    height: 100%;
}

.lvg-board-column__header-edit {
    display: block;
    width: 290px;
}

.lvg-board-column__content {
    min-height: 150px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fafafa;
    padding-left: 8px;
    padding-right: 8px;
}

.lvg-board__dragging-columns lvg-board-column {
    opacity: .6;
    border: 3px dashed #d5d5d5;
}

.lvg-board__dragging-columns lvg-board-column .lvg-board-column__container {
    border: 0;
}

.lvg-board__dragging-columns lvg-board-column .lvg-board-column__header {
    background-color: #e5e5e5;
}

.lvg-board__dragging-columns lvg-board-column .lvg-board-column__content {
    display: none;
}

.lvg-board__dragging-columns lvg-board-column.sortable-ghost {
    background-color: #d5d5d5;
    border: 3px solid #d5d5d5;
}

.lvg-board__dragging-columns lvg-board-column.sortable-ghost .lvg-board-column__header {
    background-color: #d5d5d5;
}

lvg-board-column.sortable-drag {
    background-color: #fcfcfc;
}

.sortable-drag .lvg-board-column__content {
    display: none;
}

.sortable-drag .lvg-board-column__container {
    border: 0;
}

lvg-board-column.sortable-drag {
    background-color: #fcfcfc;
}
