<div class="panel-heading" data-ng-style="boardColumnCtrl.column.color|columnColor">
    <div class="lvg-column-handle" layout="row" sv-handle>
        <div flex="80">
            <div data-ng-if="!boardColumnCtrl.columnState.editColumnName">
                <span data-ng-click="boardColumnCtrl.columnState.editColumnName=true; boardColumnCtrl.columnState.newColumnName = boardColumnCtrl.column.name" data-lvg-has-permission="RENAME_COLUMN"class="lvg-edit">{{boardColumnCtrl.column.name}}</span>
                <span data-lvg-has-not-permission="RENAME_COLUMN" class="lvg-edit">{{boardColumnCtrl.column.name}}</span>
            </div>
            <div data-ng-if="boardColumnCtrl.columnState.editColumnName">
                <div class="form-group">
                    <input type="text" class="form-control" data-lvg-to-focus="boardColumnCtrl.columnState.editColumnName"
                           data-ng-model="boardColumnCtrl.columnState.newColumnName" data-lvg-on-esc="boardColumnCtrl.columnState.editColumnName">
                </div>
                <div>
                    <button class="lvg-button lvg-button-submit" data-ng-click="boardColumnCtrl.saveNewColumnName(boardColumnCtrl.columnState.newColumnName); boardColumnCtrl.columnState.editColumnName=false"><span data-translate>partials.fragments.columns-fragment.save</span></button>
                    <button class="lvg-button lvg-button-default" data-ng-click="boardColumnCtrl.columnState.editColumnName=false"><span data-translate>partials.fragments.columns-fragment.cancel</span></button>
                </div>
            </div>
        </div>
        <div flex="20">
            <div data-lvg-has-at-least-one-permission="CREATE_CARD,RENAME_COLUMN,MOVE_CARD,MOVE_COLUMN">
                <md-menu>
                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"><span class="fa fa-chevron-down"></md-button>
                    <md-menu-content>
                        <md-menu-item data-lvg-has-permission="CREATE_CARD"><md-button data-ng-click="boardColumnCtrl.columnState.addNewCardFromTop = true"><span data-translate>partials.fragments.columns-fragment.addCard</span></md-button></md-menu-item>                        
                        <md-menu-item data-lvg-has-permission="MANAGE_LABEL_VALUE"><md-button data-ng-click="boardColumnCtrl.selectAllInColumn()"><span data-translate>partials.fragments.columns-fragment.selectAll</span></md-button></md-menu-item>
                        <md-menu-item data-lvg-has-permission="MANAGE_LABEL_VALUE"><md-button  data-ng-click="boardColumnCtrl.unSelectAllInColumn()"><span data-translate>partials.fragments.columns-fragment.selectNone</span></md-button></md-menu-item>
                        <md-menu-item data-lvg-has-permission="RENAME_COLUMN">
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu($event)"><span data-translate>partials.fragments.columns-fragment.columnStatus</span></md-button>
	                            <md-menu-content>
	                                <md-menu-item data-ng-repeat="definition in boardCtrl.columnsDefinition | addColDefOrder | orderBy:'order'">
	                                    <md-button data-ng-click="boardColumnCtrl.setColumnDefinition(definition.id);"><span data-ng-style="definition.color | color" class="fa fa-square"></span> {{::definition.value|capitalize}}</md-button>
	                                </md-menu-item>
	                            </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item data-lvg-has-permission="MOVE_CARD"><md-button data-ng-click="boardColumnCtrl.moveAllCardsInColumn(boardColumnCtrl.cardsInColumn, 'ARCHIVE')"><span data-translate>partials.fragments.columns-fragment.moveAllToArchive</span>s</md-button></md-menu-item>
                        <md-menu-item data-lvg-has-permission="MOVE_CARD"><md-button data-ng-click="boardColumnCtrl.moveAllCardsInColumn(boardColumnCtrl.cardsInColumn, 'BACKLOG')"><span data-translate>partials.fragments.columns-fragment.moveAllToBacklog</span></md-button></md-menu-item>
                        <md-menu-item data-lvg-has-permission="MOVE_CARD"><md-button data-ng-click="boardColumnCtrl.moveAllCardsInColumn(boardColumnCtrl.cardsInColumn, 'TRASH')"><span data-translate>partials.fragments.columns-fragment.moveAllToTrash</span></md-button></md-menu-item>
                        <md-menu-item data-lvg-has-permission="MOVE_COLUMN"><md-button data-ng-click="boardColumnCtrl.moveColumn('ARCHIVE')"><span data-translate>partials.fragments.columns-fragment.moveColumnToArchive</span></md-button></md-menu-item>
                        <md-menu-item data-lvg-has-permission="MOVE_COLUMN"><md-button data-ng-click="boardColumnCtrl.moveColumn('BACKLOG')"><span data-translate>partials.fragments.columns-fragment.moveColumnToBacklog</span></md-button></md-menu-item>
                        <md-menu-item data-lvg-has-permission="MOVE_COLUMN"><md-button data-ng-click="boardColumnCtrl.moveColumn('TRASH')"><span data-translate>partials.fragments.columns-fragment.moveColumnToTrash</span></md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>
    <div data-ng-if="boardColumnCtrl.columnState.addNewCardFromTop" class="row">
        <div class="col-xs-11">
            <!-- TODO: move in a directive -->
            <form data-ng-submit="boardColumnCtrl.createCardFromTop(boardColumnCtrl.columnState.cardToCreateFromTop)">
                <div class="form-group">
                    <input placeholder="{{'partials.fragments.columns-fragment.cardName.placeholder' | translate}}"
                           data-lvg-to-focus="boardColumnCtrl.columnState.cardToCreateFromTop.name == null" required="required"
                           data-ng-model="boardColumnCtrl.columnState.cardToCreateFromTop.name" class="form-control"
                           data-lvg-on-esc="boardColumnCtrl.columnState.addNewCardFromTop" data-lvg-on-esc-eval="boardColumnCtrl.columnState.cardToCreateFromTop = null"></input>
                </div>
                <div>
                    <button type="submit" class="lvg-button lvg-button-submit" data-translate>button.add</button>
                    <button type="button" data-ng-click="boardColumnCtrl.columnState.cardToCreateFromTop = null; boardColumnCtrl.columnState.addNewCardFromTop = false" class="lvg-button lvg-button-default"><span data-translate>partials.fragments.columns-fragment.cancel</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel-body">
    <ul class="lavagna-board-cards" data-ng-show="boardColumnCtrl.loaded"  style="overflow-y:auto;" data-ng-style="{'max-height' : (maxHeight - panelHeadAndFooterSize - 40)+'px'}" sv-root="board-column-card" sv-part="boardColumnCtrl.cardsInColumn" sv-on-sort="boardCtrl.sortCards($item, $partFrom, $partTo, $indexFrom, $indexTo)">
        <li data-ng-repeat="card in boardColumnCtrl.cardsInColumn | filter : boardColumnCtrl.searchFilter.cardFilter track by card.hash" class="lavagna-board-card" sv-element>
            <lvg-card-fragment view="board" 
                               card="card"
                               project="boardColumnCtrl.project.shortName" 
                               board="boardColumnCtrl.board.shortName" 
                               board-columns="boardColumnCtrl.boardColumns" 
                               selected="boardColumnCtrl.selectedCards" 
                               dependencies="boardColumnCtrl.cardFragmentDependencies"
                               query="boardColumnCtrl.query"></lvg-card-fragment>
        </li>
    </ul>
</div>
<div class="panel-footer" data-lvg-has-permission="CREATE_CARD">
    <ul class="board-controls"
        data-ng-hide="boardColumnCtrl.columnState.addNewCard || boardColumnCtrl.columnState.deleteColumn">
        <li class="control-box">
					<span data-ng-click="boardColumnCtrl.columnState.addNewCard = true"
                          class="fa fa-plus" title="{{'partials.fragments.columns-fragment.addCard' | translate}}"></span></li>
    </ul>
    <div data-ng-if="boardColumnCtrl.columnState.addNewCard">
        <form data-ng-submit="boardColumnCtrl.createCard(boardColumnCtrl.columnState.cardToCreate)">
            <div class="form-group">
                <input placeholder="{{'partials.fragments.columns-fragment.cardName.placeholder' | translate}}"
                       data-lvg-to-focus="boardColumnCtrl.columnState.cardToCreate.name == null" required="required"
                       data-ng-model="boardColumnCtrl.columnState.cardToCreate.name" class="form-control"
                       data-lvg-on-esc="boardColumnCtrl.columnState.addNewCard" data-lvg-on-esc-eval="boardColumnCtrl.columnState.cardToCreate = null"></input>
            </div>
            <div>
                <button type="submit" class="lvg-button lvg-button-submit" data-translate>button.add</button>
                <button type="button" data-ng-click="boardColumnCtrl.columnState.cardToCreate = null; boardColumnCtrl.columnState.addNewCard = false"
                        class="lvg-button lvg-button-default"><span data-translate>partials.fragments.columns-fragment.cancel</span></button>
            </div>
        </form>
    </div>
</div>
