<md-card>
    <md-card-title>
        <div data-ng-hide="editCardName">
            <md-card-title-text>
                <span class="md-headline" data-lvg-has-permission="UPDATE_CARD" data-ng-bind="$ctrl.card.name"
                      data-ng-click="cardNameToEdit = $ctrl.card.name; editCardName=true"></span>
                <span class="md-headline" data-lvg-has-not-permission="UPDATE_CARD" data-ng-bind="$ctrl.card.name"></span>
            </md-card-title-text>
        </div>
        <div class="lavagna-card-title-main" data-ng-show="editCardName">
            <form layout="row" data-ng-role="form" data-ng-submit="$ctrl.updateCardName(cardNameToEdit); editCardName=false">
                <div flex>
                    <md-input-container md-no-float class="lvg-input-container__inline">
                        <input required ng-model="cardNameToEdit" data-lvg-on-esc="editCardName" data-lvg-to-focus="editCardName">
                    </md-input-container>
                </div>
                <div flex="nogrow">
                    <md-button class="lvg-small-icon-button" type="submit" ng-disabled="!cardNameToEdit">
                        <md-icon md-svg-icon="ok"></md-icon>
                    </md-button>
                </div>
                <div flex="nogrow">
                    <md-button class="lvg-small-icon-button" ng-click="editCardName=false">
                        <md-icon md-svg-icon="close"></md-icon>
                    </md-button>
                </div>
            </form>
        </div>
    </md-card-title>
    <md-card-content>
        <div>
            <lvg-card-labels
                card="$ctrl.card"
                project="$ctrl.project"
                label-values="$ctrl.labelValues"></lvg-card-labels>
            <span class="lvg-card-description-labels-add" data-lvg-has-permission="UPDATE_CARD" data-ng-hide="$ctrl.addLabelPanel">
                <md-button data-ng-click="$ctrl.addLabelPanel = true"
                           md-no-ink
                           class="lvg-small-icon-button lvg-card-description__labels-add-button">
                    <md-tooltip>{{'card.labels.add.tooltip' | translate}}</md-tooltip>
                    <md-icon md-menu-origin md-svg-icon="add"></md-icon>
                </md-button>
            </span>
        </div>
        <lvg-card-labels-add data-ng-show="$ctrl.addLabelPanel"
                             on-cancel-add="$ctrl.hideAddPanel()"
                             card="$ctrl.card"
                             project="$ctrl.project"
                             label-values="$ctrl.labelValues"></lvg-card-labels-add>
        </div>
        <md-divider></md-divider>
        <div data-ng-show="editDescription">
            <form
                data-ng-submit="editDescription = false; editDescriptionPreviewMode = false; $ctrl.updateDescription(descriptionToEdit);">
                <div data-ng-hide="editDescriptionPreviewMode">
                            <textarea class="lvg-card-description__textarea"
                                      ng-model="descriptionToEdit" rows="10" md-select-on-focus></textarea>
                </div>
                <div data-ng-show="editDescriptionPreviewMode"
                     data-ng-bind-html="descriptionToEditPreview | markdown"></div>
                <div>
                    <md-button class="md-raised md-primary" type="submit">
                        <span data-translate>button.update</span>
                    </md-button>
                    <md-button class="md-raised md-button"
                               data-ng-hide="editDescriptionPreviewMode"
                               data-ng-click="descriptionToEditPreview = descriptionToEdit; editDescriptionPreviewMode = true" type="button">
                        <span data-translate>button.preview</span>
                    </md-button>
                    <md-button class="md-raised md-button"
                               data-ng-show="editDescriptionPreviewMode"
                               data-ng-click="editDescriptionPreviewMode = false" type="button">
                        <span data-translate>button.closePreview</span>
                    </md-button>
                    <md-button class="md-raised md-button"
                               data-ng-click="editDescriptionPreviewMode = false; editDescription = false" type="button">
                        <span data-translate>button.cancel</span>
                    </md-button>
                </div>
            </form>
        </div>

        <div data-ng-hide="editDescription">
            <div class="lvg-card-description__content"
                 data-ng-bind-html="$ctrl.description.content | markdown">
            </div>
            <div class="lvg-card-description__footer">
                <div class="lvg-card-description__updated"
                     data-ng-show="$ctrl.description.updatedCount == 0">
                    <span data-translate>card.description.created.by</span>
                    <span class="lvg-card-description__updated_user" data-lvg-user-tooltip="$ctrl.description.updateUser"></span>
                    <span data-translate>common.on</span>
                    <span class="lvg-card-description__updated_date" data-ng-bind="$ctrl.description.updateDate | dateIncremental"></span>
                </div>
                <div class="lvg-card-description__updated"
                     data-ng-show="$ctrl.description.updatedCount == 1">
                    <span data-translate>card.description.update.count</span>
                    -
                    <span data-translate>card.description.updated.by</span>
                    <span class="lvg-card-description__updated_user" data-lvg-user-tooltip="$ctrl.description.updateUser"></span>
                    <span data-translate>common.on</span>
                    <span class="lvg-card-description__updated_date" data-ng-bind="$ctrl.description.updateDate | dateIncremental"></span>
                </div>
                <div class="lvg-card-description__updated"
                     data-ng-show="$ctrl.description.updatedCount > 1">
                    <span data-translate data-translate-value-count="{{$ctrl.description.updatedCount}}">card.description.update.counts</span>
                    -
                    <span data-translate>card.description.updated.by</span>
                    <span class="lvg-card-description__updated_user" data-lvg-user-tooltip="$ctrl.description.updateUser"></span>
                    <span data-translate>common.on</span>
                    <span class="lvg-card-description__updated_date" data-ng-bind="$ctrl.description.updateDate | dateIncremental"></span>
                </div>
                <div class="lvg-card-description__updated"
                     data-ng-show="!$ctrl.description.content">
                    <span data-translate>card.description.not.available</span>
                </div>
                <div class="lvg-card-description__edit-button">
                    <md-button ng-click="descriptionToEdit = $ctrl.description.content; editDescription = true;"
                               class="lvg-small-icon-button" data-lvg-has-permission="UPDATE_CARD">
                        <md-tooltip>{{'card.description.edit.tooltip' | translate}}</md-tooltip>
                        <md-icon md-svg-icon="edit"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
