<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title data-ng-bind="appCtrl.title"></title>
<base href="{{contextPath}}">
<!--  see ResourceController -->
<link rel="icon" type="image/png" href="/favicon/logo_small_16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon/logo_small_32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon/logo_small_48x48.png" sizes="48x48">
<link rel="stylesheet" href="css/all-{{version}}.css" type="text/css">
<script src="resource/app-{{version}}.js"></script>
<!--  -->
</head>
<body>
    <aside>
        <md-sidenav md-component-id="left" class="md-sidenav-left lvg-sidebar-container"><lvg-sidebar-content></lvg-sidebar-content></md-sidenav>
    </aside>
    <div class="lvg-main-content" role="main" data-ui-view></div>
	<lvg-notification></lvg-notification>
	{{#inlineTemplates}}{{.}}{{/inlineTemplates}}
</body>
</html>
