<!DOCTYPE html>
<html data-ng-app="lavagna">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://login.persona.org/include.js"></script>
<script>
navigator.id.watch({
	loggedInUser: null,
	onlogin: function() {}, 
	onlogout: function() {
		window.location = window.location.pathname.replace(/logout\/persona$/, '');
	}
});

</script>
</head>
<body>
<span id="logout" onclick="navigator.id.logout();">logout...</span>
<script>
//I was not able to trigger it correctly calling it programmatically...
document.getElementById("logout").click();
</script>
</body>
</html>