.lvg-card-action-lists__new-list-input {
    max-height: 30px;
    margin: 0;
}

.lvg-card-action-lists__new-list {
    padding: 0 0 0 10px;
}

.lvg-card-action-list__handle {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.sv-helper .lvg-card-action-list__handle {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
