<ul class="lvg-card-action-list__actionlists"
    sv-root="card-actionlists"
    sv-part="$ctrl.actionLists"
    sv-on-sort="$ctrl.sortActionLists($item, $partFrom, $partTo, $indexFrom, $indexTo)">
    <li class="lvg-card-action-list__actionlists-item"
        ng-repeat="actionList in $ctrl.actionLists | orderBy: 'order' track by actionList.id" sv-element>
        <lvg-card-action-list card="$ctrl.card"
                              action-list="actionList">
            <handle><md-icon class="lvg-card-action-list__handle" md-svg-icon="drag" sv-handle></md-icon></handle>
        </lvg-card-action-list>
    </li>
</ul>

<md-card class="lvg-card-action-lists__new">
    <md-card-actions class="lvg-card-action-lists__new-actions" data-lvg-has-permission="MANAGE_ACTION_LIST">
        <form data-ng-role="form"
              data-ng-submit="$ctrl.addActionList(newActionList);">
            <div layout="row">
                <div flex>
                    <md-input-container md-no-float class="lvg-input-container__inline">
                        <input ng-model="newActionList.name" placeholder="{{'card.action.lists.placeholder.list'|translate}}">
                    </md-input-container>
                </div>
                <div flex="nogrow">
                    <md-button md-no-ink class="md-primary" type="submit" ng-disabled="!newActionList.name">
                        <span data-translate>button.add</span>
                    </md-button>
                </div>
            </div>
        </form>
    </md-card-actions>
</md-card>


