<form role="form" ng-submit="" name="addNewIntegrationForm">
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title" translate>admin.integrations.add</h2>


        <md-input-container class="md-block">
            <label>Select an integration:</label>
            <md-select ng-model="addNewIntegrationCtrl.selectedIntegration"></md-select>
        </md-input-container>


        Or create a new one:

        <md-input-container class="md-block">
            <label>Name</label>
            <input ng-model="addNewIntegrationCtrl.customIntegration.name">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="addNewIntegrationCtrl.customIntegration.metadata.description"></textarea>
        </md-input-container>

        <h3>Parameters</h3>
        <div ng-repeat="param in addNewIntegrationCtrl.customIntegration.metadata.parameters" ng-switch="param.type">
            <md-select ng-model="param.type">
                <md-option ng-value="'input'">input</md-option>
                <md-option ng-value="'textarea'">textarea</md-option>
            </md-select>
            <md-input-container>
                <label>Parameter label</label>
                <input ng-model="param.label">
            </md-input-container>
            <md-input-container>
                <label>Parameter key</label>
                <input ng-model="param.key">
            </md-input-container>
            <md-input-container ng-switch-when="textarea">
                <label>Parameter value</label>
                <textarea ng-model="param.value"></textarea>
            </md-input-container>
            <md-input-container ng-switch-when="input">
                <label>Parameter value</label>
                <input ng-model="param.value">
            </md-input-container>
            <md-button ng-click="addNewIntegrationCtrl.removeParameter(param)">Remove</md-button>
        </div>

        <md-button ng-click="addNewIntegrationCtrl.addParameter()">Add new parameter</md-button>

        <md-input-container class="md-block">
            <label>Script</label>
            <textarea ng-model="addNewIntegrationCtrl.customIntegration.code"></textarea>
        </md-input-container>

        <md-button ng-click="addNewIntegrationCtrl.cancel()">Cancel</md-button>
        <md-button ng-click="addNewIntegrationCtrl.create()">Create</md-button>

    </md-dialog-content>
</form>
