<div class="lvg-content">

    <h2 class="md-title" translate>admin.integrations</h2>

    <div ng-repeat="integration in $ctrl.integrations">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div class="row row-inherit">
                        <div class="lvg-headline" ng-bind="integration.name"></div>
                        <span class="flex"></span>
                        <md-button class="lvg-small-icon-button" ng-if="integration.enabled" ng-click="$ctrl.enable(integration, !integration.enabled)" >
                            <md-tooltip>{{::('admin.integrations.disable' | translate)}}</md-tooltip>
                            <md-icon md-svg-icon="sync_disabled"></md-icon>
                        </md-button>
                        <md-button class="lvg-small-icon-button" ng-if="!integration.enabled" ng-click="$ctrl.enable(integration, !integration.enabled)">
                            <md-tooltip>{{::('admin.integrations.enable' | translate)}}</md-tooltip>
                            <md-icon md-svg-icon="sync"></md-icon>
                        </md-button>
                        <md-button class="lvg-small-icon-button" ng-click="$ctrl.editDialog(integration, $event)">
                            <md-tooltip>{{::('button.edit' | translate)}}</md-tooltip>
                            <md-icon md-svg-icon="edit"></md-icon>
                        </md-button>
                        <md-button class="lvg-small-icon-button" ng-click="$ctrl.deleteDialog(integration, $event)">
                            <md-tooltip>{{::('button.delete' | translate)}}</md-tooltip>
                            <md-icon md-svg-icon="delete"></md-icon>
                        </md-button>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div><span ng-bind="integration.metadata.description"></span></div>
            </md-card-content>
        </md-card>
    </div>
</div>


<md-button class="md-fab md-primary lvg-fab-bottom-right" ng-click="$ctrl.addNewIntegrationDialog($event)"
           aria-label="{{'admin.integrations.add' | translate}}">
    <md-tooltip md-direction="top">{{'admin.integrations.add' | translate}}</md-tooltip>
    <md-icon md-svg-icon="add"></md-icon>
</md-button>
