<form name="checkLdapForm" ng-submit="checkLdapConfiguration(ldap, checkLdap)">
	<md-dialog-content class="md-dialog-content">
        <h2 class="md-title" translate>partials.admin.configure-login.ldap.checkConfiguration</h2>
        
        <md-input-container class="md-block">
            <label data-translate>partials.admin.configure-login.ldap.username</label>
            <input type="text" ng-model="checkLdap.username" required>
        </md-input-container>
        
        <md-input-container class="md-block">
            <label translate>partials.admin.configure-login.ldap.password</label> 
            <input type="password" ng-model="checkLdap.password" id="checkLdap.password" required>
        </md-input-container>
        
	    
        <div ng-if="ldapCheckResult">
            <span ng-if="ldapCheckResult.first" translate>partials.admin.configure-login.ldap.allOk</span>
            <span ng-if="!ldapCheckResult.first" translate>partials.admin.configure-login.ldap.error</span>
            <ul>
                <li ng-repeat="msg in ldapCheckResult.second">{{msg}}</li>
            </ul>
        </div>
	    
	</md-dialog-content>
		
	<md-dialog-actions>
	    <md-button ng-click="close()"><span translate>button.cancel</span></md-button>
	    <md-button type="submit" ng-disabled="!checkLdapForm.$valid"><span translate>partials.admin.configure-login.ldap.check</span></md-button>
	</md-dialog-actions>
</form>