<md-card>
    <md-card-title>
        <md-card-title-text>
            <div layout="row" data-ng-hide="editListName">
                <span ng-transclude="handle" data-lvg-has-permission="MANAGE_ACTION_LIST"></span>
                <div class="lvg-headline"><span data-translate>{{$ctrl.actionList.content}}</span></div>
                <span flex></span>
                <md-button data-lvg-has-permission="MANAGE_ACTION_LIST"
                           class="lvg-small-icon-button"
                           ng-click="newListName = $ctrl.actionList.content; editListName = true;">
                    <md-tooltip>{{'card.action.list.tooltip.edit.name' | translate}}</md-tooltip>
                    <md-icon md-svg-icon="edit"></md-icon>
                </md-button>
                <md-button data-lvg-has-permission="MANAGE_ACTION_LIST" class="lvg-small-icon-button" ng-click="$ctrl.deleteList()">
                    <md-tooltip>{{'card.action.list.tooltip.delete.list' | translate}}</md-tooltip>
                    <md-icon md-svg-icon="delete"></md-icon>
                </md-button>
            </div>
            <form data-ng-submit="$ctrl.saveName(newListName); editListName=false">
                <div data-ng-show="editListName" layout="row" layout-wrap>
                    <div flex>
                        <md-input-container md-no-float class="lvg-input-container__inline">
                            <input ng-model="newListName">
                        </md-input-container>
                    </div>
                    <div flex="nogrow">
                        <md-button type="submit" class="lvg-small-icon-button">
                            <md-icon md-svg-icon="ok"></md-icon>
                        </md-button>
                    </div>
                    <div flex="nogrow">
                        <md-button class="lvg-small-icon-button" data-ng-click="editListName=false">
                            <md-icon md-svg-icon="close"></md-icon>
                        </md-button>
                    </div>
                </div>
            </form>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-list sv-root="card-actionitems"
                 sv-part="$ctrl.actionList.items"
                 sv-on-sort="$ctrl.sortActions($item, $partFrom, $partTo, $indexFrom, $indexTo)">
            <md-list-item md-no-ink class="lvg-card-action-list__item" data-ng-repeat="item in $ctrl.actionList.items | orderBy:'order' track by item.id" sv-element>
                <md-icon data-ng-hide="editName" class="lvg-svg-icon-small lvg-card-action-list__handle" data-lvg-has-permission="MANAGE_ACTION_LIST" md-svg-icon="drag" sv-handle></md-icon>
                <md-checkbox data-lvg-has-permission="MANAGE_ACTION_LIST"
                             ng-disabled="editName"
                             data-ng-hide="editName"
                             ng-model="item.type"
                             ng-change="$ctrl.toggleAction(item)"
                             ng-true-value="'ACTION_CHECKED'"
                             ng-false-value="'ACTION_UNCHECKED'">
                </md-checkbox>
                <p flex data-ng-hide="editName">{{ item.content }}</p>
                <md-button class="lvg-small-icon-button" data-lvg-has-permission="MANAGE_ACTION_LIST" data-ng-hide="editName" ng-click="editName = true">
                    <md-tooltip>{{'card.action.list.tooltip.edit.item' | translate}}</md-tooltip>
                    <md-icon md-svg-icon="edit"></md-icon>
                </md-button>
                <md-button class="lvg-small-icon-button" data-lvg-has-permission="MANAGE_ACTION_LIST" data-ng-hide="editName" ng-click="$ctrl.deleteAction(item);">
                    <md-tooltip>{{'card.action.list.tooltip.delete.item' | translate}}</md-tooltip>
                    <md-icon md-svg-icon="delete"></md-icon>
                </md-button>
                <form layout="row" data-ng-show="editName" data-ng-submit="$ctrl.saveAction(item.id, item.content); editName = false">
                    <div flex>
                        <md-input-container md-no-float class="lvg-input-container__inline">
                            <input ng-model="item.content">
                        </md-input-container>
                    </div>
                    <div flex="nogrow">
                        <md-button class="lvg-small-icon-button" type="submit" ng-disabled="!item.content">
                            <md-icon md-svg-icon="ok"></md-icon>
                        </md-button>
                    </div>
                    <div flex="nogrow">
                        <md-button class="lvg-small-icon-button" ng-click="editName = false">
                            <md-icon md-svg-icon="close"></md-icon>
                        </md-button>
                    </div>
                </form>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions data-lvg-has-permission="MANAGE_ACTION_LIST" class="lvg-card-action-list__actions">
        <form data-ng-submit="$ctrl.addAction(newAction)">
            <div layout="row" layout-wrap>
                <div flex>
                    <md-input-container md-no-float class="lvg-input-container__inline">
                        <input ng-model="newAction.name" placeholder="{{'card.action.list.placeholder.item'|translate}}">
                    </md-input-container>
                </div>
                <div flex="nogrow">
                    <md-button md-no-ink class="md-primary" type="submit" ng-disabled="!newAction.name">
                        <span data-translate>button.add</span>
                    </md-button>
                </div>
            </div>
        </form>

    </md-card-actions>
</md-card>
