<md-card>
    <md-card-title>
        <div class="row row-inherit start-xs middle-xs flex-width lvg-card-action-list__title" data-ng-if="!$ctrl.actionList.edit">
            <div class="lvg-card-action-list__handle" ng-transclude="handle" data-lvg-has-permission="MANAGE_ACTION_LIST"></div>
            <div class="flex overflow-ellipsis lvg-headline">{{$ctrl.actionList.content}}</div>
            <div class="lvg-card-action-list__controls">
                <md-button data-lvg-has-permission="MANAGE_ACTION_LIST"
                           class="lvg-small-icon-button"
                           ng-click="$ctrl.actionList.editName = $ctrl.actionList.content; $ctrl.actionList.edit = true;">
                    <md-tooltip><span translate>card.action.list.tooltip.edit.name</span></md-tooltip>
                    <md-icon md-svg-icon="edit"></md-icon>
                </md-button>
                <md-button data-lvg-has-permission="MANAGE_ACTION_LIST" class="lvg-small-icon-button" ng-click="$ctrl.deleteList()">
                    <md-tooltip><span translate>card.action.list.tooltip.delete.list</span></md-tooltip>
                    <md-icon md-svg-icon="delete"></md-icon>
                </md-button>
            </div>
        </div>
        <form ng-if="$ctrl.actionList.edit"
              data-ng-submit="$ctrl.saveName($ctrl.actionList.editName); $ctrl.actionList.edit = false"
              class="row row-inherit start-xs middle-xs flex-width">
            <div class="flex">
                <md-input-container md-no-float class="lvg-input-container__inline">
                    <input ng-model="$ctrl.actionList.editName" required>
                </md-input-container>
            </div>
            <div class="lvg-card-action-list__controls">
                <md-button type="submit" class="lvg-small-icon-button">
                    <md-icon md-svg-icon="ok"></md-icon>
                </md-button>
                <md-button class="lvg-small-icon-button" data-ng-click="$ctrl.actionList.edit = false">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </form>
    </md-card-title>
    <md-card-content>
        <div lvg-dnd="$ctrl.actionList.items"
             lvg-dnd-drop="$ctrl.dropActionList($index, $oldIndex)"
             lvg-dnd-dragstart="$ctrl.dragStartActionList($item)"
             lvg-dnd-opts="{group: 'actionlist', animation: 150, handle: '.lvg-card-action-list__item-handle'}"
             class="lvg-card-action-list__container">
            <div class="lvg-card-action-list__item"
                 data-ng-repeat="item in $ctrl.actionList.items | orderBy:'order' track by item.id + item.content">
                <div ng-if="!item.edit" class="row row-inherit start-xs top-xs">
                    <div class="lvg-card-action-list__item-handle lvg-icon-18 lvg-icon__drag-handle"
                         data-lvg-has-permission="MANAGE_ACTION_LIST"></div>
                    <md-checkbox class="lvg-card-action-list__item-checkbox"
                                 ng-model="item.type"
                                 ng-disabled="!$ctrl.canModify"
                                 ng-change="$ctrl.toggleAction(item)"
                                 ng-true-value="'ACTION_CHECKED'"
                                 ng-false-value="'ACTION_UNCHECKED'">
                    </md-checkbox>
                    <div class="lvg-card-action-list__item-text flex">{{::item.content}}</div>
                    <div class="lvg-card-action-list__item-controls">
                        <md-button class="lvg-small-icon-button flex flex-no-grow" data-lvg-has-permission="MANAGE_ACTION_LIST" ng-click="item.edit = true">
                            <md-tooltip><span translate>card.action.list.tooltip.edit.item</span></md-tooltip>
                            <div class="lvg-icon-18 lvg-icon__edit"></div>
                        </md-button>
                        <md-button class="lvg-small-icon-button" data-lvg-has-permission="MANAGE_ACTION_LIST" ng-click="$ctrl.deleteAction(item);">
                            <md-tooltip><span translate>card.action.list.tooltip.delete.item</span></md-tooltip>
                            <div class="lvg-icon-18 lvg-icon__delete"></div>
                        </md-button>
                    </div>
                </div>
                <form class="row row-inherit start-xs middle-xs" ng-if="item.edit" data-ng-submit="$ctrl.saveAction(item.id, content); item.edit = false">
                    <div class="flex">
                        <md-input-container md-no-float class="lvg-input-container__inline">
                            <input ng-init="content = item.content" ng-model="content" required lvg-on-esc="item.edit = false;">
                        </md-input-container>
                    </div>
                    <div class="flex no-grow">
                        <md-button class="lvg-small-icon-button" type="submit">
                            <md-icon md-svg-icon="ok"></md-icon>
                        </md-button>
                    </div>
                    <div class="flex no-grow">
                        <md-button class="lvg-small-icon-button" ng-click="item.edit = false">
                            <md-icon md-svg-icon="close"></md-icon>
                        </md-button>
                    </div>
                </form>
            </div>
        </div>
    </md-card-content>
    <md-card-actions data-lvg-has-permission="MANAGE_ACTION_LIST" class="lvg-card-action-list__actions">
        <form data-ng-submit="$ctrl.addAction(newAction)">
            <div class="row margin-8">
                <div class="flex">
                    <md-input-container md-no-float class="lvg-input-container__inline">
                        <input ng-model="newAction.name" placeholder="{{::('card.action.list.placeholder.item'|translate)}}">
                    </md-input-container>
                </div>
                <div class="flex no-grow">
                    <md-button md-no-ink class="md-primary" type="submit" ng-disabled="!newAction.name">
                        <span data-translate>button.add</span>
                    </md-button>
                </div>
            </div>
        </form>
    </md-card-actions>
</md-card>
