<form role="form" data-ng-submit="importDialogCtrl.file.upload()">
   <md-dialog-content class="md-dialog-content">
        <h2 class="md-title" translate>admin.users.import-users.title</h2>
		<span ng-if="importDialogCtrl.file">{{importDialogCtrl.file.file.name}}</span>
		<input type="file" name="file" id="file" class="lvg-input-file__input" nv-file-select uploader="importDialogCtrl.uploader"/>
		<label class="lvg-input-file__label md-button md-primary" for="file" md-autofocus>
		    <span translate>button.fileSelect</span>
		</label>

	</md-dialog-content>
	<md-dialog-actions>
	  <md-button ng-click="importDialogCtrl.file = null;importDialogCtrl.close()"><span translate>button.cancel</span></md-button>
	  <md-button type="submit" ng-disabled="!importDialogCtrl.file"><span translate>button.import</span></md-button>
	</md-dialog-actions>
</form>
