<form role="form"
      ng-submit="resetPasswordDialogCtrl.reset(resetPasswordDialogCtrl.password, resetPasswordDialogCtrl.confirmPassword);"
      name="resetPasswordForm">
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title" translate translate-values="{
            username: resetPasswordDialogCtrl.userToEdit.username
        }">admin.users.dialog.reset.password.title</h2>

        <md-input-container class="md-block">
            <label translate>label.password</label>
            <input type="password"
                   required
                   ng-model="resetPasswordDialogCtrl.password">
        </md-input-container>

        <md-input-container class="md-block">
            <label translate>label.password.confirm</label>
            <input type="password"
                   required
                   ng-model="resetPasswordDialogCtrl.confirmPassword"
                   lvg-match="resetPasswordDialogCtrl.password">
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button type="button" ng-click="resetPasswordDialogCtrl.cancel()"><span translate>button.cancel</span></md-button>
        <md-button type="submit" ng-disabled="!resetPasswordForm.$valid"><span translate>button.save</span></md-button>
    </md-dialog-actions>
</form>
