<md-toolbar>
	<div class="md-toolbar-tools">
        <h2 translate translate-values="{
            provider: user.provider,
            username: user.username
        }">admin.users.dialog.roles.title</h2>
        <span class="flex"></span>
        <md-button class="md-icon-button" ng-click="close()">
            <md-icon md-svg-icon="close"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content class="md-dialog-content admin-users-permissions-modal__content">

    <md-card ng-if="rolesByProject.globalRoles.length > 0">
        <md-card-title>
            <md-card-title-text>
                <div class="lvg-headline" translate>admin.users.global</div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p ng-repeat="role in rolesByProject.globalRoles">{{role}}</p>
        </md-card-content>
    </md-card>

    <md-card ng-repeat="(name, roles) in rolesByProject.rolesByProject">
        <md-card-title>
            <md-card-title-text>
                <div class="lvg-headline"><span translate>admin.users.project</span> {{name}}</div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p ng-repeat="role in roles">{{role}}</p>
        </md-card-content>
    </md-card>

</md-dialog-content>
<md-dialog-actions class="admin-users-permissions-modal__content">
	<md-button ng-click="close()"><span translate>button.close</span></md-button>
</md-dialog-actions>
