
<div class="lavagna-form-panel">
    <div class="search-bar" data-ng-init="$ctrl.view.username">
        <div class="search-user-form inner-addon left-inner-addon">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="{{'partials.fragments.common-manage-roles.searchUsername' | translate}}" class="form-control" data-ng-model="$ctrl.view.username"
                   lvg-user-list="$ctrl.view.userList" lvg-user-list-local-model="$ctrl.users"/>
        </div>
    </div>
</div>


<div class="col-md-12 col-xs-12">
    <div class="lavagna-panel">
        <div class="body-full">
            <table class="table table-striped table-bordered lvg-table">
                <thead>
                <tr>
                    <th data-translate class="lvg-users-medium-col">partials.admin.manage-users.provider</th>
                    <th data-translate>partials.admin.manage-users.username</th>
                    <th data-translate>partials.admin.manage-users.email</th>
                    <th data-translate>partials.admin.manage-users.displayName</th>
                    <th data-translate class="lvg-users-small-col">partials.admin.manage-users.roles</th>
                    <th data-translate class="lvg-users-small-col">partials.admin.manage-users.enabled</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="u in $ctrl.users | usersInList:$ctrl.view.userList">
                    <td data-ng-bind="u.provider"></td>
                    <td>
                        <a class="lvg-user-link-placeholder" ui-sref="user.dashboard({provider: u.provider, username: u.username})" data-ng-bind="u.username"></a>
                    </td>
                    <td data-ng-bind="u.email"></td>
                    <td data-ng-bind="u.displayName"></td>
                    <td class="text-align-center">
                        <span class="fa fa-info-circle"
                              data-ng-if="u.provider !== 'system'"
                              data-ng-click="$ctrl.showUserPermissions(u)"></span></td>
                    <td class="text-align-center"><input data-ng-show="u.id != $ctrl.currentUser.id"
                               type="checkbox" data-ng-model="u.enabled"
                               data-ng-change="$ctrl.updateUserStatus(u.id, u.enabled)"> <input
                        data-ng-show="u.id == $ctrl.currentUser.id" type="checkbox"
                        data-ng-model="u.enabled" disabled="disabled"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- ng-cloak required as speed dial use -->
<div ng-cloak>
	<md-fab-speed-dial class="lvg-fab-bottom-right md-scale" md-direction="up" md-open="$ctrl.isOpen">
	    <md-fab-trigger>
	        <md-button class="md-fab md-primary">
	            <md-icon md-svg-icon="add"></md-icon>
	        </md-button>
	    </md-fab-trigger>
	    <md-fab-actions>
	        <md-button class="md-fab md-mini md-raised" ng-click="$ctrl.showAddUserDialog($event)">
	            <md-icon md-svg-icon="person_add_black"></md-icon>
	            <md-tooltip md-direction="left">{{'partials.admin.manage-users.addUser' | translate}}</md-tooltip>
	        </md-button>
	        <md-button class="md-fab md-mini md-raised" ng-click="$ctrl.showImportDialog($event)">
	            <md-icon md-svg-icon="group_add_black"></md-icon>
	            <md-tooltip md-direction="left">{{'partials.admin.manage-users.import' | translate}}</md-tooltip>
	        </md-button>
	    </md-fab-actions>
	</md-fab-speed-dial>
</div>