<form name="dialogSelectMilestone" data-ng-submit="$ctrl.ok(milestone)" class="lvg-dialog__form">
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title">{{$ctrl.dialogTitle}}</h2>
			<md-select ng-model="milestone" required>
	          <md-option ng-value="m" ng-repeat="m in $ctrl.milestones">
	            {{m.value}}
	          </md-option>
	        </md-select>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="$ctrl.cancel()"><span translate>button.cancel</span></md-button>
		<md-button type="submit" ng-disabled="!dialogSelectMilestone.$valid"><span translate>button.submit</span></md-button>
	</md-dialog-actions>
</form>