<div layout="row" flex="100" data-ng-switch="$ctrl.label.type">
	<div data-ng-switch-when="NULL" flex></div>
	<div data-ng-switch-when="STRING" flex>
        <md-input-container>
            <input type="text" placeholder="{{'partials.fragments.label-pickers.value'|translate}}" data-ng-model="$ctrl.model" data-lvg-on-esc required>
        </md-input-container>
    </div>
	<div data-ng-switch-when="INT">
        <md-input-container>
            <input type="number" placeholder="{{'partials.fragments.label-pickers.value'|translate}}" data-ng-model="$ctrl.model" data-lvg-on-esc required>
        </md-input-container>
    </div>
	<div data-ng-switch-when="TIMESTAMP">
        <md-datepicker ng-model="$ctrl.model" required></md-datepicker>
    </div>
	<div data-ng-switch-when="CARD" flex>
	   <!-- data-lvg-on-esc -->
        <md-input-container>
           <md-autocomplete
               required
               md-floating-label="{{'partials.fragments.label-pickers.card'|translate}}"
               md-no-cache="true"
               md-selected-item="$ctrl.model"
               md-search-text="cardSearchText"
               md-item-text="card.label"
               md-items="card in $ctrl.searchCard(cardSearchText)">
               <md-item-template>{{card.label}}</md-item-template>
            </md-autocomplete>
        </md-input-container>
    </div>
	<div data-ng-switch-when="USER" flex>
        <md-input-container>
           <md-autocomplete
               required
               md-floating-label="{{'partials.fragments.label-pickers.user'|translate}}"
               md-no-cache="true"
               md-selected-item="$ctrl.model"
               md-search-text="userSearchText"
               md-item-text="user.label"
               md-items="user in $ctrl.searchUser(userSearchText)">
               <md-item-template>{{user.label}}</md-item-template>
           </md-autocomplete>
        </md-input-container>
    </div>
	<div data-ng-switch-when="LIST" flex>
        <md-input-container>
            <md-select ng-model="$ctrl.model">
                <md-option ng-value="item" ng-repeat="item in $ctrl.listValues">
                    {{item.value}}
                </md-option>
            </md-select>
        </md-input-container>
	</div>
</div>
