<div layout="column" layout-gt-sm="row">
    <div flex="66">
        <lvg-card-description card="$ctrl.card" project="$ctrl.project" label-values="$ctrl.labelValues"></lvg-card-description>

        <lvg-card-files card="$ctrl.card" user="$ctrl.user"></lvg-card-files>

        <lvg-card-activity card="$ctrl.card" user="$ctrl.user"></lvg-card-activity>
    </div>
    <div flex="33">
        <lvg-card-metadata  card="$ctrl.card" board="$ctrl.board"
                            project="$ctrl.project" user="$ctrl.user"
                            milestones="$ctrl.milestones" due-dates="$ctrl.dueDates"></lvg-card-metadata>

        <lvg-card-people card="$ctrl.card" project="$ctrl.project" user="$ctrl.user"
                         assigned-users="$ctrl.assignedUsers" watching-users="$ctrl.watchingUsers"></lvg-card-people>

        <lvg-card-action-lists card="$ctrl.card"></lvg-card-action-lists>
    </div>
</div>
