<md-toolbar>
    <div class="md-toolbar-tools">
        <button class="md-icon-button md-button md-ink-ripple">
            <md-icon md-font-icon="fa-bars" class="fa" data-ng-click="$ctrl.toggleSidebar()"></md-icon>
        </button>
        <h2>
            <span class="lvg-navbar-breadcrumb-text" data-ng-if="!$ctrl.project" data-translate>partials.search.title</span>
            <span class="lvg-navbar-breadcrumb-text" data-ng-if="$ctrl.project" data-translate>partials.search.title.project</span>
            <span class="lvg-navbar-breadcrumb-text" data-ng-if="$ctrl.project"> {{::$ctrl.project.shortName}}</span></span>
        </h2>
        <span flex class="flex"></span>
        <!-- <lvg-search-input data-lvg-has-permission="SEARCH"></lvg-search-input> -->
        <button class="md-icon-button md-button md-ink-ripple" data-lvg-is-authenticated><md-icon md-font-icon="fa-user" class="fa"></md-icon></button>
        <button class="md-raised md-primary md-button md-ink-ripple" data-lvg-is-not-authenticated data-ng-click="$event.preventaDefault(); $ctrl.login()"><span data-translate>index.navbar.login</span></button>
    </div>
</md-toolbar>