<h1 class="md-title">Setup Lavagna, step 3/4: insert admin user</h1>
<md-content md-whiteframe="1" class="lvg-login__margin-bottom">
    <form name="userForm" ng-submit="$ctrl.saveUser()">
        <div class="lvg-login__padding">
            <p ng-if="$ctrl.authMethod == 'PASSWORD'">Password protected account: insert username and password.</p>
	        <p ng-if="$ctrl.authMethod == 'DEMO'">Demo account: the password will be equal to the username. Use only for demo purpose.</p>
	        <p ng-if="$ctrl.authMethod == 'LDAP'">Ldap account. Insert username.</p>
	        <p ng-if="$ctrl.authMethod == 'OAUTH'">Oauth: insert username for gitlab/github/bitbucket/twitter. Insert email in case of google.</p>
	        <md-input-container class="md-block">
		        <label>Login provider</label>
		        <md-select ng-model="$ctrl.accountProvider" required>
		            <md-option ng-repeat="provider in $ctrl.loginType" ng-value="provider">{{::provider}}</md-option>
		        </md-select>
	        </md-input-container>
	       <md-input-container class="md-block">
	            <label>Username</label>
	            <input ng-model="$ctrl.username" required>
	        </md-input-container>
            <md-input-container class="md-block" ng-if="$ctrl.authMethod === 'PASSWORD'">
                <label>Password</label>
                <input ng-model="$ctrl.password" required type="password">
            </md-input-container>
            <md-input-container class="md-block" ng-if="$ctrl.authMethod === 'PASSWORD'">
                <label>Confirm Password</label>
                <input ng-model="$ctrl.confirmPassword"
                       required
                       type="password"
                       lvg-match="$ctrl.password">
            </md-input-container>
		    <div>
		        <md-button type="button" ng-click="$ctrl.back('second-step')">Back</md-button>
		        <md-button type="submit" class="md-primary" ng-disabled="!userForm.$valid">Continue</md-button>
		    </div>
	    </div>
    </form>
</md-content>
