<md-card >
    <md-card-title>
        <md-card-title-text>
            <div class="row row-inherit">
                <div class="lvg-headline"><span data-translate>card.activity</span></div>
                <span class="flex"></span>
                <md-radio-group class="lvg-card-activity__filter" ng-model="$ctrl.activityFilterValue">
                    <md-radio-button class="lvg-card-activity__filter-radio md-primary" ng-value="'COMMENT'" ng-checked="true">{{'card.activity.comments' | translate}}</md-radio-button>
                    <md-radio-button class="lvg-card-activity__filter-radio md-primary" ng-value="null">{{'card.activity.all' | translate}}</md-radio-button>
                </md-radio-group>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div ng-repeat="activity in $ctrl.activities | filter:$ctrl.activityFilter | orderBy:'+id' track by activity.id + '-' + activity.cardEvent" class="lvg-card-activity">
            <div ng-switch="::activity.cardEvent">
                <div ng-switch-when="COMMENT">
                    <lvg-card-activity-comment comment="$ctrl.comments[activity.dataId]"></lvg-card-activity-comment>
                </div>
                <div ng-switch-default>
                    <lvg-activity event="activity" project="$ctrl.project">
                        <div class="flex no grow">
                            <lvg-user-link class="lvg-card-activity__user" user-id="activity.userId"></lvg-user-link>
                            <span class="lvg-card-activity__time">{{ activity.time | dateIncremental }}</span>
                        </div>
                        <div class="flex"></div>
                    </lvg-activity>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.activityFilterValue == 'COMMENT' && !$ctrl.hasComments" class="lvg-card-activity">
            <i class="lvg-card-activity__no-comments" translate="card.activity.no.comments"></i>
        </div>
    </md-card-content>
    <md-card-actions class="lvg-card-activity__actions" data-lvg-has-permission="CREATE_CARD_COMMENT">
        <form data-ng-submit="$ctrl.addComment(comment);commentPreviewMode=false;">
            <div data-ng-hide="commentPreviewMode">
                <textarea class="lvg-card-activity__actions-textarea"
                          ng-model="comment.content" rows="5" md-select-on-focus></textarea>
            </div>
            <div data-ng-show="commentPreviewMode"
                 data-ng-bind-html="commentPreview.content | markdown"></div>
            <div class="lvg-card-activity__actions-button-row">
                <md-button class="md-primary" type="submit">
                    <span data-translate>button.add</span>
                </md-button>
                <md-button data-ng-hide="commentPreviewMode"
                           data-ng-click="commentPreview = comment; commentPreviewMode = true" type="button">
                    <span data-translate>button.preview</span>
                </md-button>
                <md-button data-ng-show="commentPreviewMode"
                           data-ng-click="commentPreviewMode = false" type="button">
                    <span data-translate>button.closePreview</span>
                </md-button>
            </div>
        </form>
    </md-card-actions>
</md-card>
