<md-card>
    <md-card-title>
        <md-card-title-text>
            <div class="row row-inherit">
                <div class="lvg-headline"><span data-translate>card.activity</span></div>
                <span class="flex"></span>
                <md-input-container class="lvg-card-activity__filter">
                    <md-select ng-model="$ctrl.activityFilterValue" ng-change="$ctrl.resetVisibleCount()">
                        <md-option ng-value="'COMMENT'"><span translate>card.activity.comments</span></md-option>
                        <md-option ng-value="undefined"><span translate>card.activity.all</span></md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div ng-if="$ctrl.activityFilterValue === 'COMMENT' && !$ctrl.hasComments" class="lvg-card-activity">
            <i class="lvg-card-activity__no-comments" translate="card.activity.no.comments"></i>
        </div>
        <div ng-if="$ctrl.hasMore()"
             class="row row-inherit lvg-card-activity__load-more">
            <div class="flex no-grow">
                <span ng-if="$ctrl.activityFilterValue === 'COMMENT'">
                    <span translate="card.activity.display.comments"
                          translate-values="{current: $ctrl.renderedItems, hidden: ($ctrl.numberOfComments - $ctrl.renderedItems)}"></span>
                </span>
                <span ng-if="$ctrl.activityFilterValue === undefined">
                    <span translate="card.activity.display.activities"
                          translate-values="{current: $ctrl.renderedItems, hidden: ($ctrl.numberOfActivities - $ctrl.renderedItems)}"></span>
                </span>
            </div>
            <div class="flex"></div>
            <div class="flex no-grow">
                <md-button ng-click="$ctrl.loadMore()">{{::('button.load.more' | translate)}}</md-button>
            </div>
        </div>
        <div ng-repeat="activity in $ctrl.activities | filter:$ctrl.activityFilter | orderBy:'time':$ctrl.sortDescending | limitTo:($ctrl.renderedItems * -1) track by activity.id + '-' + activity.cardEvent" class="lvg-card-activity">
            <div ng-switch="::activity.cardEvent" >
                <div ng-switch-when="COMMENT">
                    <lvg-card-activity-comment comment="$ctrl.comments[activity.dataId]"></lvg-card-activity-comment>
                </div>
                <div ng-switch-default>
                    <lvg-activity event="activity" event-type="{{::activity.cardEvent}}">
                        <div class="flex no grow">
                            <lvg-user-link class="lvg-card-activity__user" user-id="activity.userId"></lvg-user-link>
                            <span class="lvg-card-activity__time">{{ activity.time | dateIncremental }}</span>
                        </div>
                        <div class="flex"></div>
                    </lvg-activity>
                </div>
            </div>
        </div>
    </md-card-content>
    <md-card-actions class="lvg-card-activity__actions" data-lvg-has-permission="CREATE_CARD_COMMENT">
        <form data-ng-submit="$ctrl.addComment(comment);commentPreviewMode=false;">
            <div data-ng-hide="commentPreviewMode">
                <md-input-container class="md-block">
                    <label translate>card.activity.new.comment</label>
                    <textarea class="lvg-card-activity__actions-textarea"
                              ng-model="comment.content" rows="1" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div data-ng-show="commentPreviewMode"
                 data-ng-bind-html="commentPreview.content | markdown"></div>
            <div class="lvg-card-activity__actions-button-row">
                <md-button class="md-primary" type="submit">
                    <span data-translate>button.add</span>
                </md-button>
                <md-button data-ng-hide="!comment.content || comment.content.length === 0 || commentPreviewMode"
                           data-ng-click="commentPreview = comment; commentPreviewMode = true" type="button">
                    <span data-translate>button.preview</span>
                </md-button>
                <md-button data-ng-show="commentPreviewMode"
                           data-ng-click="commentPreviewMode = false" type="button">
                    <span data-translate>button.closePreview</span>
                </md-button>
            </div>
        </form>
    </md-card-actions>
</md-card>
