<lvg-navbar data-navbar-type="about"><span data-translate>partials.about.title</span></lvg-navbar>

<div class="container lavagna-container-top-margin">
	<div id="license" data-ng-if="showLicense">
		<div class="lavagna-panel">
			<div class="head clearfix headonly">
				<div class="title title-bold"><span data-translate>partials.about.lavagna-version</span><span data-translate>build.version</span></div>
			</div>
			<div class="body separated text-align-center">
				<div class="inline-block">
					<pre data-ng-bind="license" class="inline-block text-align-left"></pre>
				</div>
			</div>
		</div>
	</div>
	
	<div id="third-party" data-ng-if="!showLicense">
		<div class="lavagna-panel">
			<div class="body-full">
				<pre data-ng-bind="thirdParty"></pre>
			</div>
		</div>
	</div>
</div>