<lvg-navbar><span data-translate>partials.home.title</span></lvg-navbar>

<div class="container">
	<div class="row">
		<div class="col-md-3" data-lvg-is-not-authenticated></div>
		<div class="project-list col-md-6">
			<div data-lvg-has-permission="CREATE_PROJECT">
				<button type="button" class="lvg-button lvg-button-submit" data-ng-click="createNewProject = true;" data-ng-hide="createNewProject">
					<span class="fa fa-plus"></span>
					<span data-translate>partials.home.createNewProject</span>
				</button>
			
				<div class="lavagna-form-panel" data-ng-show="createNewProject" >
					<form data-ng-role="form" data-ng-submit="createProject(project)">
						<div class="form-group">
							<label for="name" data-translate>partials.home.newProjectForm.name</label> <input type="text" class="form-control" id="name" placeholder="" required="required" autocomplete="off"
								data-ng-model="project.name" data-ng-keyup="suggestProjectShortName(project)" maxlength="128">
						</div>
						<div class="form-group has-feedback" data-ng-class="{'has-error': checkedShortName === false}">
							<label for="name" data-translate>partials.home.newProjectForm.shortName</label> 
							<input type="text" class="form-control uppercase" id="name" placeholder="" required="required" autocomplete="off" data-ng-model="project.shortName" maxlength="8">
							<i class="fa form-control-feedback" data-ng-class="{'fa-times' : checkedShortName === false, 'fa-check' : checkedShortName === true}"></i>
						</div>
						<div class="form-group">
							<label for="description" data-translate>partials.home.newProjectForm.description</label>
							<textarea class="form-control" rows="3" id="description" data-ng-model="project.description"></textarea>
						</div>

						<button type="submit" class="lvg-button lvg-button-submit" data-ng-disabled="project.name == NULL || checkedShortName === undefined || checkedShortName === false">
							<span class="fa fa-plus"></span>
							<span data-translate>partials.home.newProjectForm.create</span>
						</button>
						<button type="button" class="lvg-button lvg-button-default" data-ng-click="project = null; createNewProject = false; checkedShortName=undefined;">
							<span data-translate>partials.home.newProjectForm.cancel</span>
						</button>
					</form>
				</div>
			</div>
			
			<ul class="lavagna-projects">
				<li class="lavagna-project lavagna-panel" data-ng-class="{archived : project.archived}" data-ng-repeat="project in currentProjects">
					<div class="body-full">
						<lvg-project-panel project="project"></lvg-project-panel>
					</div>
				</li>
			</ul>
			<div data-ng-if="totalProjects > projectsPerPage">
				<pagination  total-items="totalProjects" data-ng-model="projectPage" items-per-page="projectsPerPage" max-size="maxVisibleProjectPages" 
					class="pagination-sm" boundary-links="true" rotate="false" data-ng-change="switchProjectPage(projectPage)"></pagination>
			</div>
		</div>
		<div class="col-md-6" data-lvg-is-authenticated data-lvg-has-permission="SEARCH">
			<h2 class="card-home" data-translate>partials.home.openTask</h2>
			<ul data-ng-if="totalOpenCards > 0" class="lavagna-home-cards">
				<li class="lavagna-home-card" data-bindonce data-ng-repeat="card in userCards | filter : cardFilter track by card.hash">
					<lvg-card-fragment data-view="list" data-card="card"></lvg-card-fragment>
				</li>
			</ul>
			<span data-ng-if="totalOpenCards == 0" data-translate>partials.home.noTask</span>
			<div data-ng-if="totalOpenCards > cardsPerPage">
				<pagination total-items="totalOpenCards" data-ng-model="cardPage" items-per-page="cardsPerPage" max-size="maxVisibleCardPages" 
					class="pagination-sm" boundary-links="true" rotate="false" data-ng-change="fetchUserCardsPage(cardPage)"></pagination>
			</div>
		</div>
	</div>

</div>