<lvg-navbar data-navbar-type="search">
	<a ui-sref="home()"><span data-translate>partials.home.title</span></a><i class="fa fa-angle-right"></i>
	<span data-translate>partials.search.title</span>
	<span data-translate data-translate-value-count="{{count}}">partials.fragments.search-result-fragment.foundCount</span>
</lvg-navbar>

<lvg-search-result 
    count="count" 
    page="page" 
    move-to-page="moveToPage" 
    found="found" 
    project="project" 
    selected="selected" 
    card-fragment-dependencies="cardFragmentDependencies"></lvg-search-result>

<div data-ui-view data-autoscroll="false"></div>