<lvg-navbar data-navbar-type="user"><a ng-href="#"><span data-translate>partials.home.title</span></a><i class="fa fa-angle-right"></i>{{userNameProfile}} <span data-translate>partials.user.title.profile</span></lvg-navbar>

<div class="container auto-margin lavagna-container-top-margin">
	<div class="row">
		<div class="col-xs-12">
			<div class="lavagna-panel">
				<div class="head clearfix headonly">
					<div class="title"><strong data-translate>partials.user.generalInfo</strong></div>

				</div>
				<div class="body separated">
					<div>
						<p><strong data-translate>partials.user.provider</strong> {{profile.user.provider}} </p>
						<p><strong data-translate>partials.user.username</strong> {{profile.user.username}}</p>
						<p data-ng-if="profile.user.displayName != null"><strong data-translate>partials.user.displayName</strong> {{profile.user.displayName}}</p>
						<p><strong data-translate>partials.user.memberSince</strong> {{profile.user.memberSince | date: 'MMM d, y'}} </p>
					</div>
				</div>
			</div>


			<div class="lavagna-panel lvg-user-projects">
				<div class="head clearfix headonly">
					<div class="title">
						<strong data-translate>partials.user.mostActiveProjects</strong>
					</div>
				</div>
				<div class="body separated">
					<ul class="list-group">
						<li class="list-group-item" data-ng-repeat="ab in profile.activeProjects | limitTo: 5">
							<div class="lavagna-card-title-info">
								<span><a data-ng-href="#/{{ab.project.shortName}}/" data-ng-bind="ab.project.shortName +' - ' + ab.project.name"></a></span>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="lavagna-panel">
				<div class="head clearfix headonly">
					<div class="title">
						<strong data-translate>partials.user.latestActivity</strong>
					</div>
				</div>
				<div class="body separated">
					<div class="text-center">
						<div id="cal-heatmap" class="user-heathmap"></div>
					</div>
					<div class="row">
						<div class="col-md-12 lvg-user-activity-list-item" data-ng-repeat="dateKey in profile.eventsGroupedByDate.keyOrder">
							<div data-ng-init="showList = false" data-ng-click="showList = !showList">{{dateKey}} : {{profile.eventsGroupedByDate.groupedByDate[dateKey].length}} events
								<span class="pull-right">
									<i class="fa fa-chevron-down" data-ng-hide="showList"></i>
									<i class="fa fa-chevron-up" data-ng-show="showList"></i>
								</span>
							</div>

							<ul data-ng-show="showList" class="lvg-activity-list">
								<li data-ng-repeat="activity in profile.eventsGroupedByDate.groupedByDate[dateKey] | orderBy: '-time' track by activity.id" class="activity">
									<div class="header"><span class="date" data-ng-bind="activity.time | dateIncremental"></span>: <span data-lvg-card="activity.cardId"></span></div> <lvg-card-activity></lvg-card-activity>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>