<md-content md-whiteframe="1">
	<div>Setup Lavagna, step 1/4: set base url</div>
    <div>
        <form ng-submit="$ctrl.submitBaseUrl()">
            <md-input-container class="md-block">
                <label for="baseUrl">Base url</label>
                <input type="text" id="baseUrl" ng-model="$ctrl.baseUrl" required placeholder="{{$ctrl.baseUrlPlaceholder}}">
            </md-input-container>
                <p>The base url of the application. The proposed url is most likely correct.</p>
            <md-button type="submit">Next</md-button>
        </form>
        
        <div><span>Or</span></div>

        <p><strong>Import</strong></p>
        <form ng-submit="$ctrl.submitImport()">
            <div>
                <div>
                    <input type="file" name="file" id="import-lavagna">
                    <input type="submit" value="Import">
                </div>
            </div>
        </form>
    </div>
</md-content>