<div class="lvg-content">
    <lvg-project-manage-labels-label data-ng-repeat="(n,l) in $ctrl.userLabels | orderObjectBy:'name' track by l.name"
                                     project="$ctrl.project"
                                     label="l"
                                     class="lvg-content__row"></lvg-project-manage-labels-label>
</div>

<md-button class="md-fab md-primary lvg-fab-bottom-right" ng-click="$ctrl.showAddLabelDialog($event)">
    <md-tooltip md-direction="top">{{'project.manage.labels.dialog.create' | translate}}</md-tooltip>
    <md-icon md-svg-icon="add"></md-icon>
</md-button>
