<md-toolbar class="lvg-navbar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" data-ng-click="$ctrl.toggleSidebar()"><md-icon md-svg-icon="menu"></md-icon></md-button>
        <h2><a class="lvg-navbar-link" ui-sref="project.boards({projectName: $ctrl.project.shortName})">{{::$ctrl.project.shortName}}</a> / {{::$ctrl.board.shortName}}</h2>
        <div class="flex row row-inherit"><lvg-search-input board="$ctrl.board" project="$ctrl.project" data-lvg-has-permission="SEARCH" class="flex"></lvg-search-input></div>
        <md-button class="md-icon-button" data-lvg-has-permission="PROJECT_ADMINISTRATION" data-ui-sref="projectManage.project({projectName: $ctrl.project.shortName})">
            <md-tooltip><span translate>common.project-settings</span></md-tooltip>
            <md-icon md-svg-icon="settings"></md-icon>
        </md-button>
        <lvg-navbar-action-panel login="$ctrl.login()"></lvg-navbar-action-panel>
    </div>
</md-toolbar>
