<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" data-ng-click="$ctrl.toggleSidebar()"><md-icon md-svg-icon="menu"></md-icon></md-button>
        <h2>{{::$ctrl.board.shortName}}</h2>
        <lvg-search-input board="$ctrl.board" project="$ctrl.project" data-lvg-has-permission="SEARCH" flex></lvg-search-input>
        <md-button class="md-icon-button" data-lvg-has-permission="PROJECT_ADMINISTRATION" data-ui-sref="projectManage.project({projectName: $ctrl.project.shortName})">
            <md-tooltip>{{'common.project-settings' | translate}}</md-tooltip>
            <md-icon md-svg-icon="settings"></md-icon>
        </md-button>
        <md-button class="md-icon-button" data-lvg-is-authenticated ui-sref="account">
            <md-tooltip>{{'partials.fragments.sidebar.profile' | translate}}</md-tooltip>
            <md-icon md-svg-icon="person"></md-icon>
        </md-button>
        <md-button data-lvg-is-not-authenticated data-ng-click="$event.preventaDefault(); $ctrl.login()"><span data-translate>index.navbar.login</span></md-button>
    </div>
</md-toolbar>