.lvg-project-milestone__progress {
    margin-bottom: 5px;
    height: 5px;
}

.lvg-project-milestone__progress-bar {
    height:5px;
    float:left;
}

.lvg-project-milestone__align-right {
    text-align: right;
}

.lvg-project-milestone__status {
    display: inline-block;
    margin-right:2px;
}