<lvg-navbar-search project="lvgSearch.project"></lvg-navbar-search>

<div class="lvg-content">

    <lvg-search-controls  select-all-in-page="lvgSearch.selectAllInPage"
                      deselect-all-in-page="lvgSearch.deselectAllInPage"
                      selected-cards-count="lvgSearch.selectedCardsCount"
                      in-project="lvgSearch.inProject"
                      collect-ids-by-project="lvgSearch.collectIdsByProject"
                      trigger-search="lvgSearch.triggerSearch"></lvg-search-controls>

    <lvg-search-result
	    count="lvgSearch.count"
	    query="lvgSearch.query"
	    page="lvgSearch.page"
	    move-to-page="lvgSearch.moveToPage"
	    found="lvgSearch.found"
	    project="lvgSearch.project"
	    selected="lvgSearch.selected"
	    card-fragment-dependencies="lvgSearch.cardFragmentDependencies"></lvg-search-result>
</div>

<div data-ui-view data-autoscroll="false"></div>
