<lvg-navbar-search project="$ctrl.project"></lvg-navbar-search>

<div class="lvg-content">

    <lvg-search-controls select-all-in-page="$ctrl.selectAllInPage"
                      deselect-all-in-page="$ctrl.deselectAllInPage"
                      selected-cards-count="$ctrl.selectedCardsCount"
                      in-project="$ctrl.inProject"
                      collect-ids-by-project="$ctrl.collectIdsByProject"
                      trigger-search="$ctrl.triggerSearch"
                      project="$ctrl.project"
                      count="$ctrl.count"></lvg-search-controls>

    <lvg-search-result
	    count="$ctrl.count"
	    query="$ctrl.query"
	    page="$ctrl.page"
	    count-per-page="$ctrl.countPerPage"
	    total-pages="$ctrl.totalPages"
	    current-page="$ctrl.currentPage"
	    move-to-page="$ctrl.moveToPage"
	    found="$ctrl.found"
	    project="$ctrl.project"
	    selected="$ctrl.selected"
	    user="$ctrl.user"></lvg-search-result>
</div>

<div data-ui-view data-autoscroll="false"></div>
