.lvg-stats-panel__description {
	padding-right:8px;
	display: table-cell;
    vertical-align: top;
    width: 100%;
}

.lvg-stats-panel__count {
	padding-top:8px;
	font-size:12px;
	color: rgba(0,0,0,.65);
}

.lvg-stats-panel__icon {
	display:inline-block;
}

.lvg-stats-panel__chart {
    flex: 0 0 150px;
}
