<div class="row row-inherit">
    <div class="col-md-8 col-xs-12">
        <lvg-create-card-description title="$ctrl.card.title"
                                     description="$ctrl.card.description"
                                     labels="$ctrl.card.labels"
                                     user-labels="$ctrl.project.metadata.userLabels"
                                     on-update="$ctrl.onUpdateDescription($title, $description, $labels)"></lvg-create-card-description>

        <lvg-create-card-files files="$ctrl.card.files" on-uploaded="$ctrl.onUploaded($file)"></lvg-create-card-files>
    </div>
    <div class="col-md-4 col-xs-12">
        <lvg-create-card-metadata column-id="$ctrl.card.columnId"
                                  due-date="$ctrl.card.dueDate"
                                  milestone="$ctrl.card.milestone"
                                  milestones="$ctrl.milestones"
                                  columns="$ctrl.columns"
                                  on-update="$ctrl.onUpdateMetadata($columnId, $dueDate, $milestone)"></lvg-create-card-metadata>

        <lvg-create-card-people users="$ctrl.users"
                                on-update="$ctrl.onUpdateUsers($users)"></lvg-create-card-people>

        <lvg-create-card-action-lists action-lists="$ctrl.actionLists"
                                      on-update="$ctrl.onUpdateActionLists($actionLists)"></lvg-create-card-action-lists>
    </div>
</div>
