<ul class="lvg-pagination">
    <li class="lvg-pagination__li">
        <md-button class="md-icon-button lvg-pagination__button" ng-click="$ctrl.changePage({'$page': $ctrl.currentPage -1})" ng-disabled="$ctrl.currentPage == 1">
            <md-icon md-svg-icon="chevron-left"></md-icon>
        </md-button>
    </li>
    <li ng-repeat="page in $ctrl.pages" class="lvg-pagination__li">
        <md-button ng-if="page.value !== undefined" ng-click="$ctrl.changePage({'$page': page.value})" class="md-icon-button lvg-pagination__button" ng-class="{'lvg-pagination__current-page' : page.value === $ctrl.currentPage}"><span class="lvg-pagination__page">{{page.text}}</span></md-button>
        <span ng-if="page.value === undefined">{{page.text}}</span>
    </li>
    <li class="lvg-pagination__li">
        <md-button class="md-icon-button lvg-pagination__button" ng-click="$ctrl.changePage({'$page': $ctrl.currentPage +1})" ng-disabled="$ctrl.currentPage == $ctrl.totalPages">
            <md-icon md-svg-icon="chevron-right"></md-icon>
        </md-button>
    </li>
</ul>