<div class="col-xs-12">
	<div class="lavagna-panel" data-ng-class="{collapsed : !smtpEnabled}">
		<div class="head clearfix headonly">
			<div class="title title-bold col-xs-9" data-translate>partials.admin.manage-smtp-configuration.title</div>
			<div class="title-addon col-xs-3 lvg-switch-controls">
				<ul class="panel-controls">
					<li class="control-no-action">
						<lvg-switch switch-class="lvg-switch" control="smtpEnabled"></lvg-switch>
					</li>
				</ul>
			</div>
		</div>
		<div class="body separated">
		<form name="smtpForm" data-ng-submit="smtpForm.$valid && saveSmtpConfig(configuration)" novalidate>
			<div class="form-group">
				<div class="lvg-form-label" data-translate>partials.admin.manage-smtp-configuration.host</div> 
				<input class="form-control" type="text" name="host" data-ng-model="configuration.host" required>
				 <div class="has-error" data-ng-show="smtpForm.$submitted || smtpForm.host.$touched">
                      <span class="help-block" data-ng-show="smtpForm.host.$error.required">host is required !.</span>
                 </div>
			</div>
			  
			<div class="form-group">
				<div class="lvg-form-label" data-translate>partials.admin.manage-smtp-configuration.port</div> 
				<input class="form-control" type="number" name="port" data-ng-model="configuration.port" required>
				<div class="has-error" data-ng-show="smtpForm.$submitted || smtpForm.port.$touched">
                      <span class="help-block" data-ng-show="smtpForm.port.$error.required">port is required !.</span>
                 </div>
			</div>
			<div class="form-group">
				<div class="lvg-form-label" data-translate>partials.admin.manage-smtp-configuration.protocol</div> 
				<select class="form-control" type="text" name="protocol" data-ng-model="configuration.protocol" required>
					<option value="smtp">smtp</option>
					<option value="smtps">smtps</option>
				</select>
				<div class="has-error" data-ng-show="smtpForm.$submitted || smtpForm.protocol.$touched">
                      <span class="help-block" data-ng-show="smtpForm.protocol.$error.required">protocol is required !.</span>
                 </div>
			</div>
			<div class="form-group">
				<div class="lvg-form-label" data-translate>partials.admin.manage-smtp-configuration.username</div> 
				<input class="form-control" type="text" data-ng-model="configuration.username" name="username" required>
				<div class="has-error" data-ng-show="smtpForm.$submitted || smtpForm.username.$touched">
                      <span class="help-block" data-ng-show="smtpForm.username.$error.required">username is required !.</span>
                 </div>
			</div>
			<div class="form-group">
				<div class="lvg-form-label" data-translate>partials.admin.manage-smtp-configuration.password</div>
				<input class="form-control" type="password" data-ng-model="configuration.password" name="password" required>
				<div class="has-error" data-ng-show="smtpForm.$submitted || smtpForm.password.$touched">
                      <span class="help-block" data-ng-show="smtpForm.password.$error.required">password is required !.</span>
                 </div>
			</div>
	
			<div class="form-group">
				<div class="lvg-form-label" data-translate>partials.admin.manage-smtp-configuration.from</div>
				<input class="form-control" type="email" name="from" data-ng-model="configuration.from" required>
				<div class="has-error" data-ng-show="smtpForm.$submitted || smtpForm.from.$touched">
                      <span class="help-block" data-ng-show="smtpForm.from.$error.required">from E-Mail is required !.</span>
                 </div>
			</div>
	
			<div class="form-group">
				<div class="lvg-form-label" data-translate>partials.admin.manage-smtp-configuration.properties</div>
				<textarea class="form-control" data-ng-model="configuration.properties"></textarea>
			</div>
	 
	 
	 <div class="footer clearfix">
			<div class="content">
					<div>
						<button type="submit" class="lvg-button lvg-button-submit" data-translate>button.save</button>
						<button type="button" class="lvg-button lvg-button-default"
							data-ng-click="openSmtpConfigModal()"><span data-translate>partials.admin.manage-smpt-configuration.sendTestEmail</span></button>
					</div>
			</div>
	</div>
	</form>
		</div>		
	</div>
</div>