<div class="lavagna-container-bottom-margin col-sm-6 col-xs-12">
	<div class="lavagna-form-panel">
		<div class="search-bar" data-ng-init="username">
			<div class="search-user-form inner-addon left-inner-addon">
				<i class="fa fa-search"></i>
				<input type="text" placeholder="{{'partials.fragments.common-manage-roles.searchUsername' | translate}}" class="form-control" data-ng-model="username" 
					lvg-user-list="userList" lvg-user-list-local-model="users"/>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-6 col-xs-12">
	<div class="lavagna-container-bottom-margin lavagna-transpartent-panel" data-ng-hide="addNewUser || bulkUserImport">
		<div class="form-group pull-right">
			<button type="button" class="lvg-button lvg-button-submit" data-ng-click="addNewUser = true">
				<span class="fa fa-plus"></span>
				<span data-translate>partials.admin.manage-users.addUser</span>
			</button>
			<button type="button" class="lvg-button lvg-button-submit" data-ng-click="bulkUserImport = true">
				<span class="fa fa-upload"></span>
				<span data-translate>partials.admin.manage-users.import</span>
			</button>
		</div>
	</div>
</div>

<div class="col-sm-6 col-xs-12">
	<div class="lavagna-container-bottom-margin lavagna-form-panel" data-ng-show="addNewUser">
		<form role="form" data-ng-submit="addUser(userToAdd);">
			<div class="form-group">
				<label data-translate>partials.admin.manage-users.provider</label> 
				<select class="form-control"
					data-ng-model="userToAdd.provider"
					data-ng-options="val for val in loginProviders"
					required>
				</select>
			</div>
			<div class="form-group">
				<label data-translate>partials.admin.manage-users.username</label> 
				<input class="form-control" data-ng-model="userToAdd.username" required>
			</div>
			<div class="form-group">
				<label data-translate>partials.admin.manage-users.email</label> 
				<input class="form-control" data-ng-model="userToAdd.email">
			</div>
			<div class="form-group">
				<label data-translate>partials.admin.manage-users.displayName</label> 
				<input class="form-control" data-ng-model="userToAdd.displayName">
			</div>
			<div class="form-group" data-ng-init="userToAdd.roles = {}">
				<label data-translate>partials.admin.manage-users.roles</label>
				<ul class="lvg-roles-panel-list">
					<li data-ng-repeat="role in roles">
						<label><input data-ng-model="userToAdd.roles[role]" type="checkbox"><span>{{role}}</span></label>
					</li>
				</ul>
			</div>
			<div class="checkbox">
				<label> 
					<input type="checkbox" data-ng-model="userToAdd.enabled"> <span data-translate>partials.admin.manage-users.enabled</span>
				</label>
			</div>
			<button type="submit" class="lvg-button lvg-button-submit"><span class="fa fa-plus"></span> <span data-translate>partials.admin.manage-users.addUser</span></button>
			<button type="button" class="lvg-button lvg-button-default" data-ng-click="addNewUser = false"><span data-translate>partials.admin.manage-users.cancel</span></button>
		</form>
	</div>
</div>

<div class="col-sm-6 col-xs-12">
	<div class="lavagna-container-bottom-margin lavagna-form-panel" data-ng-show="bulkUserImport">
		<form role="form" data-ng-submit="bulkImport()">
			<div class="form-group">
				<div class="lvg-button lvg-button-submit" ng-file-select="onFileSelect($files)"><span data-translate>button.fileSelect</span></div>
				<div data-ng-if="importUserFile != null">{{importUserFile.name}}</div>
				<div data-ng-if="importUserFile == null" data-translate>common.no-files-selected</div>
			</div>
			<button type="submit" class="lvg-button lvg-button-submit" data-translate data-ng-disabled="importUserFile == null">partials.admin.manage-users.import</button>
			<button type="button" class="lvg-button lvg-button-default" data-ng-click="bulkUserImport = false"><span data-translate>button.cancel</span></button>
		</form>
	</div>
</div>

<div class="col-md-12 col-xs-12">
	<div class="lavagna-panel">
		<div class="body-full">
			<div data-ng-if="userList.length > 20">
			<pagination ng-model="userListPage" total-items="userList.length" items-per-page="20" 
				class="lvg-panel-top-pagination pagination-sm" rotate="false" ng-change="switchPage(userListPage)"></pagination>
			</div>
			<table class="table table-striped table-bordered lvg-table">
				<thead>
					<tr>
						<th data-translate>partials.admin.manage-users.provider</th>
						<th data-translate>partials.admin.manage-users.username</th>
						<th data-translate>partials.admin.manage-users.email</th>
						<th data-translate>partials.admin.manage-users.displayName</th>
						<th data-translate>partials.admin.manage-users.enabled</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="u in users | usersInList:userList | usersPagination:20:userListPage">
						<td data-ng-bind="u.provider"></td>
						<td data-ng-bind="u.username"></td>
						<td data-ng-bind="u.email"></td>
						<td data-ng-bind="u.displayName"></td>
						<td><input data-ng-show="u.id != currentUser.id"
							type="checkbox" data-ng-model="u.enabled"
							data-ng-change="updateUserStatus(u.id, u.enabled)"> <input
							data-ng-show="u.id == currentUser.id" type="checkbox"
							data-ng-model="u.enabled" disabled="disabled"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>